﻿
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}
<link href="@Url.Content("~/assets/css/Userdashboard.css")" rel="stylesheet" />

<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header"></header>
        <div class="col-md-12  col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="thin text-center">Client Home Page</h3>
                    <hr>
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <a class="btn " href="@Url.Action("index","therapist")">
                                        <span>Therapist Profiles/Book Appt</span> <br />
                                        <img src="@Url.Content("~/assets/images/therapy.png")" title="Therapist Profiles" alt="Therapist Profiles" />
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="btn " href="@Url.Action("MyAccount","Account")">
                                        <span>My Profile</span><br />
                                        <img class="width64" src="@Url.Content("~/assets/images/profile.png")" alt="My Account" />
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="btn " href="@Url.Action("chat","Account")">
                                        <span>Chat</span><br />
                                        <img class="width64" src="@Url.Content("~/assets/images/chat.jpg")" alt="My Account" />
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="btn" href="@Url.Action("pending_appt", "Account")">
                                        <span>Pending Appointment</span> <br />
                                        <img class="width64" src="@Url.Content("~/assets/images/pendingappoint.png")" title="GetPendingAppointments" alt="GetPendingAppointment" />
                                    </a>
                                </div><div class="clearfix"></div>
                                <div class="col-lg-3">
                                    <a class="btn" href="@Url.Action("confirmed_appt", "Account")">
                                        <span>Confirm Appointment</span> <br />
                                        <img class="width64" src="@Url.Content("~/assets/images/confiemd.png")" title="GetConfirmAppointments" alt="GetConfirmAppointment" />
                                    </a>
                                </div>
                                <div class="col-lg-3">
                                    <a class="btn " href="@Url.Action("my_review","Account")">
                                        <span>Previous Review</span> <br />
                                        <img class="width64" src="@Url.Content("~/assets/images/feedback.png")" title="GetTherapistFeedBackByClient" alt="GetSummarybySearch" />
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </article>
</div>