﻿@model californiaspa.Models.booking.ClientSurveymodel
@{ var dict = new Dictionary<string, string>
                                                            ();
    dict.Add("True", "Yes");
    dict.Add("False", "No");
}

@helper FormatComment(string Comment)
{
if (!string.IsNullOrEmpty(Comment) && Comment != "N/A")
{
        <span>@Comment</span>
}
else
{
        <span>N/A</span>
}
}
@helper FormatTrueFalse(string Comment)
{
if (Comment.ToUpper() == "FALSE")
{
        <span>No</span>
}
else
{
        <span>Yes</span>
}
}

<link href="@Url.Content("~/assets/css/Booking.css")" rel="stylesheet" />
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                Close[&times;]
            </button>
            <h4 class="modal-title">Survey Feedback for @Model.tname by @Model.therapistName</h4>
        </div>
        <div class="modal-body">
            <div class="col-md-7">
                <div class="top-margin">
                    @Html.HiddenFor(a => a.token)
                    <label>Was Clients address location given accurate?</label><br />
                    @FormatTrueFalse(Model.Q1.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q1Comment)
                </div>
                <div class="top-margin">
                    <label>Did client delay start of session?</label><br />
                    @FormatTrueFalse(Model.Q2.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q2Comment)
                </div>
                <div class="top-margin">
                    <label>Was Clients Location reasonably clean?</label><br />
                    @FormatTrueFalse(Model.Q3.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q3Comment)
                </div>
                <div class="top-margin">
                    <label>Was Clients neighbourhood safe?</label><br />
                    @FormatTrueFalse(Model.Q4.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q4Comment)
                </div>
            </div>
            <div class="col-md-5">
                <div class="top-margin">
                    <label>Was client polite and respectful?</label><br />
                    @FormatTrueFalse(Model.Q5.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q5Comment)
                </div>
                <div class="top-margin">
                    <label>Didi client tip you reasonably?</label><br />
                    @FormatTrueFalse(Model.Q6.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q6Comment)
                </div>
                <div class="top-margin">
                    <label>Would you like to repeat the client in future?</label><br />
                    @FormatTrueFalse(Model.Q7.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q7Comment)
                </div><div class="top-margin">
    <label>Did he ask for your number or contact info or if you could come direct?</label><br />
    @FormatTrueFalse(Model.Q8.ToUpper())
    <br />
    <label>Comment :</label>@FormatComment(Model.Q8Comment)
</div>
                <div class="top-margin">
                    <label>Total Score out of 10 : 10 best 1 Worst</label><br />
                    <span>@Model.rating</span>
                </div>
            </div>
            <hr>

            <div class="clearfix"></div>
            <div class="row">
                <span id="error" class="autohide error"></span>
            </div>

        </div>

    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">

    </div>

</div>



<script>



    $("input[type=radio]").attr('disabled', true);
    $("input[type=text]").attr('disabled', true);
</script>



