﻿
@model californiaspa.Models.booking.Surveymodel
@{ var dict = new Dictionary<string, string>
                                              ();
    dict.Add("True", "Yes");
    dict.Add("False", "No");
}

@helper FormatComment(string Comment)
{
if (!string.IsNullOrEmpty(Comment)&& Comment!="N/A")
{
        <span>@Comment</span>
}
else
{
        <span>N/A</span>
}
}
@helper FormatTrueFalse(string Comment)
{
if (Comment.ToUpper() == "FALSE")
{
        <span>No</span>
}
else
{
        <span>Yes</span>
}
}

<link href="@Url.Content("~/assets/css/Booking.css")" rel="stylesheet" />
<div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                Close[&times;]
            </button>
            <h4 class="modal-title"> Survey Feedback for @Model.tname </h4>
        </div>
        <div class="modal-body">
            <div class="col-md-7">
                <div class="top-margin">
                    @Html.HiddenFor(a => a.token)
                    <label>Did she come on time?</label><br />
                    @FormatTrueFalse(Model.Q1.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q1Comment)
                </div>
                <div class="top-margin">
                    <label>Greet you ?</label><br />
                    @FormatTrueFalse(Model.Q2.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q2Comment)
                </div>
                <div class="top-margin">
                    <label>Asked how you were Doing?</label><br />
                    @FormatTrueFalse(Model.Q3.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q3Comment)
                </div>
                <div class="top-margin">
                    <label>Asked if you had any ache or pains?</label><br />
                    @FormatTrueFalse(Model.Q4.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q4Comment)
                </div>
                <div class="top-margin">
                    <label>Inquire if pressure was OK?</label><br />
                    @FormatTrueFalse(Model.Q5.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q5Comment)
                </div>
                <div class="top-margin">
                    <label>Play relaxing Music?</label><br />
                    @FormatTrueFalse(Model.Q6.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q6Comment)
                </div>
                <div class="top-margin">
                    <label>Burn Incense?</label><br />
                    @FormatTrueFalse(Model.Q7.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q7Comment)
                </div>
                <div class="top-margin">
                    <label>Did you like Oil therapist used?</label><br />
                    @FormatTrueFalse(Model.Q13.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q13Comment)
                </div>


            </div>
            <div class="col-md-5">

                <div class="top-margin">
                    <label>Use Ayurvedic Ointment for Pains?</label>
                    <br />
                    @FormatTrueFalse(Model.Q8.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q8Comment)
                </div>

                <div class="top-margin">
                    <label>Do full 90 mins?</label><br />
                    @FormatTrueFalse(Model.Q9.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q9Comment)
                </div>

                <div class="top-margin">
                    <label>Cover all areas : Back,Butt, Legs, Calves, Knees, Arms, Hands, Feet, Neck, Head, Belly, Head, Face</label>
                    <br />
                    @FormatTrueFalse(Model.Q10.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q10Comment)
                </div>

                <div class="top-margin">
                    <label>Ask if you wanted any area repeated?</label><br />
                    @FormatTrueFalse(Model.Q11.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q11Comment)
                </div>

                <div class="top-margin">
                    <label>Total paid including tips?</label>
                  @FormatComment(Model.Pay) 
                </div>
                <div class="top-margin">
                    <label>Any suggestions for Improvement?</label><br />
                    @FormatTrueFalse(Model.Q12.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q12Comment)
                </div>


                <div class="top-margin">
                    <label>Total Score out of 10 : 10 best 1 Worst</label><br />
                    <span>@Model.rating</span>
                </div>
                <div class="top-margin">
                    <label>Was therapist on phone a lot?</label><br />
                    @FormatTrueFalse(Model.Q14.ToUpper())
                    <br />
                    <label>Comment :</label>@FormatComment(Model.Q14Comment)

                </div>
                <div class="top-margin"> 
                    <label>Feedback Summary :</label>@FormatComment(Model.Q15Comment) 
                </div>
            </div>
            <hr>

            <div class="clearfix"></div>
            <div class="row">
                <span id="error" class="autohide error"></span>
            </div>

        </div>

    </div>
    <div class="clearfix"></div>
    <div class="modal-footer">

    </div>

</div>
    


<script> 
    $("input[type=radio]").attr('disabled', true);
    $("input[type=text]").attr('disabled', true);
</script>


