﻿
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section meta{
   <meta property="og:title" content="Bangalores leading Home and  Door Step and Hotel  Massage by Professional Female SPA therapist ">
<meta property="og:description" content="We provide top quality low cost massage and SPA services which include Home Massage, Door Step Massage, Hotel Massage, Female Massage, Full Body Massage by Professional Courteous well trained SPA therapists">
<meta name="twitter:description" content="We provide top quality low cost massage and SPA services which include Home Massage, Door Step Massage, Hotel Massage, Female Massage, Full Body Massage by Professional Courteous well trained SPA therapists">
    <meta name="twitter:title" content="Bangalores leading Home and  Door Step and Hotel  Massage by Professional Female SPA therapist ">
}
<style>
    .box65
    {
     width:65%  !important;
    }

     .box50
    {
      
    }
 @@media screen and (min-width:623px) and (max-width:767px) {
        .JobDivbox {
            margin-left: 154px !important;
        }
    }
</style>
<script src="@Url.Content("~/assets/slider/responsiveslides.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/assets/slider/responsiveslides.css")">
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link href="@Url.Content("~/assets/css/MainIndex.css")" rel="stylesheet" />

<div class="row">

    <article class="col-xs-12 maincontent col-md-12 col-sm-12">
        <div class="row" id="camera_wrap">
            <ul class="rslides">
                <li><img src="@Url.Content("~/assets/slider/images/21.png")" alt=""></li>
                <li><img src="@Url.Content("~/assets/slider/images/female-massage-bangalore.png")" alt=""></li>
                <li><img src="@Url.Content("~/assets/slider/images/home_massage.png")" alt=""></li>
                <li><img src="@Url.Content("~/assets/slider/images/i2.png")" alt=""></li>

            </ul>
        </div>
        <div class="row text-center">
            <img class="height68" src="@Url.Content("~/assets/slider/images/Decorative-Line-Gold-PNG-Image.png")" alt="">
        </div>
        <div class="row">
            <div class="col-md-12 border-title">
                <h3>Exhilirating Massage for Body Mind And Soul</h3>
                <div class="ico-border"> <i class="ico-bg flower"></i></div>
                <span class="tag-line">California Massage Sanctuary</span>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="font29">
                    We are a Professional Licensed high quality SPA service that provides Massage Therapy to clients all over Bangalore. Our  focus is on an integrative approach for Body, Mind and Soul.We are a door step home massage service only.If you  do not have a location we can assist you in arranging a hotel at a cost of approximately  Rs 1000.
                </span>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 border-title text-center">

                <img src="@Url.Content("~/assets/images/footer-top-logo.png")"
                     alt="footer-top-logo">
            </div><div class="clearfix">
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                <img src="@Url.Content("~/assets/slider/images/home1.png")" alt="">
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <table class="col-md-12 col-sm-12 col-lg-12">
                <tr>
                    <td class="col-md-4 col-sm-4 col-lg-4 "></td>
                    <td class="col-md-4 col-sm-4 col-lg-4 ">
                        <p class="box box65 effect1 text-center">
                            <strong>
                                Why choose California Spa for spa massage treatment?
                            </strong>
                        </p>
                    </td>
                    <td class="col-md-4 col-sm-4 col-lg-4 "></td>
                </tr>
            </table>

        </div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 pst col81d742">
                <p>
                    A good contented soul and peaceful
                    mind can do lot of magical wonders. The comprehensive spa
                    and massage treats is one of the best gift to appreciate
                    the holistic soul.

                    At California Spa a tired body
                    is not treated as a customer but as mankind of passing on
                    the legacy of wellness. The comprehensive treatments at
                    <span class="colb30af3">
                        <strong class="colb30af3">
                            <a class="colb30af3"
                               href="https://www.californiamassage.in/">
                                massage Bangalore
                            </a>
                        </strong>
                    </span> not only
                    enhances the radiance of your skin but also offers a
                    great help in relaxing your muscles and further heal mind body and soul.

                    Right from the ancient rich herbs to expert contemporary wellness solutions,
                    the wellness and massage treatments are surely a bundle of bliss.
                    A comforted environment and professional therapists do extremely take
                    care that you have a relaxing memorable experience..

                    California Spa has various treatments that can do the work of soothing the
                    tense muscles, adding glory to your skin and offering you with intense wellness
                    solutions for integrating body mind and soul.

                    In sphere of
                    <span class="colb30af3">
                        <strong class="colb30af3">
                            <a class="colb30af3"
                               href="https://www.californiamassage.in/">
                                body massage Bangalore
                            </a>,
                        </strong>
                    </span>California Spa has an unmatched reputation,
                    expertise and experience in various massage treatments like:-
                </p>
                <p>
                    For a description of various types of massage offered by California SPA please visit
                    <span class="colb30af3">
                        <strong class="colb30af3">
                            <a class="colb30af3"
                               href="https://www.californiamassage.in/">
                                Massage Style
                            </a>
                        </strong>
                    </span>
                </p>
                <p>
                    The unwinding approach after the spa and friendly pampered treatments provided here offer quite relaxation. The treatments done here offers floatation energy. In order to give complete rejuvenation solutions.The simple and hassle free processes here, lets you to book your appointments for the treatments easily.Wellness is blessing and therefore to offer you with complete ecstasy of wellness solutions, special membership programs and gift vouchers are also available.
                </p><p>
                    Wellness is blessing and therefore to offer you with complete ecstasy of wellness solutions, special membership programs and gift vouchers are also available.
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <table class="col-md-12 col-sm-12 col-lg-12">
                <tr>
                    <td class="col-md-4 col-sm-4 col-lg-4"></td>
                    <td class="col-md-4 col-sm-4 col-lg-4">
                        <p class="box effect1 text-center box65">
                            <strong>
                                WHAT MAKES US SO UNIQUE
                            </strong>
                        </p>
                    </td>
                    <td class="col-md-4 col-sm-4 col-lg-4"></td>
                </tr>
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 pst">
                <ul>
                    <li class="col81d742">Decent well dressed personable therapists</li>
                    <li class="col81d742">Trained to California standards</li>
                    <li class="col81d742">90 mins is exact and not compromised</li>
                    <li class="col81d742">We blend our own oils with Ayurvedic herbs and flower essences</li>
                    <li class="col81d742">We use high quality Incense for fragrance</li>
                </ul>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 pst">
                <ul>
                    <li class="col81d742">We bring soothing Meditative music</li>
                    <li class="col81d742">We have a special Ayurvedic ointment for pain relief</li>
                    <li class="col81d742">Our Prices are fixed and we do not quote one price and come and charge you another</li>
                    <li class="col81d742">Find out why we have mostly satisfied repeat clientele</li>
                    <li class="col81d742">Check out our true Client feedback on the Testimonial page of our web site</li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <table class="col-md-12 col-sm-12 col-lg-12"> 
                <tr>
                    <td class="col-md-4 col-sm-4 col-lg-4"></td>
                    <td class="col-md-4 col-sm-4 col-lg-4">
                        <p class="box effect1 text-center box50">
                            <strong>
                                Most Popular Services
                            </strong>
                        </p>
                    </td>
                    <td class="col-md-4 col-sm-4 col-lg-4">
                    <td></td>
                </tr>

            </table>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-lg-6 pst">
                <ul>
                    <li>
                        <a class="colb30af3" href="https://californiamassage.in/main/FemaleMassage">
                            Female Massage Bangalore
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6 pst">
                <ul>
                    <li>
                        <a class="colb30af3" href="https://californiamassage.in/main/HomeMassage">Home Massage Bangalore </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <table  class="col-md-12 col-sm-12 col-lg-12">
                
                <tr>
                    <td class="col-md-4 col-sm-4 col-lg-4"></td>
                    <td class="col-md-4 col-sm-4 col-lg-4">
                        <p class="box effect1  text-center box65">
                            <strong>
                                What are the Benefits of Body Massage
                            </strong>
                        </p>
                    </td>
                    <td class="col-md-4 col-sm-4 col-lg-4"></td>
                    
                </tr> 
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 pst col81d742">
                <p>
                    Massage is one therapy that has universal acceptance in terms of its benefits. Western system of medicine, Indian Ayurveda, Chinese medicine all have unanimously extolled its benefits. Methods and practices differ widely but each system has its proven benefits. Massage has a history of being used for thousands of year. It is truly the ancient answer to modern illnesses.
                </p>
                <p>
                    1) Blood Circulation
                </p>
                <p>
                    By massaging and rubbing the skin muscles and organs it stimulates the blood flow. Blood is the essence of life. It delivers oxygen nutrients and thus vitality and energy to the whole body. Then it collects carbon dioxide and other wastes and purifies the body. Slow blood circulation makes fatty acids clog blood vessels. Most of us today lead very sedentary lives hence the importance of a good massage.
                </p>
                <p>
                    2) Lymph Drainage
                </p>
                <p>
                    The lymphatic system is a network of vessels that carry clear fluid called lymph. The lymph carries white blood cells and antigens and kills pathogens and carries dead cells and toxins from cells. It strengthens the immune system. Most of the lymph vessels are located under the skin . To stimulate the lymphatic system we need slow light gentle massage strokes. Heavy strokes will bypass this system.
                </p>
                <p>
                    3) Relieves Headaches
                </p>
                <p>
                    The most common cause of headaches is muscle tension. By relaxing the muscles by massage the headaches are automatically relieved.
                </p>
                <p>4) Reduces Stress levels and promotes well being</p>
                <p>
                    Massage stimulates the production of the following chemicals:
                </p>
                <p>
                    a) Dopamine enhances mood and increases joy, inspiration enthusiasm.
                </p>
                <p>
                    b) Serotonin promotes a calming effect reduces irritability.
                </p>
                <p>
                    c) Endorphins which reduce swelling pain.
                </p>
                <p>
                    d)Reduces level of cortisol which causes stress.
                </p>
                <p>
                    5) Fulfils the need for nurturing love and touch
                <p>
                    All of us have this intense biological need to be loved and touched. Instead of recognizing it and fulfilling it in healthy way we seek to sex. But it doesn’t satisfy so we become addicts. What we really need is the nurturing warm healing touch of a trained caring massage therapist. This stimulates oxytocin the hormone of love calm and connectedness.
                </p>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <table class="col-md-12 col-sm-12 col-lg-12">
               
                <tr >
                    <td class="col-md-4 col-sm-4 col-lg-4"></td>
                    <td class="col-md-4 col-sm-4 col-lg-4">
                        <p class="box effect1 text-center box65">
                            <strong>
                                Body Massage at California SPA in Bangalore
                            </strong>
                        </p>
                    </td>
                    <td class="col-md-4 col-sm-4 col-lg-4"></td> 
                </tr> 
            </table>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-lg-12 pst col81d742">
                <p>
                    The owner of California SPA Anil has a life long passion for health wellness and natural
                    cures including but not limited to naturopathy,
                    yoga, meditation, ayurveda, body massage,
                    homeopathy etc. He has trained in some of
                    the best Massage training institutes in the
                    world located in California. Some of these are
                    the Santa Monica School of Massage in Los Angeles
                    which specializes in the Swedish style of massage.
                    Also the Intuitive School of Massage in Santa
                    Barbara which emphasizes on a Mind Body Spirit
                    approach. Then the world famous Harbin School of
                    Massage located at Harbin Hot Springs (<a class="colb30af3" href="http://www.harbin.org" target="_blank" rel="noopener">www.harbin.org</a>)
                    which is a pioneer in soulful techniques with even
                    greater focus on energy healing.
                    Watsu and Tantsu were invented
                    here by the creative master Harold Dull.
                    Owner was also influenced by the Esalen
                    institute in Big Sur (<a class="colb30af3" href="http://www.esalen.org" target="_blank" rel="noopener">www.esalen.org</a>) which developed the long free flowing strokes in healing body massage. Other influences have been ayurveda oils and ointment.
                    We custom blend our own oils and we use another high quality ointment for aches and pains. We try make a harmonious eclectic mix of all the above to create a unique style which is often imitated but never replicated. Each and every therapist is retrained in our unique style no matter how many years of previous experience they have had. Soothing meditative music , ayurveda incense, potent ayurveda ointment and our custom aromatic oils for the basis of our treatment. We send a quality control checklist to each client before the massage. If there are any issues they are encouraged to call the center during the session so that it can be immediately rectified. We offer a wide range of massage styles and techniques. Each client can select the one he or she wants or a combination. The price is the same irrespective of the style the client chooses. We encourage the client and therapist to communicate their feedback and needs to each other so that expectations are clear and so that the therapist can customize the session. Therapist will ask to check if pressure is OK and if client wants any areas repeated. For body massage in Bangalore including home massage Bangalore, door step message Bangalore, hotel massage Bangalore and female massage BangaloreThe owner of California SPA Anil has a life long passion for health wellness and natural cures including but not limited to naturopathy, yoga, meditation, ayurveda, body massage, homeopathy etc. He has trained in some of the best Massage training institutes in the world located in California. Some of these are the Santa Monica School of Massage in Los Angeles which specializes in the Swedish style of massage. Also the Intuitive School of Massage in Santa Barbara which emphasizes on a Mind Body Spirit approach. Then the world famous Harbin School of Massage located at Harbin Hot Springs which is a pioneer in soulful techniques with even greater focus on energy healing. Watsu and Tantsu were invented here by the creative master Harold Dull. Owner was also influenced by the Esalen institute in Big Sur which developed the long free flowing strokes in healing body massage. Other influences have been ayurveda oils and ointment. We custom blend our own oils and we use another high quality ointment for aches and pains. We try make a harmonious eclectic mix of all the above to create a unique style which is often imitated but never replicated. Each and every therapist is retrained in our unique style no matter how many years of previous experience they have had. Soothing meditative music , ayurveda incense, potent ayurveda ointment and our custom aromatic oils for the basis of our treatment. We send a quality control checklist to each client before the massage. If there are any issues they are encouraged to call the center during the session so that it can be immediately rectified. We offer a wide range of massage styles and techniques. Each client can select the one he or she wants or a combination. The price is the same irrespective of the style the client chooses. We encourage the client and therapist to communicate their feedback and needs to each other so that expectations are clear and so that the therapist can customize the session. Therapist will ask to check if pressure is OK and if client wants any areas repeated. For body massage in Bangalore including home massage Bangalore, door step message Bangalore, hotel massage Bangalore and female massage Bangalore.We offer a wide range of massage styles and techniques. Each client can select the one he or she wants or a combination. The price is the same irrespective of the style the client chooses. We encourage the client and therapist to communicate their feedback and needs to each other so that expectations are clear and so that the therapist can customize the session. Therapist will ask to check if pressure is OK and if client wants any areas repeated. For body massage in Bangalore including home massage Bangalore, door step message Bangalore, hotel massage Bangalore and female massage Bangalore please contact https://www.californiamassage.in

                </p>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row">
            <div class="col-md-2 col-sm-2 col-lg-2"></div>
            <div class="col-md-8 col-sm-8 col-lg-8 JobDivbordrbg JobDivbox effect1">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        JOB VACANCIES
                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        (Referral fee provided if we hire someone through you)

                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">

                    <span>
                        <em>
                            1)
                            &nbsp; SPA Therapist
                        </em>

                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        Looking for female candidates, part or full time
                        18 to 35 years, Fresher OK. Top compensation.
                        Accommodation available
                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        <em>2) Home and Office Assistant</em>
                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        Reliable lady 20 to 45 years for House Keeping,
                        Cooking, Misc errands. Top compensation.
                        Accommodation available
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2"></div>
        </div>

    </article>
    <!-- /Article -->
    <script>
        $(".rslides").responsiveSlides({
            auto: true,             // Boolean: Animate automatically, true or false
            speed: 500,            // Integer: Speed of the transition, in milliseconds
            timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
            pager: false,           // Boolean: Show pager, true or false
            nav: false,             // Boolean: Show navigation, true or false
            random: true,          // Boolean: Randomize the order of the slides, true or false
            pause: false,           // Boolean: Pause on hover, true or false
            pauseControls: true,    // Boolean: Pause when hovering controls, true or false
            //prevText: "Previous",   // String: Text for the "previous" button
            //nextText: "Next",       // String: Text for the "next" button
            //maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
            //navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
            //manualControls: "",     // Selector: Declare custom pager navigation
            //namespace: "rslides",   // String: Change the default namespace used
            // before: function () { },   // Function: Before callback
            // after: function () { }     // Function: After callback
            namespace: "callbacks",
            before: function () {
                $('.events').append("<li>before event fired.</li>");
            },
            after: function () {
                $('.events').append("<li>after event fired.</li>");
            }
        });
    </script>
</div>
