﻿
@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
} <script src="@Url.Content("~/assets/slider/responsiveslides.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/assets/slider/responsiveslides.css")">
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link href="@Url.Content("~/assets/css/MainIndex.css")" rel="stylesheet" />

<div class="row"> 
    <article class="col-xs-12 maincontent col-md-12 col-sm-12"> 
        <div class="row">
            <div class="col-md-2 col-sm-2 col-lg-2"></div>
            <div class="col-md-8 col-sm-8 col-lg-8 JobDivbordrbg JobDivbox effect1">
                <div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        JOB VACANCIES
                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        (Referral fee provided if we hire someone through you)

                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">

                    <span>
                        <em>
                            1)
                            &nbsp; SPA Therapist
                        </em>

                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        Looking for female candidates, part or full time
                        18 to 35 years, Fresher OK. Top compensation.
                        Accommodation available
                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        <em>2) Home and Office Assistant</em>
                    </span>
                </div><div class="col-md-12 col-sm-12 col-lg-12">
                    <span>
                        Reliable lady 20 to 45 years for House Keeping,
                        Cooking, Misc errands. Top compensation.
                        Accommodation available
                    </span>
                </div>
            </div>
            <div class="col-md-2 col-sm-2 col-lg-2"></div>
        </div> 
    </article>
    <!-- /Article -->
   
</div>