﻿
@{
    ViewBag.Title = "Testimonials";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="@Url.Content("~/assets/slider/responsiveslides.css")">
<link href="https://fonts.googleapis.com/css?family=Tangerine" rel="stylesheet">
<link href="@Url.Content("~/assets/css/MainIndex.css")" rel="stylesheet" />
<div class="row">

    <article class="col-xs-12 maincontent col-md-12 col-sm-12">
        <div class="row text-center">
            <img src="@Url.Content("~/assets/images/testimonials1-300x297.png")" alt="">
        </div>
        <div class="row pst text-center margintop25">
            <h3>
                Testimonials
            </h3>
            <div class="ico-border"> <i class="ico-bg flower"></i> </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst text-center">
            <span class="voiletImp tag-line">(These are true Verbatim unedited verifiable feedback from real clients)</span>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6 text-left leftpad8">
                <span class="font29">“The massage services are very professional. I have taken their services multiple times and it was very satisfactory. The masseuses are well mannered skilled and courteous. Good value for time and money when you want to relax your body and mind. Thanks California Massage Sanctuary for your services.”</span>
                <h2 class="voiletImp font35">SN</h2>
             </div>
            <div class="col-md-6 col-sm-6 col-lg-6 text-left leftpad8">
                <span class="font29">
                    “I had a great experience with California Massage Sanctuary. The therapists are well trained with a pleasing personality. The sessions are focused on pain relief and overall relaxation. The therapists create a warm ambiance and the sessions helped me relax. I strongly recommend this to all.”
                </span>
                <h2 class="voiletImp font35">CG</h2>
            </div>
        </div>

        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“Excellent ! I wish I could stay another day Mary is so good. Thank you for sending her”</span>
                </div>
                <h2 class="voiletImp font35">XU</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Very good massage. The best…My back pain went. Just let me now when Jesssica is free next”
                    </span>
                </div>
                <h2 class="voiletImp font35">MN</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“Good Masssage as usual. Many Thanks “</span>
                </div>
                <h2 class="voiletImp font35">AM</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Very Good Service Thanks”
                    </span>
                </div>
                <h2 class="voiletImp font35">TU</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">“Your service and massage is very good… k you..see you soon again “</span>
                </div><h2 class="voiletImp font35">VS</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “The massage is excellent and the attitude of the therapist is very nice. This is one of the best massage I got in Bangalore”
                    </span>
                </div><h2 class="voiletImp font35">CR</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“Thks for your services. This time also it was great”</span>
                </div><h2 class="voiletImp font35">SL</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Thank you so much once again. Mary was fantastic”
                    </span>
                </div><h2 class="voiletImp font35">SE</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“She was Brilliant !!”</span>
                </div><h2 class="voiletImp font35">SH</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Thanks for arranging a good service”
                    </span>
                    <h2 class="voiletImp font35">UL</h2>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“I like Sophies approach and massage technique, Really its good indeed”</span>
                </div><h2 class="voiletImp font35">RY</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Friendly prompt and a nice style of massage. Overall your service is easy to use and convenient”
                         
                    </span>
                </div><h2 class="voiletImp font35">SS</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“I like Sophies approach and massage technique, Really its good indeed”</span>
                </div><h2 class="voiletImp font35">RY</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Thanks she was good” 
                    </span>
                </div><h2 class="voiletImp font35">GL</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“The service was very good”</span>
                </div><h2 class="voiletImp font35">VS</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Thanks for the wonderful service”
                    </span>
                </div><h2 class="voiletImp font35">VH</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“Thanks it was amazing”</span>
                </div><h2 class="voiletImp font35">SA</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Awesome So kind of you Thanks again for the services”
                    </span>
                </div><h2 class="voiletImp font35">ST</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">“Thank you so much”</span>
                </div><h2 class="voiletImp font35">GR</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Thanks sober and pleasant”
                    </span>
                </div><h2 class="voiletImp font35">RR</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">“One of the best head massages I have got in a long time”</span>
                </div><h2 class="voiletImp font35">UM</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “A very good service from your therapist Mary Really enjoyed Thanks a lot sir for your service”
                    </span>
                </div><h2 class="voiletImp font35">MH</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“Loved the session with Pari never knew Ladies hand pressure could be that strong”</span>
                </div><h2 class="voiletImp font35">BT</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">
                        “G8 service thank you”
                    </span>
                </div><h2 class="voiletImp font35">VS</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">“Massage is done. She is just excellent…she did a very good job”</span>
                </div><h2 class="voiletImp font35">SP</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Kangnu is a great therapist. She gave a very therapeutic and professional massage”
                    </span>
                    <h2 class="voiletImp font35">KH</h2>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">“She came on time was really nice massage I got”</span>
                </div><h2 class="voiletImp font35">MJ</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Hello sir again a very good therapy session” 
                    </span>
                </div><h2 class="voiletImp font35">TM</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“Very best service Keep it up Thanks”</span>
                </div><h2 class="voiletImp font35">MN</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Massage was really good Thanks I will contact you next week for same”
                    </span>
                </div><h2 class="voiletImp font35">MJ</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“She finished I felt very good thanks”</span>
                </div><h2 class="voiletImp font35">SL</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “It was one of the best experience I had she took care of everything”
                    </span>
                </div><h2 class="voiletImp font35">RV</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
              
                <div class="text-left leftpad8">
                    <span class="font29">“Mary is a total professional. Am very pleased with her.Very sweet and gentle”</span>
                </div><h2 class="voiletImp font35">DL</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Very nicely done massage 10 on 10”
                    </span>
                </div><h2 class="voiletImp font35">KT</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">“It was very good experience I would rate 9”</span>
                </div><h2 class="voiletImp font35">BU</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                
                <div class="text-left leftpad8">
                    <span class="font29">
                        “Everything was fine and amazing I would rate 9/10”
                    </span>
                </div><h2 class="voiletImp font35">SH</h2>
            </div>
        </div>
        <div class="clearfix">
        </div>
        <div class="row pst top-margin">
            <div class="col-md-6 col-sm-6 col-lg-6">
               
                <div class="text-left leftpad8">
                    <span class="font29">“Everything is good She came on time Do good 8”</span>
                </div><h2 class="voiletImp font35">SR</h2>
            </div>
            <div class="col-md-6 col-sm-6 col-lg-6">
                <h2 class="voiletImp font35">RE</h2>
                <div class="text-left leftpad8">
                    <span class="font29">
                        “All was well thx 9/10”
                    </span>
                </div>
            </div>
        </div>

    </article>
    <!-- /Article -->

</div>
