﻿ span {
        color: #b30af3 !important;
        font-size: 20px;
    }

    .imge{
        width:60% !important;
    }

    .page-header {
        border-bottom: 0px solid #f8d66a !important;
    }

    .page-header {
        border-bottom: 0px solid #eee !important;
    }