﻿.selected {
    background-color: gray;
}

    .selected > a {
        background-color: yellow !important;
        color: #b30afb !important;
    }

.msghide {
    display: none;
}

.chat-content > span {
    color: black !important;
}

.firstdiv{
    height:400px; max-height: 349px;overflow-y: scroll;
}

.hvn:hover {
    color: #339966 !important;
}

.dhvn:hover {
    color: #339966 !important;
}

.highlighted {
    background-color: yellow;
}

.emptyBlock1000 {
    height: 1000px;
}

.emptyBlock2000 {
    height: 2000px;
}

.panel-heading, .modal-header {
    background: #6e0202 !important;
    color: #b30afb !important;
}

.modal-title {
    color: #b30afb !important;
}

p {
    color: white;
}

.img9 {
    width: 9%;
}

img {
    width: 27%;
}

.modal-content {
    background-color: #6e0202 !important;
    width: 100%;
}

.fc-content > span {
    color: #a94442;
}

.ui-widget-content > span {
    color: #a94442;
}

.margintop755{
position: absolute;
    top: 755px;
}


.fc-title {
    color: #a94442;
}

.fc-time > span {
    color: #a94442;
}

.modal-content {
    background-color: #6e0202 !important;
    width: 100%;
}

th.fc-day-header.ui-widget-header > span {
    color: #a94442;
}

.fc-content > span {
    color: #a94442;
}

.ui-widget-content > span {
    color: #a94442;
}

.fc-title {
    color: #a94442;
}

.fc-time > span {
    color: #a94442;
}

.customhr1 {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 1px solid #f8d66a;
}
