﻿.fullwidth-section {
    clear: both;
}

.wp-image-62 {
    width: 92px;
    height: 130px;
    margin-top: 28px;
}

.pst ul li::before {
    content: "• ";
    color: rgb(179, 10, 251);
    font-size: 45px;
    line-height: 0;
}

.col72448d {
    color: #72448d;
}

.col72448dimp {
    color: #72448d !important;
}

.col81d742 {
    color: #81d742;
}

.colo339966 {
    color: #339966;
}

.box {
    width:auto;
    border: 4px solid #FFD700;
    box-shadow: inset 0 -1px 0 0 #FFD700, inset 0 1px 0 0 #FFD700, 0 1px 0 0 #FFD700, 0 -1px 0 0 #FFD700;
    height: auto;
    color:#f8d66a !important;
    /*padding: 25px 30px;*/
    background: transparent;
    border-radius: 17px;
    margin:40px !important ;
}

    .box > strong {
        font-size: 21px !important;
        font-weight: bold;
    }
    .box > p {
       color:#f8d66a !important;
        margin: 0 0 0 0px !important;
    }
    
.width50 > strong {
    font-size: 21px !important;
    font-weight: bold;
}

.effect1 > p {
    font-size: 19px;
}

.width50 > p > strong {
    font-size: 21px !important;
    font-weight: bold;
}

.g {
    color: #d33 !important;
    font-size: 21px !important;
}

.pst ul li {
    display: -webkit-box;
}

.height68 {
    height: 68px;
}

.font29 {
    font-size: 29px;
}



.panel {
    border: 0px solid #f8d66a !important;
    border-radius: 4px;
}

.panel-default {
    border-color: #6e0202;
}

.btn-action, .btn-primary,.colb30af3 {
    color: #b30af3 !important;
}
 
.bordrbg {
    background: url(http://californiaspa.in/wp-content/uploads/2016/07/1v.png);
    background-repeat: no-repeat;
     
    background-size: 100% 100%;
        font-size: 21px;
}
.page-header {
    border-bottom: 0px solid #f8d66a !important;
}

.page-header {
    border-bottom: 0px solid #eee !important;
}
