﻿  .modal-content {
        background-color: #6e0202 !important;
        width: 100%;
    }

    .fc-content > span {
        color: #a94442;
    }

    .ui-widget-content > span {
        color: #a94442;
    }

    .fc-title {
        color: #a94442;
    }

    .fc-time > span {
        color: #a94442;
    }

    .modal-content {
        background-color: #6e0202 !important;
        width: 100%;
    }

    th.fc-day-header.ui-widget-header > span {
        color: #a94442;
    }

    .fc-content > span {
        color: #a94442;
    }

    .ui-widget-content > span {
        color: #a94442;
    }

    .fc-title {
        color: #a94442;
    }

    .fc-time > span {
        color: #a94442;
    }