﻿ span {
        color: #b30af3 !important;
        font-size: 20px;
    }

    .page-header {
        border-bottom: 0px solid #f8d66a !important;
    }
.imgw{

width: 25%;
}
    .page-header {
        border-bottom: 0px solid #eee !important;
    }