﻿ .progress {
        margin-bottom: 10px !important;
    }

    .modal-content {
        background-color: #6e0202 !important;
        width: 100%;
    }

    th.fc-day-header.ui-widget-header > span {
        color: #a94442;
    }
    .paragraphColor{
         color:#f8d66a;
    }
   

    .fc-content > span {
        color: #a94442;
    }

    .ui-widget-content > span {
        color: #a94442;
    }

    .fc-title {
        color: #a94442;
    }

    .fc-time > span {
        color: #a94442;
    }

    .fc-button-prev .ui-icon {
        background: url("../assets/images/arrow.png");
        width: 15px;
        height: 15px;
        display: inline-block;
    }
    .nowrap{
       white-space: nowrap;
    }
    svg:first-child > g :first-child > rect {
        height: 5px;
    }

    .pos {
        height: 70px;
    }

    svg {
        height: 70px;
    }


    .pos {
        position: absolute;
        z-index: 1;
        background-color: grey;
    }
    @media screen and (max-width: 768px) {
    .calimage {
        width:100% !important;
    }
 
}