﻿  .selected {
        background-color: gray;
    } 
    .msghide {
        display: none;
    }

    .hvn:hover {
        color: #339966 !important;
    }

    .dhvn:hover {
        color: #339966 !important;
    }

    .right {
        float: right;
        text-transform: uppercase;
    }

    .firstdiv{
       max-height: 267px;
        height: 669px;
        overflow-y: scroll;
    }
    .margintop600{
  position: absolute;
    top: 670px;
}

.pnlHeight {
    height: 668px;
	overflow-y:scroll;
}
    p {
        color: white;
    }

    img {
        width: 27%;
    }

    .pull-rightUpperCase {
        text-transform: uppercase;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 20px;
    }