﻿ .msghide {
        display: none;
    }  

  .infodiv{
      font-weight: 300;font-size: 16px !important;text-transform: capitalize;color: #b30afb !important;
  } 

 .firstchatdiv{
     height:445px; max-height: 445px;overflow-y: scroll;
 }

 
    .selected {
        background-color: gray;
    }

    .hvn:hover {
        color: #339966 !important;
    }

    .dhvn:hover {
        color: #339966 !important;
    }

    .btns {
        padding-left: 7px;
        padding-right: 7px;
        padding-top: 6px;
        padding-bottom: 5px;
    }

    .customhr {
        margin-top: 10px;
        margin-bottom: 7px;
    }

    .pnlhdr {
        margin: 0px 1px -6px;
    }

    .pnl {
        max-height: 700px;
        height: 669px;
        overflow-y: scroll;
    }

    .adminpnl {
        max-height: 700px;
        height: 669px;
        overflow-y: scroll;
    } 

    p {
        color: white;
    }

    img {
        width: 27%;
    }

.tbl {
    max-height: 200px;
    overflow: scroll;
}