﻿@{
    ViewBag.Title = "Therapist Profiles";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
} 
<link href="@Url.Content("~/assets/css/therapistIndex.css")" rel="stylesheet" />
@helper GetRating(double rating)
{
    <span class="rating">@rating</span>
}
@helper Getavail(string avail)
{
    <span>@(Html.Raw(avail.TrimEnd().Replace("-", " To ").TrimStart().Replace("Not Working  To ", " Not Working Today")))</span>
}
<style>
    .Xscroll {  
    height:400px; 
    overflow: auto;  
}
    .gallery
    {
            text-align: center !important;
    }
    .calimage
    {
        width:35% !important;
    }

</style>
@model californiaspa.Models.therapist._therapist
<div class="row">
    <div id="myModalTime1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose1" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter First Apt And Last Apt time for selected day</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>First Apt Hour </label>
                            <select class="form-control" id="Time1H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>First Apt Minute </label>
                            <select class="form-control" id="Time1M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>First Apt Am/Pm </label>
                            <select class="form-control " id="Time1AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Last Apt Hour </label>
                            <select class="form-control" id="Time2H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last Apt Minute </label>
                            <select class="form-control" id="Time2M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last Apt Am/Pm </label>
                            <select class="form-control " id="Time2AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="tid" />
                    <input type="hidden" id="tdate" />
                    <span class="autohide error" id="T1errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime1">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="AvailableModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="AvailableModalclose1" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Available Schedule of(<span id="schSpan"></span>)</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-12" id="schDiv">

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="text-center col-md-12">
                            <span>Available timings these are start times massage is always 90 min</span>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>

    <div id="myModalbooking" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModal1close2" class="close">Close[&times;]</button>
                    <h4 class="modal-title">TERMS AND CONDITIONS</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" id="hiddenTokenId" />
                            <p class="paragraphColor">
                                This website is owned and managed by California SPA. By accessing and using the www.californiamassage.in web site, (the "Web Site"), you are agreeing to be legally bound by these Terms & Conditions. The terms "you" and "User" refer to anyone who accesses the Web Site.
                            </p>
                            <p class="paragraphColor">
                                As you browse through the website and California Spa sites you may access other web sites that are subject to different terms of use. When you use those sites, you will be legally bound by the specific terms of use posted on such sites. If there is a conflict between these Terms & Conditions and the other terms and conditions, the other terms & conditions will govern with respect to use of such pages.
                            </p>
                            <p class="paragraphColor">
                                California Spa may change these Terms & Conditions at any time without notice. Changes will be posted on the website under "Terms & Conditions".
                            </p>
                            <p class="paragraphColor">
                                <strong>ACCESSING, BROWSING OR OTHERWISE USING THE SITE INDICATES YOUR AGREEMENT TO ALL THE TERMS AND CONDITIONS UNDER THESE TERMS OF USE, SO PLEASE READ THE TERMS OF USE CAREFULLY BEFORE PROCEEDING.</strong>
                            </p>
                            <p class="paragraphColor">
                                <strong>Definitions:</strong>
                            </p>
                            <p class="paragraphColor">
                                For the purpose of these Terms of Use, wherever the context so requires "You" or "User" or  “ Customer” or “Client” shall mean any natural or legal person who has agreed to become a buyer on the Website by providing Registration Data while registering on the Website as Registered User using the computer/ other systems. Web Site allows the User to surf the Website or making purchases / request of booking for the services without/with registering on the Website. The term "We" or "Us" or "Our" or ”Spa” or “Therapist” shall mean California Spa, When You use any of the services provided by Us through the Website, including but not limited to, (e.g. service reviews, booking reviews), You will be subject to the rules, guidelines, policies, terms, and conditions applicable to such service, and they shall be deemed to be incorporated into this Terms of Use and shall be considered as part and parcel of this Terms of Use.
                            </p>
                            <p class="paragraphColor">
                                <strong>SPA POLICIES</strong>
                            </p>
                            <p class="paragraphColor">
                                1)All massages are 90 minutes and the time starts when actual massage starts, it does not include preparation time or travel or shower time.
                            </p>
                            <p class="paragraphColor">
                                2)	Therapist will bring Music, Light,  Aroma oil, Ayurvedic pain ointment. We blend our own oil with food grade vegetable oil with ayurvedic oil and flower fragrance.
                            </p>
                            <p class="paragraphColor">
                                3) If you are booking at one of our arranged hotels then Towel sheets are not needed, if at your home then Towel sheets shall be provided by you.
                            </p>
                            <p class="paragraphColor">
                                4)	Any issues with time or service, please inform Admin immediately on 9591895700 by  whatsapp before or during the massage  (not after the massage) We cannot do anything after therapist leaves
                            </p>
                            <p class="paragraphColor">
                                5)	 Payment shall be made directly to Therapist just before she/he starts service. The hotel fee shall be made by the customer at the time of check in.
                            </p>
                            <p class="paragraphColor">
                                6)	We accept CASH only no paytm or NEFT or any other online mode
                            </p>
                            <p class="paragraphColor">
                                7)	Therapist will not wait for you to go to ATM if cash is not ready then she will leave and full cancellation charges apply
                            </p>
                            <p class="paragraphColor">
                                8)	If client cancels wishes to cancel appointment within 24 hrs of appointment time then full charges apply including any hotel reservations made
                            </p>
                            <p class="paragraphColor">
                                9)	 Two way transport fare  as per OLA or UBER actuals shall be paid to the Therapist by customer, in addition to the massage costs. Please contact the Therapist for the invoice of the transit fare.If therapist is charging unreasonable amounts whatsapp admin at 9591895700 immediately
                            </p>
                            <p class="paragraphColor">
                                10)	Please keep your phone available to receive calls  at least 2 hrs before session in case therapist needs to get directions.
                            </p>
                            <p class="paragraphColor">
                                11)	  The customer shall make sure  that  the bath rooms  are clean and shall arrange hot
                                water,  soaps,  water jugs before  Therapist starts the service.
                            </p>
                            <p class="paragraphColor">
                                12)	 Cell phones and pagers shall be  silent / turned off before the service starts.
                            </p>
                            <p class="paragraphColor">
                                13)	 We strive to give you our very best in order to enhance your spa experience with us. We adhere to certain policies to benefit you, and create a harmonious environment where our therapists can focus on your needs.
                            </p>
                            <p class="paragraphColor">
                                14)	  Customer should be fully aware of his/her responsibility in disclosing any medical or health conditions that can affect him/her before the service, the spa / therapist is not responsible for any mishappening.
                            </p>
                            <p class="paragraphColor">
                                15)	 Spa / Therapist is not responsible and will not be held liable for the disappearance, loss or theft of or damage of personal property, including money, or other valuable belongings.Please keep all valuables under lock key
                            </p>
                            <div style="border:2px solid;padding:3px;color:#f8d66a;                                 ">
                                <div style="border:4px solid;padding:4px;">
                                    <div style="border:2px solid;">
                                        <p class="paragraphColor">
                                            <strong>
                                                16)	  The usage of condoms, alcohol, drugs, smoking are strictly not allowed.
                                            </strong>
                                        </p>
                                        <p class="paragraphColor">
                                            <strong>
                                                17)	 THE CUSTOMER SHALL NOT ASK THE  PERSONAL CONTACT DETAILS OF THE THERAPIST OR SHALL NOT SEEK DIRECT SERVICE FROM HER DIRECTLY OR INDIRECTLY OR GIVE CONTACT NUMBER TO THERAPIST THROUGH WEB OR IN PERSON. THERAPIST WILL CALL CLIENT THROUGH SPA NUMBER
                                            </strong>
                                        </p>
                                        <p class="paragraphColor">
                                            <strong>
                                                18) If the customer displays unbecoming or uncivil behavior or fails to observe or comply with any terms, conditions, rules and regulations of the website would amount to violation.
                                            </strong>
                                        </p>
                                        <p class="paragraphColor">
                                            <strong>
                                                19)	 Any sexual behaviour, advances or comments made will result in immediate termination of service, no refund  would be made.
                                            </strong>
                                        </p>
                                        <p class="paragraphColor">
                                            <strong>
                                                20)	To protect the privacy of our therapists you agree not to post any reviews or feedback of the session on any other web site
                                            </strong>
                                        </p>
                                        <p class="paragraphColor">
                                            <strong>VIOLATION POLICY:</strong><br>
                                            <strong>Any one violation in the above FIVE shall attract one lakh (Indian Rupees) per occurrence in addition to the legal costs.</strong>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <p class="paragraphColor">
                                <strong>LATE POLICY:</strong><br />
                                21)	 If the Therapist is late by 30 minutes or more, please contact the admin you may qualify for discount. If the customer is late by 30 minutes or more, the same  will be reduced in the massage time or  If the Therapist is late due to incorrect location or map being incorrect then the massage time will be reduced accordingly.
                            </p>
                            <p class="paragraphColor">
                                <strong>PAYMENTS & GRATUITY:</strong><br />
                                <strong>
                                    22)	 We do NOT accept cash, MasterCard, PAYTM, Visa as payment. (ONLY CASH)
                                </strong>
                            </p>
                            <p class="paragraphColor">
                                <strong>AGE REQUIREMENT:</strong><br />
                                23)	 You must be 18 years of age or older to receive treatments without the approval or accompaniment of an adult.
                            </p>
                            <p class="paragraphColor">
                                <strong>PROMOTIONAL OFFERS:</strong><br />
                                24)	 If you repeat the service from the same therapist within 15 days, you shall get 15% off and  if within a month 10% off
                                <br />   25)	 Book 24 hrs in advance and avail 20% off (Any therapist)
                                <br />   26)	 Repeat our service within 15 days and avail 100 rs off  (Any therapist)

                            </p>
                            <p class="paragraphColor">
                                <strong>Refund & Cancellation Policy:</strong><br />
                                We do not entertain Refund, Rescheduling and Cancellation in any Circumstances, incase of rescheduling or cancellation, full charges shall be paid by the customer  which shall include massage and transport fare.
                            </p>
                            <p class="paragraphColor">
                                <strong>Indemnity:</strong><br />
                                The User agrees to indemnify the website and California Spa from all damages, liabilities, costs, charges and expenses, including reasonable attorneys' fees, that the website, California Spa, their affiliates, employees, and authorized representatives may incur as a result of either: (i) the User's breach of this Agreement; or (ii) material entered into the Web site with the use of the User's screen name or password.
                            </p>
                            <p class="paragraphColor">
                                <strong>Jurisdiction & Governing Law:</strong><br />
                                The  governing law shall be  the applicable Indian laws and all the disputes shall have the Jurisdiction of Bangalore.
                            </p>
                            <div class="col-lg-6">
                                <input type="checkbox" value="accept" id="chkAccept" />
                                <label class="paragraphcolor">Agree with the term and conditions</label>
                            </div>
                        </div>
                    </div>
                    <span class="error" id="errorMsg"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnReject">Reject</button>
                    <button type="button" class="btn btn-action" id="btnmyModal1">Accept</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalbookingError" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalbookingErrorclose2" class="close">Close[&times;]</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="error" id="errorMsg"> You can't book new Appointment , until you have not completed previous finish Appointment feedback Click below link to complete Your Feedback <a href="#" target="_blank" class="btn btn-action" id="feedbackbutton">Click Here to Complete Feedback</a></span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="myModalbookingErrorclose21">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalbookingError1" class="modal fade" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalbookingError1close2" class="close">Close[&times;]</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <span class="error" id="errorMsg"> Since you are a new client please contact SPA manager at 9591895700 to validate and proceed. Do not allow to complete booking</span>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="myModalbookingError1close21">Close</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Therapist Profile List
                <a href="@Url.Action("dashboard","main")" class="btn btn-action pull-right">Return to Client home</a>
            </h3>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-12 col-sm-12 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-lg-12 text-center">
                        <span>
                            <b>TIMINGS SHOWN ARE START TIMES MASSAGE DURATION IS ALWAYS 90 MIN FROM WHEN THERAPIST REACHES LOCATION</b>
                        </span>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12">
                        <span class="pull-left voiletImp">scroll right to book appointment</span>
                        <span class="pull-right voiletImp">scroll down for more profiles</span>
                    </div>
                    <div class="top-margin  Xscroll">
                        <table class="fht-table table" id="pruebatabla">
                            <thead>
                                <tr>
                                   
                                    <th>Image(Click for more Images)</th>
                                    <th>Age/Location/Rate</th>
                                    <th>Languages</th>
                                    <th class="nowrap">Todays Availabilty</th>
                                    <th class="nowrap">Other Days Clik on calendar green available</th>
                                    <th>Massage Styles</th>
                                    <th class="nowrap">Client Rating <br />(out of 10)</th>
                                    <th>Book</th>
                                    <th>Comments</th>
                                </tr>
                            </thead><tbody>

    @if (Model.profile != null)
    {
        int i = 0;
        string imagepath = "~/profileImages/" + i + "-{count}.png";
        string imagepath1 = "~/profileImages/" + i + "-1.png";
        foreach (var item in Model.profile)
        {
            i = i + 1;
            imagepath1 = "~/profileImages/" + i + "-1.png";
            <tr>
                 <td class="gallery">
                    <span>@item.name</span>
                    <a href="@Url.Content(item.imagePath)" rel="prettyPhoto[gallery_@i]">
                        <img src="@Url.Content(item.imagePath)" alt="California Spa" />
                    </a>
                    @if (Model.images != null)
                    {
                        <div class="notDisplay">
                            @foreach (var items in Model.images.Where(a => a.thId == item.id).ToList())
                            {
                                <a href="@Url.Content(items.path)" rel="prettyPhoto[gallery_@i]">
                                    <img src="@Url.Content(items.path)" alt="California Spa" />
                                </a>
                            }
                        </div>
                    }
                </td>
                <td>@item.Age/@item.location /<span>Rs &nbsp;</span>@item.rate  </td>
                <td>@item.languages</td>
                <td>
                    @Getavail(item.TodaysAvailabilty)
                </td>
                <td>
                    <div>
                        @*<input type="hidden" id="datepicker_@i">*@
                        <a href="#" value="cal" onclick="getCalender('@item.id')"><img src="@Url.Content("~/assets/images/Calendar.png")" class="calimage" /></a>
                        <div id="@("myModal"+item.id)" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <span class="voiletImp"></span>
                                        <button type="button" data-dismiss="modal" data-modelid="myModal2" class="close">Close[&times;]</button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="@("calendar"+item.id)"></div>
                                    </div>
                                    <div class="modal-footer">
                                        <div class="row">
                                            <div class="text-center col-md-12">
                                                <span>Available timings these are start times massage is always 90 min</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                                                $(function () {
                                                    $('#myModal' + '@item.id').on('shown.bs.modal', function () {
                                                        $("#calendar" + '@item.id').fullCalendar('render');
                                                        $('.fc-past>a').click(function () { return false; });
                                                    });
                                                });
                    </script>
                </td>
                <td>@item.MassageStyles </td>
                <td class="nowrap">@GetRating(item.ClientRating)  </td>
                <td><a class="open-Booking btn btn-action" href="#myModalbooking" data-id="@item.token">Book</a> </td>
                <td>
                    <div class="width500">
                        @foreach (var items in item.Comments)
                        {
                            <span>@items.Comment</span>
                        }
                    </div>
                </td>
            </tr>
            <tr class="hover_@i notDisplay">
                <td colspan="9">
                    <div class="pos" data-id="hover_@i" id="divhover_@i">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success width20" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                <span>@item.TodaysAvailabilty</span>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    }
</tbody>
</table>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12">
                            <span>
                                TIMINGS SHOWN ARE START TIMES MASSAGE DURATION IS ALWAYS 90 MIN FROM WHEN THERAPIST REACHES LOCATION
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
    <!-- /Article -->
</div>
<script src="@Url.Content("~/assets/Plugin-To-Freeze-Table-Columns-Rows-On-Scroll/tableHeadFixer.js")"></script>
 <script type="text/javascript" charset="utf-8">
    
    $(document).ready(function () {
        $("#pruebatabla").tableHeadFixer({ "head": true, "left": 1 });
    });


    $("#btnmyModal1").click(function () {
        var accept = $("#chkAccept").prop("checked");
        if (accept != true) {
            $("#errorMsg").html('Please click on accept checkbox');
            return false;
        }
        $("#btnmyModal1").removeClass('btn-action').addClass('btn-success').prop("disabled", true);
        var tokenId = $("#hiddenTokenId").val();
        location.href = "@Url.Action("Index", "Booking")" + "?token=" + tokenId;
    });

    $(document).on("click", ".open-Booking", function () {
        var url = "@Url.Action("getclientSurvey", "taccount")";
        var tokenId = $(this).data('id');
        $.post(url, function (data) {
            if (data.indexOf("Error") == -1) {
                $("#hiddenTokenId").val(tokenId);
                $("#btnReject").addClass('btn-action').removeClass('btn-success').prop("disabled", false);
                $("#btnmyModal1").addClass('btn-action').removeClass('btn-success').prop("disabled", false);
                $('#myModalbooking').modal('show');

            } else if (data.indexOf("NotVerified") != -1) {
                $('#myModalbookingError1').modal('show');
            } else {
                var _err = data.split('_')[1];
                $("#feedbackbutton").attr("href", _err);
                $('#myModalbookingError').modal('show');
            }
        });

    });
    $("#myModalbookingErrorclose2").click(function () {
        $('#myModalbookingError').modal('hide');
    });

    $("#myModalbookingErrorclose21").click(function () {
        $('#myModalbookingError').modal('hide');
    });
    $("#myModalbookingError1close2").click(function () {
        $('#myModalbookingError1').modal('hide');
    });

    $("#myModalbookingError1close21").click(function () {
        $('#myModalbookingError1').modal('hide');
    });

    var id = 0;

    $('.modal').on('hidden.bs.modal', function (event) {
        $(this).removeClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') - 1);
    });

    $('.modal').on('shown.bs.modal', function (event) {
        if (typeof ($('body').data('fv_open_modals')) == 'undefined') {
            $('body').data('fv_open_modals', 0);
        }
        if ($(this).hasClass('fv-modal-stack')) {
            return;
        }
        $(this).addClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') + 1);
        $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('.fv-modal-stack')
                .css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('fv-modal-stack')
                .addClass('fv-modal-stack');
    });

    $("#myModalclose1").click(function () {
        $('#myModalTime1').modal('hide');
    });
    $("#AvailableModalclose1").click(function () {
        $('#AvailableModal').modal('hide');
    });

    $("#myModal1close2").click(function () {
        $("#btnReject").addClass('btn-action').removeClass('btn-success').prop("disabled", false);
        $("#btnmyModal1").addClass('btn-action').removeClass('btn-success').prop("disabled", false);
        $('#myModalbooking').modal('hide');
    });

    $("#btnReject").click(function () {
        $("#btnReject").removeClass('btn-action').addClass('btn-success').prop("disabled", true);
        $('#myModalbooking').modal('hide');
    });
    $(".avalImage").on("click", function () {
        var _ModalId = $(this).data("val");
        $('#' + _ModalId).modal({ backdrop: 'static', keyboard: false })
    });

    $(document).ready(function () {
        $("area[rel^='prettyPhoto']").prettyPhoto();
        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_square', slideshow: 3000, autoplay_slideshow: false });
        $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', slideshow: 10000, hideflash: true });

    });

    function getCalender(_id) {
        var maxDate = moment(new Date()).format("YYYY-MM-D");
        $('#calendar' + _id).fullCalendar({
            theme: true,
            header: {
                left: 'prev,next ',
                center: 'title',
                right: 'month'
            },
            firstDay: moment().weekday(),
            defaultDate: maxDate,
            editable: false,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            //defaultView: 'agendaDay',
            eventClick: function (event) {
                var newDate = moment(event.start).format("M-DD-YY");
                var newDate1 = moment(event.start).format("D-MMM-YY");
                if (event.title != "Click here to check Avail") {
                    return false;
                }
                $("#schSpan").html(newDate1);
                var start = $.fullCalendar.formatDate(event.start, "hh:mm A");
                var end = $.fullCalendar.formatDate(event.end, "hh:mm A");
                var url = "@Url.Action("GetEventsByDate", "therapist")";
                $.post(url, { 'thid': _id, 'date': newDate, 'start': start, 'end': end }, function (data) {
                    $("#schDiv").html(data);
                    $("#schDiv").css('color', 'antiquewhite');
                    $('#AvailableModal').modal({ backdrop: 'static', keyboard: false });
                });
            },
            events: {
                url: '/therapist/GetEvents/',
                cache: true,
                type: 'GET',
                data: {
                    thid: _id,
                    byClient: 1
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {
                var _class = element.find('.fc-title').parent().parent().hasClass('redEvent');
                if (_class == true) {
                    element.find('.fc-title').parent().parent().css("cssText", "background-color: grey !important;border-color: grey !important;");
                }
                var _title = element.find('.fc-title').html();
                if (_title != "&nbsp;") {
                    element.find('.fc-time').html("");
                    element.find('.fc-time').css("font-size", "9px");
                    element.find('.fc-title').css("font-size", "7px");
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<hr class="hr1" />' + $.fullCalendar.formatDate(event.end, "hh:mm A") + '<hr class="hr2" />');
                    //element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                } else {
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                }
                if (_title == "Not Working") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Not <br/> Working");
                }
                else if (_title == "Booked FullDay") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Booked <br/> FullDay");
                }
                else if (_title == "Click here to check Avail") {
                    element.find('.fc-title').css("font-size", "10px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Click here to  <br/> check Avail");
                } else if (_title == "Not Available") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Not <br/> Available");
                }
            },
            dayRender: function (date, cell) {
                var maxDate = moment(new Date()).format("YYYY-MM-D");
                var newDate = moment(date).format("YYYY-MM-D");
                debugger;
                if (newDate < maxDate) {
                    $(cell).addClass('fc-not-allowed');
                    $(cell).css('background', 'grey');
                }
                $(".fc-past").addClass('fc-not-allowed').css('background', 'grey');
            },
            navLinkDayClick: function (date, jsEvent) {
                return false;
            },
        });

        $('#myModal' + _id).modal({ backdrop: 'static', keyboard: false });
        $(".fc-next-button").html("Next Month");
        $(".fc-prev-button").html("Prev Month");
    }
</script>