﻿
@{
    ViewBag.Title = "Appointment Reminder";
    Layout = "~/Views/Shared/_LayoutTherapist.cshtml";
}
<style>
    .mxheight
    {
        max-height:500px!important;
    overflow: scroll;
    }
</style>
@model californiaspa.Models.Chat.NotificationModel
<article class="col-xs-12 maincontent">
    <header class="page-header">
        <h3 class="page-title">
            Appointment Reminder Report
            <a href="@Url.Action("dashboard","Taccount")" class="btn btn-action pull-right"> Return To Therapist Home</a>
        </h3>
        <div class="clearfix"></div>
        @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
            <span class="autohide error">@Model.ErrorText</span> 
        }
    </header>
    <div class="clearfix"></div>
    <div class="col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-body">
                @if (Model._list.Count > 0)
                {<div class="col-md-12 col-sm-12 col-lg-12">
                    <span class="pull-left voilet">Scroll right to delete,select checkbox to delete multiple</span>
                    <input type="button" id="div_delete" value="Delete selected" onclick="Deleteall()" class="btn-primary btn pull-right" />
                </div>
                <div class="clearfix"></div>
                     <div class="top-margin table-responsive Xscroll mxheight">
                         
                        <table class="table">
                            <tr class="nowrap">
                                @if (Model._list.Count > 0)
                                {
                                    <th>
                                        <input type="checkbox" id="chk_header" />
                                    </th>
                                }
                                <th>Sr no.</th>
                                <th>Client Name</th>
                                <th>Reminder Date&time</th>
                                <th>Message</th>
                                <th>Action</th>
                            </tr>
                            @{
                                int i = 0;
                            }

                            @foreach (var item in Model._list)
                            {
                                i = i + 1;
                                <tr>
                                    <td>
                                        <input type="checkbox" id="chk_@item.MessageId" value="@item.MessageId" class="chk" />
                                    </td>
                                    <td>@i</td>
                                    <td>@item.ClientName</td>
                                    <td>@item.sendTime</td>
                                    <td>@item.message</td>
                                    <td><a class="btn btn-action" onclick="Deletereport('@item.MessageId')"><i class="glyphicon glyphicon-remove-sign"></i>Delete</a></td>

                                </tr>
                            }
                        </table>
                    </div>
                                }
                                else
                                {
                                    <span>No record Found</span>
                                }
                <hr>
                <div class="row">
                    <div class="col-lg-4 text-right">
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<script>
    $('select').addClass('form-control');
    function GetSummaryItem() {
        var _url = "@Url.Action("Get_Punctuality_Report", "Admin")";
        var tid = $("#therapist").val();
        location.href = _url + "?therapistid=" + tid;
    }

    function Deletereport(aid) {
        var r = confirm("are You sure to delete?");
        if (r == true) {
            var _url = "@Url.Action("appointment_reminder", "taccount")";
            location.href = _url + "?deleteId=" + aid;
        }
    }

    function Deleteall() {
        var r = confirm('are you sure to delete ?');
        if (r == true) {
            var _val = '';
            $('.chk:checked').each(function () {
                if (_val == '') {
                    _val = $(this).val();
                } else {
                    _val = _val + '_' + $(this).val();
                }
            });
            var _url = "@Url.Action("delete_reminder", "taccount")";
            location.href = _url + "?deleteId=" + _val;
        }
    }

    $(document).ready(function () {
        $(':checkbox').each(function () {
            this.checked = false;
        });
        $("#div_delete").hide();
    });


    $('#chk_header').click(function (event) {
        if (this.checked) {
            $(':checkbox').each(function () {
                this.checked = true;
            });
            $("#div_delete").show();
        }
        else {
            $(':checkbox').each(function () {
                this.checked = false;
            });

            $("#div_delete").hide();
        }
    });

    $('.chk').click(function () {
        $('#chk_header').prop('checked', false);
        if ($('.chk:checked').length > 0) {
            $("#div_delete").show();
        }
        else {
            $("#div_delete").hide();
        }
    });
</script> 