﻿
@{
    ViewBag.Title = "ClientAccount";
    Layout = "~/Views/Shared/_LayoutTherapist.cshtml";
}

@{
    int editId = (int)ViewBag.edit;
}
@helper GetRating(double rating)
{  string start = "";
if (rating > 0)
{
    rating = Convert.ToDouble(rating / 2);
    var r = rating.ToString().Split('.');
    int first = Convert.ToInt16(r[0]);
    int second = r.Count() > 1 ? Convert.ToInt16(r[1]) : 0;
    int i = 1;

    if (first > 0)
    {
        for (i = 0; i < first; i++)
        {
            start += "<i class='glyphicon glyphicon-star'></i>";
        }
    }
    if (i < 5)
    {
        if (second > 0)
        {
            i += 1;
            start += "<span class='glyphicon glyphicon-star half'></span>";
        }
    }
    if (i < 5)
    {
        for (int j = 0; j < i; j++)
        {
            start += "<i class='glyphicon glyphicon-star-empty'></i>";
        }
    }
}
else
{
    for (int j = 0; j < 5; j++)
    {
        start += "<i class='glyphicon glyphicon-star-empty'></i>";
    }
}
HtmlString html = new HtmlString(start);
    <span class="rating">@html</span>
}
@model californiaspa.Models.Account.AccountModel
<script>
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                $("#ltd").val(p.coords.latitude);
                $("#lth").val(p.coords.longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById("map2"), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    $("#ltd").val(e.latLng.lat());
                    $("#lth").val(e.latLng.lng());
                    map.setCenter(pos);
                });

            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }
    function initMap1(lat, lth, id) { 
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(lat, lth);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById(id), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });
            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLSy7V_ejK6m-ffhI6kiiJf3wl7pnX2g&callback=initMap">
</script>

<div class="row">
    @{int k = 1;}
    @foreach (var item in Model.Reviews)
    {
        <div class="modal fade" id="dynamic-modal_@k" role="dialog">
        </div>
        k = k + 1;
    }
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
            <h1 class="page-title">
                Client Account
                @if (editId == 0)
                {
                    <a class="btn btn-action pull-right" href="@Url.Action("request","Taccount")"> Back to Appointments Request</a>

                }
                else
                {
                    <a class="btn btn-action pull-right" href="@Url.Action("confirmed_request","Taccount")"> Back to Confirmed Appointments</a>

                }
                <span id="xtexId" class="notDisplay">@( ViewBag.token != null ? ViewBag.token.ToString() : "0")</span>
                <input type="hidden" id="lth" />
                <input type="hidden" id="ltd" />

            </h1>
            <div class="clearfix"></div>
        </header>

        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">

                    <div class="top-margin">
                        <label>Admin Client Name:</label>
                        <span>@Model.AdminUserName </span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="top-margin">
                        <label>Number Of Massages :</label>
                        <span>@Model.MassagesCount</span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="top-margin">
                        <label>Past Therapists tried: </label>
                        <span> @Model.Tharepisttried </span>
                    </div>
                    <div class="clearfix"></div>

                    @if (string.IsNullOrEmpty(Model.spahotelname))
                    {
                        <div class="top-margin">
                            <label>Spa Hotel Name :</label>
                            <span>@Model.spahotelname</span>
                        </div>
                        <div class="clearfix"></div>

                    }

                    @if (string.IsNullOrEmpty(Model.spahotelAddress))
                    {
                        <div class="top-margin">
                            <label>Spa Hotel Address :</label>
                            <span>@Model.spahotelAddress</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    @if (!string.IsNullOrEmpty(Model.houseNumber))
                    {
                        <div class="top-margin">
                            <label>House Number :</label>
                            <span>@Model.houseNumber</span>
                        </div>
                        <div class="clearfix"></div> 
                    }
                    @if (!string.IsNullOrEmpty(Model.aptNumber))
                    {
                        <div class="top-margin">
                            <label>Flat Number :</label>
                            <span>@Model.aptNumber</span>
                        </div>
                        <div class="clearfix"></div>
                        
                    }
                    @if (!string.IsNullOrEmpty(Model.hotelName))
                    {
                        <div class="top-margin">
                            <label>Hotel Name :</label>
                            <span>@Model.hotelName</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    @if (!string.IsNullOrEmpty(Model.floorNumber))
                    {
                        <div class="top-margin">
                            <label>Floor Number :</label>
                            <span>@Model.floorNumber</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    @if (!string.IsNullOrEmpty(Model.roomNumber))
                    {
                        <div class="top-margin">
                            <label>Room Number :</label>
                            <span>@Model.roomNumber</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    @if (!string.IsNullOrEmpty(Model.aptName))
                    {
                        <div class="top-margin">
                            <label>Apt. Name :</label>
                            <span>@Model.aptName</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    @if (!string.IsNullOrEmpty(Model.streetName))
                    {
                        <div class="top-margin">
                            <label>Street Name :</label>
                            <span>@Model.streetName</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    @if (!string.IsNullOrEmpty(Model.crossstreetName))
                    {
                        <div class="top-margin">
                            <label>Cross Street Name :</label>
                            <span>@Model.crossstreetName</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    @if (!string.IsNullOrEmpty(Model.landmark))
                    {
                        <div class="top-margin">
                            <label>LandMark :</label>
                            <span>@Model.landmark</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    @if (!string.IsNullOrEmpty(Model.localityArea))
                    {
                        <div class="top-margin">
                            <label>Locality Area :</label>
                            <span>@Model.localityArea</span>
                        </div>
                        <div class="clearfix"></div>

                    }
                    <div class="top-margin">
                        <label>Average Rating (out of 10):</label>
                        <span>@Model.rating  </span>
                    </div>
                    <div class="clearfix"></div>

                    <div class="top-margin table-responsive">
                        <label>Previous  reviews (Scroll down to view more)</label>
                        <div class="tbl">
                            <table class="table">
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Review</th>
                                    <th>Rating (out of 10)</th>
                                </tr>
                                @if (Model.Reviews != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.Reviews)
                                    {
                                        i = i + 1;
                                        <tr class="survey" data-token="@item.tokenId" data-id="@i">
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td class="nowrap">@item.Review </td>
                                            <td>@item.rating  </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                    <div class="top-margin table-responsive">
                        <label>Confirmed Appointments (Scroll down to view more)</label>
                        <div class="tbl">
                            <table class="table">
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Address</th>
                                    <th>Amount</th>
                                </tr>
                                @if (Model.appointmentList != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.appointmentList)
                                    {
                                        i = i + 1;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td>@(Convert.ToDateTime(item.date).ToString("d-MMM-yy"))</td>
                                            <td>@item.time</td>
                                            <td>@item.address</td>
                                            <td>@item.amount <span>Rs</span></td>
                                        </tr>

                                    }
                                }
                            </table>
                        </div>
                    </div>
                   

                    @if (Model.ltd != "0" && string.IsNullOrEmpty(Model.Map))
                    {
                        <div class="top-margin">
                            <label>Client Location  :</label>
                            <div id="Map" class="mapDiv"> </div>
                            <script>
                                initMap1('@Model.ltd', '@Model.lth', 'Map');
                            </script>
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(Model.Map))
                    {
                        <div class="top-margin">
                            <label>Client Location  :</label>
                            <div id="Map" class="mapDiv">
                                @Html.Raw(Model.Map)
                            </div>

                        </div>
                    }
                    

                    <div id="map2" class="mapDiv notDisplay"> </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </article>
    <!-- /Article -->
    <script>



        $(".survey").on('click', function () {
            var id = $(this).data('token');
            var tid = $(this).data('id');
            var url = '@Url.Action("GetClientSurvey", "Main")';
            $('#dynamic-modal_' + tid).modal({
                keyboard: false,
                remote: url + '?token=' + id,
            }).show();

            $('#dynamic-modal_' + tid).on('hidden.bs.modal', function () {
                //remove the backdrop
                $('.modal-backdrop').remove();
            })
            $('#dynamic-modal_' + tid).on('shown.bs.modal', function () {
                //remove the backdrop
                $('<div class="modal-backdrop"></div>').appendTo(document.body);
            })

        });
    </script>
</div>
