﻿﻿
@{
    ViewBag.Title = "Confirmed Appointment";
    Layout = "~/Views/Shared/_LayoutTherapist.cshtml";
}
@{
    int a = 0;
    string url = "";
}

<link href="@Url.Content("~/assets/css/ConfirmedAppointment.css")" rel="stylesheet" />
@model californiaspa.Models.Appointment.AppointmentModel
@helper FormatDateWithTime(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("dd-MMM-y ; hh:mm tt")</span>
}

@helper FormatDatewithweekday(string date)
{
var d = Convert.ToDateTime(date).DayOfWeek;
    <span>@d</span>
}
<style>
    iframe {
        display: block;
        width: 100%;
    }

    .mapDiv {
        height: 300px !important;
    }

    .btn-success {
        color: white !important;
    }
</style>
<script>
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                $("#ltd").val(p.coords.latitude);
                $("#lth").val(p.coords.longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    gestureHandling: 'greedy',
                    disableDefaultUI: true
                };
                var map = new google.maps.Map(document.getElementById("map2"), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });
                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    $("#ltd").val(e.latLng.lat());
                    $("#lth").val(e.latLng.lng());
                    map.setCenter(pos);
                });
            });
        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }
    function initMap1(lat, lth, id) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(lat, lth);
                var mapOptions = {
                    center: LatLng,
                    zoom: 15,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    gestureHandling: 'greedy',
                    disableDefaultUI: true
                };
                var map = new google.maps.Map(document.getElementById(id), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });
                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });
            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLSy7V_ejK6m-ffhI6kiiJf3wl7pnX2g&callback=initMap">
</script>
@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("dd-MMM-y")</span>
}
<link href="@Url.Content("~/assets/css/therapistIndex.css")" rel="stylesheet" />
<div class="row">
    <div id="myterms" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" data-modelid="myModalcal" class="close">Close[&times;]</button>
                </div>
                <div class="modal-body">
                    <div id='terms'></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTimeReject" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalcloseReject" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter Cancel Reason</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-12">
                            <label>Enter Reason :</label>
                            <textarea rows="4" class="form-control reason" id="txtrsn"></textarea>
                        </div>
                    </div>
                    <span class="autohide error" id="Rejecterrortext"></span>
                    <input type="hidden" id="hdnid" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTimeReject">Cancel Request</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose1" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Talk with Client</h4>
                </div>
                <div class="modal-body">
                    <span class="autohide error" id="T1errortext">your call is initiating with client...</span>
                </div>
            </div>
        </div>
    </div>
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h4>
                CONFIRMED APPOINTMENTS DETAILS  <a href="@Url.Action("dashboard","taccount")" class="pull-right btn btn-action">Return to Therapist home</a>
            </h4>
            <div class="clearfix"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
            <span id="xtexId" class="notDisplay">@( ViewBag.token != null ? ViewBag.token.ToString() : "0")</span>
            <input type="hidden" id="lth" />
            <input type="hidden" id="ltd" />
        </header>
        @if (Model.appt.Count() > 0)
        {
            foreach (var item in Model.appt)
            {
                a += 1;
                <div class="col-md-6  col-sm-6 " id="div_@item.Aid">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="top-margin">
                                <label>Client Initiated Request On Date / Time :</label>
                                <span>@FormatDateWithTime(item.createdDate)@FormatDatewithweekday(item.createdDate)</span>
                                <br />
                                <span>This is NOT Appointment date Time</span>
                            </div>
                            <div class="top-margin">
                                <label>Name of Client :</label>
                                <span><a title="Click to see client profile" href="@Url.Action("ClientAccount", "Taccount", new { _xid = item.ClientId,editid=1 })">@item.ClientName ( Click to see client profile )</a>  </span>
                            </div>
                            <div class="top-margin">
                                <label>Name of Therapist :</label>
                                <span>@item.therapistName</span>
                            </div>
                            <div class="top-margin">
                                <label>Confirmed Appt Date :</label>
                                <span>@FormatDate(item.startDate) @FormatDatewithweekday(item.startDate)</span>
                            </div>
                            <div class="top-margin">
                                <label> location:</label>
                                @if (item.SpaHotelid == 7 || item.SpaHotelid == 4 || item.SpaHotelid == 9)
                                {
                                    <span><a title="Click to see hotel terms" onclick="viewterms('@item.SpaHotelid')">@item.location (view hotel terms)</a>  </span>
                                }
                                else
                                {
                                    <span>@item.location</span>
                                }
                            </div>
                            <div class="top-margin">
                                <label> Confirmed Appointment time:</label>
                                <span>@item.therapistTime</span>
                            </div>
                            @if (!string.IsNullOrEmpty(item.address))
                            {
                                <div class="top-margin">
                                    <label>Address :</label>
                                    <span>@item.address</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.houseNumber))
                            {
                                <div class="top-margin">
                                    <label>House Number :</label>
                                    <span>@item.houseNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.aptNumber))
                            {
                                <div class="top-margin">
                                    <label>Flat Number :</label>
                                    <span>@item.aptNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.floorNumber))
                            {
                                <div class="top-margin">
                                    <label>Floor Number :</label>
                                    <span>@item.floorNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.roomNumber))
                            {
                                <div class="top-margin">
                                    <label>Room Number :</label>
                                    <span>@item.roomNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.aptName))
                            {
                                <div class="top-margin">
                                    <label>Apt. Name :</label>
                                    <span>@item.aptName</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.streetName))
                            {
                                <div class="top-margin">
                                    <label>Street Name :</label>
                                    <span>@item.streetName</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.crossstreetName))
                            {
                                <div class="top-margin">
                                    <label>Cross Street Name :</label>
                                    <span>@item.crossstreetName</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.landmark))
                            {
                                <div class="top-margin">
                                    <label>LandMark :</label>
                                    <span>@item.landmark</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.localityArea))
                            {
                                <div class="top-margin">
                                    <label>Locality Area :</label>
                                    <span>@item.localityArea</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.comments))
                            {
                                <div class="top-margin">
                                    <label>Therapist Pickup Location Landmark :</label>
                                    <span>@item.comments</span>
                                </div>
                            }
                            <div class="top-margin">
                                <label>Amount :</label>
                                <span>Rs &nbsp;@(item.rate.ToString().Split('.')[0]) </span>
                            </div>
                            <div class="top-margin">
                                <label>pick and drop or transport  :</label>
                                <span>@item.pickdrop</span>
                            </div>

                            @if (!string.IsNullOrEmpty(item.ClientPickUptime))
                            {
                                <div class="top-margin">
                                    <label>Client Pick-up Time  :</label>
                                    <span>@item.ClientPickUptime</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.vehical.vcolor))
                            {
                                <div class="top-margin">
                                    <label>Vehical color  :</label>
                                    <span>@(item.vehical.vcolor)</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.vehical.vlicenceNumber))
                    {
                                <div class="top-margin">
                                    <label>License Number  :</label>
                                    <span>@(item.vehical.vlicenceNumber)</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.vehical.vmake))
                    {
                                <div class="top-margin">
                                    <label>Make  :</label>
                                    <span>@(item.vehical.vmake)</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.vehical.vmodelNumber))
                    {
                                <div class="top-margin">
                                    <label>Model Number  :</label>
                                    <span>@(item.vehical.vmodelNumber)</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.vehical.vtype))
                    {
                                <div class="top-margin">
                                    <label>Bike Or Car :</label>
                                    <span>@(item.vehical.vtype)</span>
                                </div>
                            }

                            <div id="map2" class="notDisplay mapDiv"></div>
                            <div class="top-margin">
                                <label>Custom Message  :</label>
                                <span> @item.custommessage</span>
                            </div>
                            @if (item.ltd != "0" && string.IsNullOrEmpty(item.SpaMap))
                            {
                                <div class="top-margin">
                                    <label>Client Location  :</label>
                                    <div id="Map_@item.Aid" class="mapDiv"> </div>
                                    <script>
                                        initMap1('@item.ltd', '@item.lth', 'Map_@item.Aid');
                                    </script>
                                </div>
                            }
                            else
                            {
                                <div class="top-margin">
                                    <label>Client Location  :</label>
                                    <div class="mapDiv">
                                        @Html.Raw(item.SpaMap)
                                    </div>
                                </div>
                            }
                            <div class="clearfix"></div>
                            @if (item.tltd != "0" && item.tltd != "")
                            {
                                <div class="top-margin">
                                    <label>Therapist Pickup Location  :</label>
                                    <div id="Map1_@item.Aid" class="mapDiv"> </div>
                                    <script>
                                        $(window).load(function () {
                                            initMap1('@item.tltd', '@item.tlth', 'Map1_@item.Aid');
                                        });

                                    </script>
                                </div>
                            }
                            <div class="clearfix"></div>
                            <div class="top-margin">
                                <table class="col-md-12 col-sm-12 col-lg-12">
                                    <tbody>
                                        <tr>
                                            <td class="col-md-3 col-sm-3 col-lg-3"></td>
                                            <td class="col-md-6 col-sm-6 col-lg-6">
                                                <p class="box effect1 text-center box65">
                                                    <strong>
                                                        <span class="gspan">Click when you are in Cab <br /> Click when you start <br />Click when you finish <br /> you can only select these 3 once</span>
                                                    </strong>
                                                </p>
                                            </td>
                                            <td class="col-md-3 col-sm-3 col-lg-3"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div><div class="clearfix"></div>
                            <div class="top-margin">
                                <a href="@Url.Action("chat","TAccount",new {token=item.ClientId })" class="btn btn-action">Click To send message to Client</a>
                                @if (item.pickdrop == "Pay 2 way ola transport ")
                                {
                                    url = string.IsNullOrEmpty(item.hotelName) ? "https://www.google.com/maps/search/?api=1&query=" + item.ltd + "," + item.lth : "https://www.google.com/maps/search/?api=1&query=" + item.hotelName.Replace(" ", " +");
                                    <br /><br />
                                    if (string.IsNullOrEmpty(item.hotelName))
                                    {
                                        <a href="#" target="_blank" onclick="mapsSelector1('@item.ltd','@item.lth')"  class="btn btn-action">book Cab</a>
                                    }
                                    else
                                    {
                                        <a href="#" target="_blank" onclick="mapsSelector('@item.address.Replace("\r\n"," ")')" class="btn btn-action">book Cab</a>
                                    }

                                    <br /><span>Click on map then click on directions after directions click on Cab which is last selection on right side then scroll down click on OLA </span>


                                    <br /><br /> <a id="btn_@item.Aid" href="#errorDiv_@item.Aid" onclick="left('errorDiv_@item.Aid','@item.Aid')" class="btn @(item.isLeftCabTime == true ? "btn-success disabled" : "btn-action")">Click When you have left and in cab</a>
                                    <br /><span>you will get sms in 30 min, click on that sms link</span>

                                }
                                <br /><br />  <a href="#" onclick="call('@item.ClientMobile','@item.therapistMobile','@item.Aid')" class="btn btn-action">Click To talk to Client</a>
                                <br /><br />  <a id="strtbtn_@item.Aid" href="#errorDiv_@item.Aid" onclick="Start('errorDiv_@item.Aid','@item.Aid')" class="btn @(item.isstartmassage==true?"btn-success disabled":"btn-action")">Click when you start massage</a>
                                <br /><br />  <a id="btnEnd_@item.Aid" href="#errorDiv_@item.Aid" onclick="End('errorDiv_@item.Aid','@item.Aid')" class="btn btn-action">Click when you finish massage</a>
                                <br /><br /><a class="btn btn-action" href="#" onclick="RejectRequest('@item.Aid')"> Cancel request and enter reason</a>

                            </div>
                            <hr />
                            <span class="autohide error" id="errorDiv_@item.Aid"></span>
                        </div>
                    </div>
                </div>
                if (a == 2)
                {
                    <div class="clearfix"></div>
                    a = 0;
                }
            }
        }
    </article>
</div>
<script>
    function mapsSelector(address) {
        if /* if we're on iOS, open in Apple Maps */
          ((navigator.platform.indexOf("iPhone") != -1) ||
           (navigator.platform.indexOf("iPad") != -1) ||
           (navigator.platform.indexOf("iPod") != -1))
            window.open("maps://maps.google.com/maps?daddr=" + address);
        else /* else use Google */
            window.open("https://maps.google.com/maps?daddr=" + address);
    }


    function mapsSelector1(ltd,lth)
    {
        if /* if we're on iOS, open in Apple Maps */
    ((navigator.platform.indexOf("iPhone") != -1) || 
     (navigator.platform.indexOf("iPad") != -1) || 
     (navigator.platform.indexOf("iPod") != -1))
            window.open("maps://maps.google.com/maps?daddr="+ltd+","+lth+"&amp;ll=");
        else /* else use Google */
            window.open("https://maps.google.com/maps?daddr="+ltd+","+lth+"&amp;ll=");
    }


    function RejectRequest(id) {
        $("#txtrsn").val('');
        $('#myModalTimeReject').modal({ backdrop: 'static', keyboard: false })
        $("#hdnid").val(id);
    }
    $("#myModalcloseReject").click(function () {
        $('#myModalTimeReject').modal('hide');
    });

    $("#btnmyModalTimeReject").click(function () {
        var res = $.trim($("#txtrsn").val());
        if (res == "") {
            $("#Rejecterrortext").html("you must add reason for Cancel request");
            return false;
        }
        var id = $("#hdnid").val();
        var r = confirm('are you sure to Cancel request ?');
        if (r == true) {
            var url = "@Url.Action("rejectRequest", "Taccount")";
            $.post(url, { '_xid': id, 'res': res },
                function (data) {
                    if (data.indexOf("Error") == -1) {
                        alert("Request is canceled Succesfully");
                        location.reload();
                    } else {
                        $("#Rejecterrortext").html(data);
                        location.reload();
                    }
                });
        }
    });


    function Start(div, aid) {
        var startTime = moment(new Date()).format("hh:mm A")
        var url = "@Url.Action("startMassage", "Taccount")";
        $.post(url, { '_xid': aid, 'startTime': startTime }, function () {

        });
        $("#strtbtn_" + aid).attr("disabled", true).removeClass("btn-action").addClass("btn-success");
        $("#" + div).html("Your start time is " + moment(new Date()).format("DD-MMM-YY hh:mm A") + " saved");
    }

    function End(div, aid) {
        var url = "@Url.Action("endMassage", "Taccount")";
        $("#btnEnd_" + aid).attr("disabled", true).removeClass("btn-action").addClass("btn-success");
        $.post(url, { '_xid': aid }, function (data) {
            if (data.indexOf("Error") == -1) {
                $("#div_" + aid).hide(1000);
                $("#" + div).html("Your end time is " + moment(new Date()).format("DD-MMM-YY hh:mm:A") + " saved");
            }
            else {
                $("#" + div).html(data);
                $("#btnEnd_" + aid).attr("disabled", false).addClass("btn-action").removeClass("btn-success");
            }
        });
    }

    function left(div, aid) {
        var leftCabTime = moment(new Date()).format("hh:mm A")
        var url = "@Url.Action("leftInCab", "Taccount")";
        $.post(url, { '_xid': aid, 'leftCabTime': leftCabTime }, function () {

        });
        $("#btn_" + aid).attr("disabled", true).removeClass("btn-action").addClass("btn-success");
        $("#" + div).html("Your left time is " + moment(new Date()).format("DD-MMM-YY hh:mm:A") + " saved");
    }
    $("#myModalclose1").click(function () {
        $('#myModalTime1').modal('hide');
    });

    var myVar = setInterval(function () { getCall(1, '11'); }, 300000);
    function call(cl, th, aid) {
        var url = "@Url.Action("GetCall", "chat")";
        var number = Math.floor(Math.random() * 2000000);
        $.post(url, { 'clientNumber': cl, 'therapistNumber': th, '_xid': aid, 'number': number }, function () {

        });
        $('#myModalTime1').modal({ backdrop: 'static', keyboard: false });
        myVar = setInterval(function () { getCall(aid, number); }, 3000);
    }

    function getCall(aid, number) {
        var url = "@Url.Action("checkstatus", "chat")";
        $.post(url, { '_xid': aid, 'number': number }, function (data) {
            if (data == 'Y') {
                $('#myModalTime1').modal('hide');
                clearInterval(myVar);
            }
        });
    }
</script>
<script>
    function viewterms(id) {
        var url = "@Url.Action("gettherapistterms", "appointment")";
        $.get(url, { 'id': id }, function (data) {
            $("#terms").html(data);
            $('#myterms').modal({ backdrop: 'static', keyboard: false });
        });
    }
</script>
