﻿
@{
    ViewBag.Title = "GetTherapistFeedBackByClient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
} 
<link href="@Url.Content("~/assets/css/TherapistProfiles.css")" rel="stylesheet" />
@model californiaspa.Models.Chat.AdminServeyModel

 
<div class="row">
    
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Therapist Feedback By Client
                <a class="btn btn-action pull-right" href="@Url.Action("dashboard","Admin")"> Back to Admin Home</a>
            </h3>
            <div class="clearfix"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-12 col-sm-12 "> 
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <span class="pull-left voiletImp">scroll right or left for more information</span>
                        <span class="pull-right voiletImp">scroll down for more profiles</span>
                    </div>
                    <div class="top-margin table-responsive Xscroll">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Therapist Name</th>
                                    <th>Client Name</th>
                                    <th>Feedback date</th>
                                    <th>Rating (Out of 10)</th>
                                    <th>Comments</th>
                                    <th>Edit/View Survey</th>
                                </tr>
                            </thead><tbody>
    @if (Model._Summarylist != null)
    {

        foreach (var item in Model._Summarylist)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>@item.ClientName </td>
                <td>@item.feedbackDate</td>
                <td>
                    @item.rating
                </td>
                <td>
                    @item.comments
                </td>
                <td><a class="btn btn-action" href="@Url.Action("Edit_Survey","Admin",new {token=item.token})"><icon class="glyphicon glyphicon-pencil"></icon> View/Edit</a> </td>

            </tr>

        }
    }
</tbody>
<tfoot>
    @ViewBag.paging
</tfoot>
                        </table>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
 
