﻿
@{
    ViewBag.Title = "ClientAccount";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 
@model californiaspa.Models.Account.AccountModel
<script>
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById("map2"), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });

            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }
    function initMap1(lat, lth, id) {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(lat, lth);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById(id), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div style = 'height:60px;width:200px'><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });
            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLSy7V_ejK6m-ffhI6kiiJf3wl7pnX2g&callback=initMap">
</script>

<div class="row">

    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">

            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
            <h1 class="page-title">
                Client Account
                <a class="btn btn-action pull-right"  href="@Url.Action("Taccount","confirmed_request")"> Back to Confirmed Appointments</a>

            </h1>
        </header>

        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                     
                    <div class="top-margin">
                        <label>Admin Client Name:</label>
                        <span>@Model.AdminUserName </span>
                    </div>
                    <div class="top-margin">
                        <label>Email Address :</label>
                        <span>@Model.emailAddress </span>

                    </div>
                    <div class="top-margin">
                        <label>Number Of Massages :</label>
                        <span>@Model.MassagesCount</span>
                    </div>
                    <div class="top-margin">
                        <label>Past Therapists tried: </label>
                        <span> @Model.Tharepisttried </span>
                    </div>
                    <div class="top-margin">
                        <label>Address:</label>
                        <span> </span>
                    </div>
                    <div class="top-margin table-responsive">
                        <label>Previous  reviews (Scroll down to view more)</label>
                        <div class="tbl">
                            <table class="table">
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Review</th>
                                    <th>Rating</th>
                                </tr>
                                @*@if (Model.appointmentList != null)
                    {
                        int i = 0;
                        foreach (var item in Model.appointmentList)
                        {
                            i = i + 1;
                            <tr>
                                <td>@i</td>
                                <td>@item.Name</td>
                                <td style="white-space:nowrap">@(Convert.ToDateTime(item.date).ToString("d-MMM-yy"))</td>
                                <td>@item.time</td>
                                <td>@item.address</td>
                                <td>@item.amount <span>$</span></td>
                            </tr>

                        }
                    }*@
                            </table>
                        </div>
                    </div> 
                    <div class="top-margin table-responsive">
                        <label>Confirmed Appointments (Scroll down to view more)</label>
                        <div class="tbl">
                            <table class="table">
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Address</th>
                                    <th>Amount</th>
                                </tr>
                                @if (Model.appointmentList != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.appointmentList)
                                    {
                                        i = i + 1;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td>@(Convert.ToDateTime(item.date).ToString("d-MMM-yy"))</td>
                                            <td>@item.time</td>
                                            <td>@item.address</td>
                                            <td>@item.amount <span>$</span></td>
                                        </tr>

                                    }
                                }
                            </table>
                        </div>
                    </div>
                     
                    @if (Model.ltd != "0")
                    {
                        <div class="top-margin">
                            <label>Client Location  :</label>
                            <div id="Map" class="mapDiv"> </div>
                            <script>
                                initMap1('@Model.ltd', '@Model.lth', 'Map');
                            </script>
                        </div>
                    }
                    <div id="map2" class="mapDiv notDisplay"> </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </article>
    <!-- /Article -->

</div>

 