﻿﻿
@{
    ViewBag.Title = "View profile";
    Layout = "~/Views/Shared/_LayoutTherapist.cshtml";
    int pages = (int)ViewBag.page;
}
<script src="@Url.Content("~/assets/slider/responsiveslides.min.js")"></script>
<link rel="stylesheet" href="@Url.Content("~/assets/slider/responsiveslides.css")">
<link href="@Url.Content("~/assets/css/ETherapistprofiles.css")" rel="stylesheet" />
@model californiaspa.Models.therapist.therapistprofile
<style>
    .callbacks img {
        width: 50% !important;
    }

    .mxhght {
        max-height: 500px;
    }

    .selected a {
        background-color: black !important;
        border: 1px solid black !important;
    }
</style>
<div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                My Profile
                <a class="btn btn-action pull-right" href="@Url.Action("dashboard","TAccount")"> Back to Therapist Home</a>
            </h3>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-4   col-sm-4  ">
            <div class="panel panel-default">
                @using (Html.BeginForm("UpdateProfileimage", "Taccount", FormMethod.Post, new { @id = "frmsendsms", enctype = "multipart/form-data" }))
            {
                    <div class="panel-body">
                        <div class="top-margin">
                            <label>Profile Image :</label>
                            @if (!string.IsNullOrEmpty(Model.imagePath))
                            {
                                <img id="image" alt="California Spa" src="@Url.Content(Model.imagePath)" class="width25" />
                            }
                            else
                            {
                                <img id="image" alt="California Spa" src="#" class="width50 notDisplay" />
                            }
                            <input type="file" id="file" name="file" @(!string.IsNullOrEmpty(Model.token) ? "" : "required") />
                            <script>
                                document.getElementById("file").onchange = function () {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        // get loaded data and render thumbnail.
                                        document.getElementById("image").src = e.target.result;
                                        document.getElementById("image").style.display = 'block';
                                    };
                                    // read the image file as a data URL.
                                    reader.readAsDataURL(this.files[0]);
                                };
                            </script>
                        </div>
                        <div class="top-margin">
                            <label>Name of therapist :</label>
                            <span>@Model.name</span>

                        </div>
                        <div class="top-margin">
                            <label>Mobile Number :</label>
                            <span>@Model.mobile</span>
                        </div>
                        <div class="top-margin">
                            <label>UserName :</label>
                            <span>@Model.Username</span>
                        </div>
                        <div class="top-margin">
                            <label>Password :</label>
                            <span>@Model.Password</span>
                        </div>
                        <div class="top-margin">
                            <label>Age :</label>
                            <span>@Model.Age</span>
                        </div>
                        <div class="top-margin">
                            <label>Location :</label>
                            <span>@Model.location</span>
                        </div>
                        <div class="top-margin">
                            <label>Rate :</label>
                            <span>@Model.rate Rs</span>
                        </div>
                        <div class="top-margin">
                            <label>Language :</label>
                            <span>@Model.languages</span>
                        </div>
                        <div class="top-margin">
                            <label>Massage Styles :</label>
                            <span>@Model.MassageStyles</span>
                        </div>
                        <div class="top-margin">
                            <label>First  Appointment Schedule :</label>
                            <span>@Model.FirstAptTime </span>
                        </div>
                        <div class="top-margin">
                            <label>Last  Appointment Schedule :</label>
                            <span>@Model.LastAptTime</span>
                        </div>
                        <div class="top-margin">
                            <label>Max Appointment Limit :</label>
                            <span>@Model.bookingLimit</span>
                        </div>
                        <div class="top-margin">
                            <label>Comment :</label>
                            <span>@Model.Adminreview</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                            <button type="submit" class="btn btn-primary">@(!string.IsNullOrEmpty(Model.token) ? "Update" : "Add New") Profile Image</button>
                        </div>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-8   col-sm-8">
            <div class="panel panel-default">
                @using (Html.BeginForm("UpdateImage", "Taccount", FormMethod.Post, new { @id = "frmsendsms", enctype = "multipart/form-data" }))
                {
                    <div class="panel-body">
                        @if (Model.images != null)
                        {
                            int i = 0;
                            <div class="row" id="camera_wrap">
                                <ul class="rslides">

                                    @foreach (var items in Model.images)
                                    {
                                        i = i + 1;
                                        <li>
                                            <div class="col-md-12">
                                                <img src="@Url.Content(items.path)" />
                                            </div>  <div class="col-md-12">
                                                <input type="button" onclick="deleteImage('@items.ImgId')" class="btn btn-action" value="Delete" />
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }<hr />
                        <div class="top-margin">
                            <label>Upload New Images(Select multiple images and upload) :</label>
                            <input type="file" id="files" name="files" multiple required />
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-4 text-right">
                                <button type="submit" class="btn btn-primary">@(!string.IsNullOrEmpty(Model.token) ? "Update Images" : "Add New Images")</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 ">
            <div class="top-margin table-responsive">
                <label>Client Reviews (Scroll down to view more)</label>
                <div class="tbl1" id="comments">
                    <table class="table">
                        <tr>
                            <th>Sr no.</th>
                            <th>Client Name </th>
                            <th>Review</th>
                            <th>Appointment Date </th>
                            <th>Review date </th>
                            <th>Rating(out of 10)</th>
                        </tr>
                        @if (Model.Comments != null)
                        {
                            int i = 0;
                            foreach (var item in Model.Comments)
                            {
                                i = i + 1;
                                <tr>
                                    <td>@item.srno</td>
                                    <td>@item.name</td>
                                    <td>@item.Comment</td>
                                    <td>@item.aptdate</td>
                                    <td>@item.Commentdate</td>
                                    <td>@item.rating</td>
                                </tr>
                            }
                            <tr><td colspan="6">@ViewBag.paging</td></tr>
                        }

                    </table>
                </div>
            </div>
        </div>
    </article>
</div>
@if(pages>1)
{
    <script>
        var wtf = $("#comments");
        var height = wtf[0].scrollHeight;
        wtf.scrollTop(height);
    </script>
}
<script type="text/javascript" charset="utf-8">
    $(".rslides").responsiveSlides({
        auto: true,             // Boolean: Animate automatically, true or false
        speed: 500,            // Integer: Speed of the transition, in milliseconds
        timeout: 4000,          // Integer: Time between slide transitions, in milliseconds
        pager: false,           // Boolean: Show pager, true or false
        nav: false,             // Boolean: Show navigation, true or false
        random: true,          // Boolean: Randomize the order of the slides, true or false
        pause: false,           // Boolean: Pause on hover, true or false
        pauseControls: true,    // Boolean: Pause when hovering controls, true or false
        //prevText: "Previous",   // String: Text for the "previous" button
        //nextText: "Next",       // String: Text for the "next" button
        //maxwidth: "",           // Integer: Max-width of the slideshow, in pixels
        //navContainer: "",       // Selector: Where controls should be appended to, default is after the 'ul'
        //manualControls: "",     // Selector: Declare custom pager navigation
        //namespace: "rslides",   // String: Change the default namespace used
        // before: function () { },   // Function: Before callback
        // after: function () { }     // Function: After callback
        namespace: "callbacks",
        before: function () {
            $('.events').append("<li>before event fired.</li>");
        },
        after: function () {
            $('.events').append("<li>after event fired.</li>");
        }
    });
    function deleteImage(id) {
        var r = confirm('are you sure to delete ?');
        if (r == true) {
            var url = "@Url.Action("DeleteImage", "Admin")";
            $.post(url, { '_xid': id },
                function (data) {
                    if (data.indexOf("Error") == -1) {
                        alert(data);
                        location.reload();
                    } else {
                        alert(data);
                    }
                });
        }
    }

    var id = 0;

    $('.modal').on('hidden.bs.modal', function (event) {
        $(this).removeClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') - 1);
    });

    $('.modal').on('shown.bs.modal', function (event) {
        if (typeof ($('body').data('fv_open_modals')) == 'undefined') {
            $('body').data('fv_open_modals', 0);
        }
        if ($(this).hasClass('fv-modal-stack')) {
            return;
        }

        $(this).addClass('fv-modal-stack');

        $('body').data('fv_open_modals', $('body').data('fv_open_modals') + 1);

        $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals')));

        $('.modal-backdrop').not('.fv-modal-stack')
                .css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('fv-modal-stack')
                .addClass('fv-modal-stack');
    });
    $("#FirstAptTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time3H").val(_time[0]); $("#Time3M").val(_time[1]); $("#Time3AM").val(_val1[1]);

        $('#myModalTime3').modal({ backdrop: 'static', keyboard: false });
    });
    $("#LastAptTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time4H").val(_time[0]); $("#Time4M").val(_time[1]); $("#Time4AM").val(_val1[1]);

        $('#myModalTime4').modal({ backdrop: 'static', keyboard: false });
    });
    $("#btnmyModalTime3").click(function () {
        var _time = $("#Time3H").val() + ":" + $("#Time3M").val() + " " + $("#Time3AM").val();
        $("#FirstAptTime").val(_time);
        $('#myModalTime3').modal('hide');
    });
    $("#btnmyModalTime4").click(function () {
        var _time = $("#Time4H").val() + ":" + $("#Time4M").val() + " " + $("#Time4AM").val();
        $("#LastAptTime").val(_time);
        $('#myModalTime4').modal('hide');
    });

    $("#myModalclose1").click(function () {
        $('#myModalTime1').modal('hide');
    });

    $("#myModalTime4close").click(function () {
        $('#myModalTime4').modal('hide');
    });

    $("#myModalTime3close").click(function () {
        $('#myModalTime3').modal('hide');
    });

    $(".avalImage").on("click", function () {
        var _ModalId = $(this).data("val");
        $('#' + _ModalId).modal({ backdrop: 'static', keyboard: false })
    });

    $(document).ready(function () {
        $("area[rel^='prettyPhoto']").prettyPhoto();
        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_square', slideshow: 3000, autoplay_slideshow: false });
        $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', slideshow: 10000, hideflash: true });

    });

    function getCalender(_id) {
        var maxDate = moment(new Date()).format("YYYY-MM-DD");
        $('#calendar' + _id).fullCalendar({
            theme: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            firstDay: moment().weekday(),
            defaultDate: maxDate,
            editable: false,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '/therapist/GetEvents/',
                cache: true,
                type: 'GET',
                data: {
                    thid: _id
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {
                var _class = element.find('.fc-title').parent().parent().hasClass('redEvent');
                if (_class == true) {
                    element.find('.fc-title').parent().parent().css("cssText", "background-color: grey !important;border-color: grey !important;");

                }
                var _title = element.find('.fc-title').html();
                if (_title != "&nbsp;") {
                    element.find('.fc-time').html("");
                    element.find('.fc-time').css("font-size", "9px");
                    element.find('.fc-title').css("font-size", "7px");
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<hr class="hr1" />' + $.fullCalendar.formatDate(event.end, "hh:mm A") + '<hr class="hr2" />');
                    //element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                } else {
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                }

                if (_title == "Not Working") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Not <br/> Working");
                }
            },
            dayRender: function (date, cell) {
                var maxDate = moment(new Date()).format("YYYY-MM-DD");
                var newDate = moment(date).format("YYYY-MM-DD");
                if (newDate < maxDate) {
                    $(cell).addClass('fc-not-allowed');
                    $(cell).css('background', 'grey');
                }
            }
        });

        $('#myModal' + _id).modal({ backdrop: 'static', keyboard: false })
    }
</script>

