﻿
@{
    ViewBag.Title = "Notification";
    Layout = "~/Views/Shared/_LayoutTherapist.cshtml";
}

<script>
    function initMap() {
        debugger;
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                $("#ltd").val(p.coords.latitude);
                $("#lth").val(p.coords.longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById("map2"), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    $("#ltd").val(e.latLng.lat());
                    $("#lth").val(e.latLng.lng());
                    map.setCenter(pos);
                });

            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLSy7V_ejK6m-ffhI6kiiJf3wl7pnX2g&callback=initMap">
</script>

<div class="row">

    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">

            <h4 class="page-title">
                Location Notification<span>PLEASE KEEP THIS SCREEN OPEN TILL LOCATION IS SENT</span>
                <a href="@Url.Action("confirmed_request","taccount")" class="btn btn-action pull-right">Return to Confirmed Appointments</a>

                <span id="xtexId" class="notDisplay">@( ViewBag.token != null ? ViewBag.token.ToString() : "0")</span>
                <input type="hidden" id="lth" />
                <input type="hidden" id="ltd" />
            </h4>
            <div class="clearfix"></div>
        </header>

        <div class="col-md-8    col-sm-8 ">
            <div class="clearfix"></div> <div id="map2" class="mapDiv notDisplay"> </div>
            <span class="autohide error">Your Location will be  sent in <span id="sec">20</span> seconds</span>
        </div>

    </article>
    <!-- /Article -->
    <script>
        var myVar = setInterval(function () { getclock() }, 1000);
        function getclock()
        {
            var second = $("#sec").html();
            if(second=="0")
            {
                clearInterval(myVar);
                $(".autohide").html('Your location sent succesfully !');
            }
            else {
                var newsec =parseInt(second, 10) - 1;
                $("#sec").html(newsec);
            }

        }


        function Getlocation()
        {
            debugger;
            initMap();
            var url = "@Url.Action("sendNotification", "TAccount")";
            var serchrToken = $("#xtexId").html();
            var lth = $("#lth").val();
            var ltd = $("#ltd").val();
            $.post(url, { '_xid': serchrToken, 'lth': lth, 'ltd': ltd}, function (data) {

            });
        }
        $(window).load(function () {
          setInterval(function () { Getlocation();}, 10000);
        });
    </script>
</div>


