﻿﻿
@{
    ViewBag.Title = "Appointment Request";
    Layout = "~/Views/Shared/_LayoutTherapist.cshtml";
}
<link href="@Url.Content("~/assets/css/request.css")" rel="stylesheet" />

@{
    int a = 0;
    string lt = "";
}
@model californiaspa.Models.Appointment.AppointmentModel
@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-MMM-y")</span>
}

@helper FormatDay(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.DayOfWeek</span>
}

@helper FormatDateWithTime(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-MMM-y ; hh:mm tt")</span>
}
<style>
    iframe {
        display: block;
        width: 100%;
    }
</style>
<script>
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                $("#ltd").val(p.coords.latitude);
                $("#lth").val(p.coords.longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    gestureHandling: 'greedy',
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };
                var map = new google.maps.Map(document.getElementById("map2"), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    draggable: true,
                    title: ""
                });
                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "dragend", function (e) {
                    var pos = {
                        lat: e.latLng.lat(),
                        lng: e.latLng.lng()
                    };
                    $("#ltd").val(e.latLng.lat());
                    $("#lth").val(e.latLng.lng());
                    map.setCenter(pos);
                });
                $('#myModalTime3').on('shown.bs.modal', function () {
                    google.maps.event.trigger(map, "resize");
                    map.setCenter(LatLng);
                });
            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }
    function initMap1(lat, lth, id) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(lat, lth);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    gestureHandling: 'greedy',
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };
                var map = new google.maps.Map(document.getElementById(id), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });
                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });
                google.maps.event.trigger(map, "resize");
            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLSy7V_ejK6m-ffhI6kiiJf3wl7pnX2g&callback=initMap">
</script>
<div class="row">
    <span id="xtexId" class="notDisplay">@( ViewBag.token != null ? ViewBag.token.ToString() : "0")</span>
    <div id="myModalTime4" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose4" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Confirm Appointment( <span id="appointmentTime"></span> <span id="appointmentday"></span>)</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="top-margin col-md-12">
                            <label>Client Requested Earliest START time:</label>
                            <span id="startTime4"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-12">
                            <label>Client Requested Lastest START time :</label>
                            <span id="endTime4"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Therapist to confirm a time between the above or enter a different time</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Hour </label>
                            <select class="form-control" id="Time4H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Minute </label>
                            <select class="form-control" id="Time4M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Am/Pm </label>
                            <select class="form-control " id="Time4AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <span class="autohide error" id="T4errortext"></span>
                    <input type="hidden" id="hdnid4" />
                    <input type="hidden" id="hdnid3" />
                    <input type="hidden" id="hdnClientId" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime4">Confirm Request</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalTime3" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose3" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Confirm Appointment ( <span id="appointmentTimes"></span> <span id="appointmentdays"></span></h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="top-margin col-md-12">
                            <label>Client Requested Earliest START time:</label>
                            <span id="startTime"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-12">
                            <label>Client Requested Lastest START time :</label>
                            <span id="endTime"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Therapist to confirm a time between the above or enter a different time</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Hour </label>
                            <select class="form-control" id="Time1H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Minute </label>
                            <select class="form-control" id="Time1M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Am/Pm </label>
                            <select class="form-control " id="Time1AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-12">
                            <label>Client Pickup time :</label>
                            <span id="pickupTime"></span>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span>Enter a time 1 to 2 hrs before appointement time so that there is enough time to travel to clients location and reach on time</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Hour </label>
                            <select class="form-control" id="Time9H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Minute </label>
                            <select class="form-control" id="Time9M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Am/Pm </label>
                            <select class="form-control " id="Time9AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-12">
                            <label>Check Appointment Location :</label>
                            <div id="map3" class="mapDiv"></div>
                            <span>To enlarge  map use 2 fingers and to move use 1 finger</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-12">
                            <label>Select Your location(<span>Select your location  Where Client should pick you up</span>) :</label>
                            <div id="map2" class="mapDiv"></div>
                            <span>To enlarge  map use 2 fingers and to move use 1 finger<br />Put your finger on red marker and move it to exact location where client will pick you</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-6">
                            <label>Enter landmark Where Client will pick you:</label>
                            <textarea class="form-control landmark" id="txtrsn3"></textarea>
                        </div>
                    </div>
                    <span class="autohide error" id="T3errortext"></span>
                    <input type="hidden" id="hdnid3" />
                    <input type="hidden" id="hdnClientId" />
                    <input type="hidden" id="ltd" />
                    <input type="hidden" id="lth" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime3">Confirm Request</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose1" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter Reject reason</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-6">
                            <label>Enter Reason :</label>
                            <textarea class="form-control reason" id="txtrsn"></textarea>
                        </div>
                    </div>
                    <span class="autohide error" id="T1errortext"></span>
                    <input type="hidden" id="hdnid" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime1">Reject Request</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalTime2" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose2" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter Retrun reason</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-6">
                            <label>Enter Reason :</label>
                            <textarea class="form-control reason" id="txtrsn2"></textarea>
                        </div>
                    </div>
                    <span class="autohide error" id="T2errortext"></span>
                    <input type="hidden" id="hdnid2" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime2">Return Request</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h4>
                Appointment Request
                <a href="@Url.Action("dashboard","taccount")" class="btn btn-action pull-right">Return to Therapist home</a>
            </h4>
            <div class="clearfix"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
            <span class="autohide error" id="error"></span>
        </header>
        @if (Model.appt.Count() > 0)
        {
            foreach (var item in Model.appt)
            {
                a += 1;
                <div class="col-md-6  col-sm-6">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="top-margin">
                                <label>Client Initiated Request On Date / Time :</label>
                                <span>@FormatDateWithTime(item.createdDate) @FormatDay(item.createdDate)</span>
                                <br />
                                <span>This is NOT Appointment date Time</span>
                            </div>
                            <div class="top-margin">
                                <label>Name of Client  :</label>
                                <span><a href="@Url.Action("ClientAccount", "Taccount", new { _xid = item.ClientId,editid=0 })">@item.ClientName (Click on Client Name To View Profile)</a></span>
                            </div>
                            <div class="top-margin">
                                <label>Name of Therapist  :</label>
                                <span><a href="@Url.Action("Myprofile", "Taccount")">@item.therapistName (Click on  Name To View Profile)</a></span>
                            </div>
                            <div class="top-margin">
                                <label>Appointment Requested Date :</label>
                                <span id="AppointmentStartDate_@item.Aid">@FormatDate(item.startDate) </span><span>@FormatDay(item.startDate)</span>
                            </div>
                            <div class="top-margin">
                                <label>Client Requested Earliest START time:</label>
                                <span id="start_@item.Aid">@item.startTime</span>
                            </div>
                            <div class="top-margin">
                                <label>Client Requested Lastest START time :</label>
                                <span id="end_@item.Aid">@item.arrivalTime</span>
                            </div>
                            <div class="top-margin">
                                <span>Therapist to confirm a time between the above or enter a different time</span>
                            </div>
                            <div class="top-margin">
                                <label> location:</label>
                                <span>@(!string.IsNullOrEmpty(item.location) ? item.location : "Spa Hotel")</span>
                            </div>
                            @if (!string.IsNullOrEmpty(item.address))
                            {
                                <div class="top-margin">
                                    <label>Address :</label>
                                    <span>@item.address</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.houseNumber))
                            {
                                <div class="top-margin">
                                    <label>House Number :</label>
                                    <span>@item.houseNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.aptNumber))
                            {
                                <div class="top-margin">
                                    <label>Flat Number :</label>
                                    <span>@item.aptNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.hotelName))
                            {
                                <div class="top-margin">
                                    <label>Hotel Name :</label>
                                    <span>@item.hotelName</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.floorNumber))
                            {
                                <div class="top-margin">
                                    <label>Floor Number :</label>
                                    <span>@item.floorNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.roomNumber))
                            {
                                <div class="top-margin">
                                    <label>Room Number :</label>
                                    <span>@item.roomNumber</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.aptName))
                            {
                                <div class="top-margin">
                                    <label>Apt. Name :</label>
                                    <span>@item.aptName</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.streetName))
                            {
                                <div class="top-margin">
                                    <label>Street Name :</label>
                                    <span>@item.streetName</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.crossstreetName))
                            {
                                <div class="top-margin">
                                    <label>Cross Street Name :</label>
                                    <span>@item.crossstreetName</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.landmark))
                            {
                                <div class="top-margin">
                                    <label>LandMark :</label>
                                    <span>@item.landmark</span>
                                </div>
                            }
                            @if (!string.IsNullOrEmpty(item.localityArea))
                            {
                                <div class="top-margin">
                                    <label>Locality Area :</label>
                                    <span>@item.localityArea</span>
                                </div>
                            }

                            <div class="top-margin">
                                <label>Amount :</label>
                                <span>Rs &nbsp;@item.rate </span>
                            </div>
                            <div class="top-margin">
                                <label>pick and drop or transport  :</label>
                                <span>@item.pickdrop</span>
                            </div>
                            @if (!string.IsNullOrEmpty(item.ClientPickUptime))
                            {
                                <div class="top-margin">
                                    <label>Client Pick-up Time  :</label>
                                    <span id="pck_@item.Aid">@item.ClientPickUptime</span>
                                </div>
                            }
                            <div class="top-margin">
                                <label>Custom Message  :</label>
                                <span> @item.custommessage</span>
                            </div>

                            @if (item.ltd != "0" && string.IsNullOrEmpty(item.SpaMap))
                            {
                                lt = "1";
                                <div class="top-margin">
                                    <label>Check Appointment Location  :</label>
                                    <div id="Map_@item.Aid" class="mapDiv"> </div>
                                    <br />
                                    <span>Please check if house address given matches map location.To enlarge map use 2 fingers and to move use 1 finger </span>
                                    <script>
                                        initMap1('@item.ltd', '@item.lth', 'Map_@item.Aid');
                                    </script>
                                </div>
                            }
                            else
                            {
                                lt = "";
                                <div class="top-margin">
                                    <label>Check Appointment Location  :</label>
                                    <div id="Map_@item.Aid" class="mapDiv">
                                        @Html.Raw(item.SpaMap)
                                    </div>
                                    <br />
                                    <span>Please verify Client location.  To enlarge or move map use 2 fingers</span>
                                </div>
                            }
                            <hr>
                            <div class="row">
                                <div class="col-lg-12">
                                    @if (item.pickdrop != "Pay 2 way ola transport ")
                                    {
                                        <a class="btn btn-action" onclick="confirmRequest('@item.Aid','@item.ClientId','@item.ltd', '@item.lth','@lt')"> Confirm Request </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-action" onclick="confirmRequestWithoutLandmark('@item.Aid','@item.ClientId','@item.ltd', '@item.lth')"> Confirm Request </a>

                                    }
                                    <a class="btn btn-action" onclick="RetrunRequest('@item.Aid')"> Edit and Return Request </a>

                                </div>
                                <div class="clearfix"></div><br />
                                <div class="col-lg-12">
                                    <a class="btn btn-action" href="#" onclick="RejectRequest('@item.Aid')"> Reject request and enter reason</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                if (a == 2)
                {
                    <div class="clearfix"></div>
                    a = 0;
                }
            }
        }
    </article>
    <script type="text/javascript" charset="utf-8">
        $("#myModalclose1").click(function () {
            $('#myModalTime1').modal('hide');
        });

        $("#myModalclose2").click(function () {
            $('#myModalTime2').modal('hide');
        });

        $("#myModalclose3").click(function () {
            $('#myModalTime3').modal('hide');
        });

        $("#myModalclose4").click(function () {
            $('#myModalTime4').modal('hide');
        });

        function RejectRequest(id) {
            $("#txtrsn").val('');
            $('#myModalTime1').modal({ backdrop: 'static', keyboard: false })
            $("#hdnid").val(id);
        }

        function RetrunRequest(id) {
            $("#txtrsn2").val('');
            $('#myModalTime2').modal({ backdrop: 'static', keyboard: false })
            $("#hdnid2").val(id);
        }

        function confirmRequest(id, clientId, ltd, lth,lt) {
            var startTime = $("#AppointmentStartDate_" + id).text();
            var _day = GetDay(startTime);
            $("#appointmentTimes").text(startTime);
            $("#appointmentdays").text("(" + _day + ")");
            $("#txtrsn3").val('');
            if (lt != "0" && lt != "") {
                initMap1(ltd, lth, 'map3');
            }
            else
            {
                var _html = $("#Map_" + id).html();
                $("#map3").html(_html);
            }
            $('#myModalTime3').modal({ backdrop: 'static', keyboard: false });
            initMap();
            $("#hdnid3").val(id);
            var _timet = $("#pck_" + id).html();
            var hm = _timet.split(' ')[0];
            var ampm = _timet.split(' ')[1];
            var h = hm.split(':')[0];
            var m= hm.split(':')[1];
            $("#Time9H").val(h); $("#Time9M").val(m);$("#Time9AM").val(ampm);
            $("#pickupTime").html(_timet);
            $("#hdnClientId").val(clientId);
            var end = $("#end_" + id).html();
            var start = $("#start_" + id).html();
            $("#endTime").html(end);
            $("#startTime").html(start);
        }

        function confirmRequestWithoutLandmark(id, clientId, ltd, lth) {
            var startTime = $("#AppointmentStartDate_" + id).text();
            var _day = GetDay(startTime);
            $("#appointmentTime").text(startTime);
            $("#appointmentday").text("(" + _day + ")");
            $("#txtrsn4").val('');
            $('#myModalTime4').modal({ backdrop: 'static', keyboard: false })
            $("#hdnid4").val(id);
            $("#hdnClientId").val(clientId);
            var end = $("#end_" + id).html();
            var start = $("#start_" + id).html();
            $("#endTime4").html(end);
            $("#startTime4").html(start);
        }

        $("#btnmyModalTime4").click(function () {
            var id = $("#hdnid4").val();
            var date = $("#appointmentTime").html();
            var _time = $("#Time4H").val() + "_" + $("#Time4M").val() + "_" + $("#Time4AM").val();
            var _time1 = $("#Time4H").val() + ":" + $("#Time4M").val() + ":" + $("#Time4AM").val();
            var stt = new Date("November 13, 2013 " + _time1);
             
            var selectedDate = stt;
            var selectedDate11 = new Date("November 13, 2013 11:55 PM");
            var selectedDate7 = new Date("November 13, 2013 07:00 AM");
            if (selectedDate > selectedDate11) {
                $("#T4errortext").html("Confirm time must less then  11:55 pm")
                return false;
            }
            if (selectedDate < selectedDate7) {
                $("#T4errortext").html("Confirm time must grater then 07:00 AM")
                return false;
            }

            var url = "@Url.Action("request", "Taccount")" + "?token=" + id + "_" + _time + "&confirmDate=" + date;
            $("#btnmyModalTime4").removeClass("btn-action");
            $("#btnmyModalTime4").addClass("btn-success");
            $("#btnmyModalTime4").prop("disabled", true);
            var _url = "@Url.Action("getConfirmrequest", "Taccount")";
            $.post(_url, { 'id': id, 'time': _time },
                    function (data) {
                        if (data.indexOf("Error") == -1) {
                            location.href = url;
                        } else {
                            $("#T4errortext").html(data);
                            $("#btnmyModalTime4").addClass("btn-action");
                            $("#btnmyModalTime4").removeClass("btn-success");
                            $("#btnmyModalTime4").prop("disabled", false);
                        }
                    });
        });
        $("#btnmyModalTime3").click(function () {
            var res = $.trim($("#txtrsn3").val());
            var Aid = $("#hdnid3").val();
            var clientId = $("#hdnClientId").val();
            if (res == "") {
                $("#T3errortext").html("you must add Your landmark");
                return false;
            }
            var id = $("#hdnid3").val();
            var lth = $("#lth").val();
            var ltd = $("#ltd").val();
            var date = $("#appointmentTimes").html();
            var _time = $("#Time1H").val() + ":" + $("#Time1M").val() + " " + $("#Time1AM").val();
            var _pcktime = $("#Time9H").val() + ":" + $("#Time9M").val() + " " + $("#Time9AM").val();
            var stt = new Date("November 13, 2013 " + _time); 
            var selectedDate = stt;
            var selectedDate11 = new Date("November 13, 2013 11:55 PM");
            var selectedDate7 = new Date("November 13, 2013 07:00 AM");
            if (selectedDate > selectedDate11) {
                $("#T3errortext").html("Confirm time must less then  11:55 pm")
                return false;
            }
            if (selectedDate < selectedDate7) {
                $("#T3errortext").html("Confirm time must grater then 07:00 AM")
                return false;
            }


            var r = confirm('are you sure to confirm request ?');
            if (r == true) {
                var _url = "@Url.Action("getConfirmrequest", "Taccount")";
                $.post(_url, { 'id': id, 'time': _time },
                        function (data) {
                            if (data.indexOf("Error") == -1) {
                                $("#btnmyModalTime3").removeClass("btn-action");
                                $("#btnmyModalTime3").addClass("btn-success");
                                $("#btnmyModalTime3").prop("disabled", true);
                                var url = "@Url.Action("confirmrequest", "Taccount")";
                                $.post(url, { 'id': id, 'res': res, 'lth': lth, 'ltd': ltd, 'time': _time, 'confirmDate': date, 'clientId': clientId, 'Aid': Aid, 'pcktime': _pcktime },
                                    function (data) {
                                        if (data.indexOf("Error") == -1) {
                                            alert(data);
                                            location.href=url = "@Url.Action("confirmed_request", "Taccount")";
                                        } else {
                                            $("#T3errortext").html(data);
                                            $("#btnmyModalTime3").addClass("btn-action");
                                            $("#btnmyModalTime3").removeClass("btn-success");
                                            $("#btnmyModalTime3").prop("disabled", false);
                                        }
                                    });
                            } else {
                                $("#T3errortext").html(data);
                                $("#btnmyModalTime3").addClass("btn-action");
                                $("#btnmyModalTime3").removeClass("btn-success");
                                $("#btnmyModalTime3").prop("disabled", false);
                            }
                        });
            }
        });

        $("#btnmyModalTime1").click(function () {
            var res = $.trim($("#txtrsn").val());
            if (res == "") {
                $("#T1errortext").html("you must add reason for reject request");
                return false;
            }
            var id = $("#hdnid").val();
            var r = confirm('are you sure to reject request ?');
            if (r == true) {
                var url = "@Url.Action("rejectRequest", "Taccount")";
                $.post(url, { '_xid': id, 'res': res },
                    function (data) {
                        if (data.indexOf("Error") == -1) {
                            alert(data);
                            location.reload();
                        } else {
                            $("#T1errortext").html(data);
                            location.reload();
                        }
                    });
            }
        });

        $("#btnmyModalTime2").click(function () {
            var res = $.trim($("#txtrsn2").val());
            if (res == "") {
                $("#T2errortext").html("you must add reason for retrun request");
                return false;
            }
            var id = $("#hdnid2").val();
            var r = confirm('are you sure to retrun request ?');
            if (r == true) {
                var url = "@Url.Action("return_request", "Taccount")";
                $.post(url, { 'id': id, 'res': res },
                    function (data) {
                        if (data.indexOf("Error") == -1) {
                            alert(data);
                            location.reload();
                        } else {
                            $("#T2errortext").html(data);
                        }
                    });
            }
        });

    </script>
</div>
