﻿
@{
    ViewBag.Title = "Edit Schedule";
    Layout = "~/Views/Shared/_LayoutTherapist.cshtml";
}
@model californiaspa.Models.therapist.Schedule
<link href="@Url.Content("~/assets/css/schedule.css")" rel="stylesheet" />
@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-MMM-y")</span>

} 
<div class="row">
    <div id="myModalcal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="voiletImp">Click on day to view availablity</span>
                    <button type="button" data-dismiss="modal" data-modelid="myModalcal" class="close">Close[&times;]</button>

                </div>
                <div class="modal-body">
                    <div id='calendar1'></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalTime1close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  first appointment and last appointment START time</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-12">
                            <input id="checkworking" type="checkbox" value="Y" />

                            <label>click here to set Not working for selected date </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>first appointment Hour </label>
                            <select class="form-control dis" id="Time1H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>first appointment Minute </label>
                            <select class="form-control dis" id="Time1M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>first appointment Am/Pm </label>
                            <select class="form-control dis" id="Time1AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>last appointment Hour </label>
                            <select class="form-control dis" id="Time2H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>

                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>last appointment Minute </label>
                            <select class="form-control dis" id="Time2M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>last appointment Am/Pm </label>
                            <select class="form-control dis" id="Time2AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="tid" />
                    <input type="hidden" id="tdate" />
                    <span class="autohide error" id="T1errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime1">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalTime3" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalTime3close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  first appointment  START time</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>first appointment Hour </label>
                            <select class="form-control" id="Time3H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>first appointment Minute </label>
                            <select class="form-control" id="Time3M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>first appointment Am/Pm </label>
                            <select class="form-control " id="Time3AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>

                    <span class="autohide error" id="T3errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime3">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime4" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalTime4close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  last appointment  START time</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Last appointment Hour </label>
                            <select class="form-control" id="Time4H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last appointment Minute </label>
                            <select class="form-control" id="Time4M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last appointment Am/Pm </label>
                            <select class="form-control " id="Time4AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>

                    <span class="autohide error" id="T4errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime4">Save</button>
                </div>
            </div>
        </div>
    </div>


    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h4>Create New Schedule
   <a href="@Url.Action("edit_schedule","TAccount")" class="btn btn-action  pull-right">Return To Schedule</a>
</h4>
        </header>
        <div class="col-md-6 col-md-offset-1 col-sm-6 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                     <p class="voiletImp font22" >This will create the same Schedule for all days</p>
                    <hr />
                    @using (Html.BeginForm("schedule", "TAccount", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                        <div class="top-margin">
                            <label>Enter  first appointment START time:</label>
                            <span>@Html.TextBoxFor(a => a.firstaptTime, new { @class = "form-control", @readonly = "readonly", @required = "required" })</span>
                        </div>
                        <div class="top-margin">
                            <label>Enter  last appointment START time :</label>
                            <span>
                                @Html.HiddenFor(a => a.tid)
                                @Html.TextBoxFor(a => a.LastaptTime, new { @class = "form-control", @readonly = "readonly", @required = "required" })
                       
                              </span>
                        </div>
                        <hr>
                        <span class="autohide error">@Model.ErrorText</span>
                        <div class="row">
                            <div class="col-lg-6">
                                <button type="submit" class="btn btn-action"> Save </button>
                            </div>
                            <div class="col-lg-6">
                                <a href="@Url.Action("edit_schedule","TAccount")" class="btn btn-action">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </article>
    <!-- /Article -->
</div>
<script>

    $("#myModalTime1close").on('click', function () {
        $('#myModalTime1').modal('hide');
    });


    $("#myModalTime4close").on('click', function () {
        $('#myModalTime4').modal('hide');
    });

    $("#myModalTime3close").on('click', function () {
        $('#myModalTime3').modal('hide');
    });

    $('#checkworking').on('change', function () {
        if ($(this).is(':checked')) {
            $("#checkworking").val('N');
            $(".dis").attr("disabled", "disabled");
        }
        else {
            $("#checkworking").val('Y');
            $(".dis").removeAttr("disabled");
        }
    });

    $("#btnmyModalTime1").on('click', function () {
        $("#T1errortext").html("please wait, while we updating time....");
        var _working = $("#checkworking").val();
        var _tid = $("#tid").val();
        var date = $("#tdate").val();
        var start = $("#Time1H").val() + ":" + $("#Time1M").val() + " " + $("#Time1AM").val();
        var end = $("#Time2H").val() + ":" + $("#Time2M").val() + " " + $("#Time2AM").val();
        var url = "@Url.Action("UpdateSchedule", "TAccount")";
        $.post(url, { 'working': _working, 'date': date, 'start': start, 'end': end, 'tid': _tid }, function (data) {
alert(data);           
 if (data.indexOf("Error") == -1) {
                $('#calendar1').fullCalendar('refetchEvents'); //the event has been removed from the database at this point so I just refetch the events
                $('#myModalTime1').modal('hide');
            }
            else {
                $("#T1errortext").html(data);
            }
        });
    });
    function getCalender(_id) {
        var maxDate = moment(new Date()).format("YYYY-MM-D");
        $('#calendar1').fullCalendar({
            theme: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            firstDay: moment().weekday(),
            defaultDate: maxDate,
            editable: false,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            //defaultView: 'agendaDay',

            eventClick: function (event) {
                $("#T1errortext").html('');
                var newDate = moment(event.start).format("YYYY-MM-D");
                if (newDate < maxDate) {
                    return false;
                }
                $("#tid").val(_id);
                $("#tdate").val(newDate);
                var start = $.fullCalendar.formatDate(event.start, "hh:mm A");
                var end = $.fullCalendar.formatDate(event.end, "hh:mm A");
                var _t = start.split(" ");
                var _h = _t[0].split(':');
                var _t2 = end.split(" ");
                var _h2 = _t2[0].split(':');
                $("#Time1H").val(_h[0]);
                $("#Time2H").val(_h2[0]);
                $("#Time1M").val(_h[1]);
                $("#Time2M").val(_h2[1]);
                $("#Time1AM").val(_t[1]);
                $("#Time2AM").val(_t2[1]);
                if (event.title == "&nbsp;" || event.title == ""||event.title=="Edited") {
                    $("#checkworking").val('Y');
                    $("#checkworking").attr('checked', false);
                    $(".dis").removeAttr("disabled");
                }
                else {
                    $("#checkworking").val('N');
                    $("#checkworking").attr('checked', true);
                    $(".dis").attr("disabled", "disabled");
                }
                $('#myModalTime1').modal({ backdrop: 'static', keyboard: false })
            },
            events: {
                url: '/therapist/GetEvents/',
                cache: true,
                type: 'GET',
                data: {
                    thid: _id
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {
                var _title = element.find('.fc-title').html();
                if (_title != "&nbsp;") {
                    element.find('.fc-time').html('');
                }
            },
            dayRender: function (date, cell) {
                var maxDate = moment(new Date()).format("YYYY-MM-D");
                var newDate = moment(date).format("YYYY-MM-D");
                if (newDate < maxDate) {
                    $(cell).addClass('fc-not-allowed');
                    $(cell).css('background', 'grey');
                }
            }
        });

        $('#myModalcal').modal({ backdrop: 'static', keyboard: false })
    }
    $('#myModalcal').on('shown.bs.modal', function () {
        $("#calendar1").fullCalendar('render');
        $('.fc-past>a').click(function () { return false; });
    });


    $("#firstaptTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time3H").val(_time[0]); $("#Time3M").val(_time[1]); $("#Time3AM").val(_val[1]);

        $('#myModalTime3').modal({ backdrop: 'static', keyboard: false });
    });
    $("#LastaptTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time4H").val(_time[0]); $("#Time4M").val(_time[1]); $("#Time4AM").val(_val[1]);

        $('#myModalTime4').modal({ backdrop: 'static', keyboard: false });
    });
    $("#btnmyModalTime3").click(function () {
        var _time = $("#Time3H").val() + ":" + $("#Time3M").val() + " " + $("#Time3AM").val();
        $("#firstaptTime").val(_time);
        $('#myModalTime3').modal('hide');
    });
    $("#btnmyModalTime4").click(function () {
        var _time = $("#Time4H").val() + ":" + $("#Time4M").val() + " " + $("#Time4AM").val();
        $("#LastaptTime").val(_time);
        $('#myModalTime4').modal('hide');
    });


    $('.modal').on('hidden.bs.modal', function (event) {
        $(this).removeClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') - 1);
    });


    $('.modal').on('shown.bs.modal', function (event) {
        if (typeof ($('body').data('fv_open_modals')) == 'undefined') {
            $('body').data('fv_open_modals', 0);
        }
        if ($(this).hasClass('fv-modal-stack')) {
            return;
        }

        $(this).addClass('fv-modal-stack');

        $('body').data('fv_open_modals', $('body').data('fv_open_modals') + 1);

        $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals')));

        $('.modal-backdrop').not('.fv-modal-stack')
                .css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('fv-modal-stack')
                .addClass('fv-modal-stack');
    });
</script>