﻿@model string

@{
    @Html.TextBoxFor(m => m, new { @class = "form-control mobile", @placeholder = ViewData.ModelMetadata.Watermark })
    <span id="error-msg" class="hide"></span>

    @*<span id="valid-msg" class="hide">✓ Valid</span>*@
    @*@Html.ValidationMessageFor(m => m,string.Empty ,new { @class = "errorMsg" })*@
    
    <script>

        var input = document.querySelector(".mobile"),
        errorMsg = document.querySelector("#error-msg");
        //validMsg = document.querySelector("#valid-msg");
        var errorMap = ["Invalid number", "Invalid country code", "Too short", "Too long", "Invalid number"];
        //initialise plugin
        var iti = window.intlTelInput(input, {
            utilsScript: "/assets/build/js/utils.js?1581331045115",
            formatOnDisplay:
    false
        });


        $(document).ready(function () {
            if ('@Model' != '') {

                if ($("#CountryCode").val() == '')
                {
                    $("#CountryCode").val('91');
                }
                //iti.setNumber(@Model);
                var mobile = "+" + $("#CountryCode").val() + '@Model';
                iti.setNumber(mobile);
                var country = iti.getSelectedCountryData();
                $('.mobile').val('');
                iti.setCountry(country.iso2);
                $('.mobile').val('@Model');

            }
            else {
                iti.setCountry('IN');
            }
        })

        $("form").submit(function (e) {

            // do your validation here ...
            if (CheckInValid()) {

                e.preventDefault();
                return false;
            }
        });


        var reset = function () {
           //var errorMsg = document.querySelector("#error-msg");

            //        input.classList.remove("error");
            errorMsg.innerHTML = "";
            errorMsg.classList.add("hide");
        //    validMsg.classList.add("hide");
        };

        function CheckInValid() {
            var validationFailed = false;

            reset();
            if (input.value.trim()) {
                if (iti.isValidNumber()) {
          //          validMsg.classList.remove("hide");
                    var code = iti.getSelectedCountryData().dialCode;
                    $("#CountryCode").val(code);
                    $('.btnSubmit').prop('disabled', false);
                }
                else {
                    $("#CountryCode").val("0");
  //                  input.classList.add("error");
                    var errorCode = iti.getValidationError();
                    errorMsg.innerHTML = errorMap[errorCode];
                    errorMsg.classList.remove("hide");
                    validationFailed = true;
                    $('.btnSubmit').prop('disabled', true);
                }
            }
            return validationFailed;
        }

        input.addEventListener('blur', function () {
            CheckInValid();
        });

        // on keyup / change flag: reset
        input.addEventListener('change', reset);
        input.addEventListener('keyup', reset);
    </script>

}