﻿@model californiaspa.Models.Chat.chatModel

@helper FormatDateTime(string date, string time, string colorCode, int messageid)
{
var d = Convert.ToDateTime(date);
    <span id="time_@messageid" class='@colorCode'>@d.ToString("d-MMM-y") ; @time</span>
}

@if (Model._chatList.Count > 0)
{
    <ul class="chats">
        @foreach (var items in Model._chatList)
        {
            <li class='by-me' onclick="GetTherapistChatByDiv('@items.messageId','@items.Clientid')">
                <div class='chat-content searchchat-content'>
                    <div class='clearfix'></div>
                    <div class='chat-meta'><span class='pull-right'>@FormatDateTime(items.date, items.time, "black", items.messageId) </span></div>
                    <div class='clearfix'></div>
                    <span id="msg_@items.messageId" class="black">   @items.message</span> <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div> 
            </li>
        }
    </ul>
}
else
{
    <span>No chat found With searched Keyword</span>
}


