﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title-California SPA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Umesh kumar" />
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand:300,400,700" rel="stylesheet" />
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.ico")" />
    <link rel="stylesheet" media="screen" href="@Url.Content("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-theme.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-clockpicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/prettyPhoto.css")" />
    <script type="text/javascript" src="@Url.Content("https://code.jquery.com/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/bootstrap-clockpicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/jquery.prettyPhoto.js")"></script>
    <script src="@Url.Content("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/headroom.min.js")"></script>
    <script src="@Url.Content("~/assets/js/custom.js")"></script>
    <script src="@Url.Content("~/assets/js/jQuery.headroom.min.js")"></script>
    <script src="@Url.Content("~/assets/js/template.js")"></script>
    <link href="@Url.Content("https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/assets/js/fullcalendar.js")"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="assets/js/html5shiv.js"></script>
    <script src="assets/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .hgt {
            height: 500px;
            min-height: 500px !important;
        }

        .box {
            width: auto;
            border: 4px solid #FFD700;
            box-shadow: inset 0 -1px 0 0 #FFD700, inset 0 1px 0 0 #FFD700, 0 1px 0 0 #FFD700, 0 -1px 0 0 #FFD700;
            height: auto;
            color: #f8d66a !important;
            /* padding: 25px 30px; */
            background: transparent;
            border-radius: 17px;
            margin: 10px !important;
        }
    </style>
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        function GetDay(date) {
            var _day = "";
            var _tu = "@Url.Action("GetDay", "chat")"; 
            $.ajax({
                type: 'POST',
                url: _tu,
                data: { '_date': date },
                async: false,
                success: function (response) {
                    _day = response;
                }
            });
            return _day;
        }
    </script>
</head> 
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverseCustom navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="@Url.Action("dashboard","main")"><img class="logoImage" src="@Url.Content("~/assets/images/logo.png")" alt="Califonia SPA"></a>
            </div>
            <div class="navbar-collapse collapse blackgroungblack">
                <ul class="nav navbar-nav pull-right">
                    <li><a href="@Url.Action("dashboard","main")">ClientHome</a></li>
                    <li><a href="@Url.Action("index","therapist")">Therapists Profiles/Book Appt</a></li>
                    <li><a href="@Url.Action("chat","account")">Chat</a></li>
                    <li class="active"><a class="btn" href="@Url.Action("MyAccount","Account")">My Profile</a></li>
                    <li><a href="@Url.Action("logout","Account")">SignOut</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
    <header id="head" class="secondaryCustom"></header>
    <!-- container -->
    <div class="container hgt">
        @RenderBody()
    </div>
    <div class="clearfix"></div>
    <!-- /container -->
    <footer id="footer">
        <hr class="customhr" />
        <table class="col-md-12 col-sm-12 col-lg-12">
            <tbody>
                <tr>
                    <td class="col-md-4 col-sm-4 col-lg-4"></td>
                    <td class="col-md-4 col-sm-4 col-lg-4">
                        <p class="box effect1 text-center box65">
                            <strong>
                                <span class="gspan"> NEED HELP contact Admin  on WhatsApp 9591895700</span>
                            </strong>
                        </p>
                    </td>
                    <td class="col-md-4 col-sm-4 col-lg-4"></td>
                </tr>
            </tbody>
        </table>
    </footer>
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->

</body>
</html>
