﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title-California SPA</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="Umesh kumar" />
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand:300,400,700" rel="stylesheet" />
    <link rel="shortcut icon" href="@Url.Content("~/assets/images/favicon.ico")" />
    <link rel="stylesheet" media="screen" href="@Url.Content("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/font-awesome.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-theme.css")" media="screen" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/main.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/bootstrap-clockpicker.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/assets/css/prettyPhoto.css")" />
    <script type="text/javascript" src="@Url.Content("https://code.jquery.com/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/bootstrap-clockpicker.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/assets/js/jquery.prettyPhoto.js")"></script>
    <script src="@Url.Content("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/headroom.min.js")"></script>
    <script src="@Url.Content("~/assets/js/custom.js")"></script>
    <script src="@Url.Content("~/assets/js/jQuery.headroom.min.js")"></script>
    <script src="@Url.Content("~/assets/js/template.js")"></script>
    <link href="@Url.Content("https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/moment.js")"></script>
    <script src="@Url.Content("~/assets/js/fullcalendar.js")"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.print.css" media="print" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.3.1/fullcalendar.min.css" />
    @Scripts.Render("~/bundles/jqueryval")
</head>
<body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverseCustom navbar-inverse navbar-fixed-top headroom">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand" href="@Url.Action("dashboard","Admin")"><img class="logoImage" src="@Url.Content("~/assets/images/logo.png")" alt="Califonia SPA"></a>
            </div>
            <div class="navbar-collapse collapse blackgroungblack">
                <ul class="nav navbar-nav pull-right Customenav">
                    <li><a href="@Url.Action("dashboard","admin")">Admin Home</a></li>
                    <li><a href="@Url.Action("client_profiles","Admin")">Client profiles</a></li>
                    <li><a href="@Url.Action("therapist_profiles","Admin")">Therapist Profiles</a></li>
                    <li class="active"><a class="btn" href="@Url.Action("chat","Admin")">Chat</a></li>
                    <li><a href="@Url.Action("EditAdminAccount","Admin")">Edit Profile</a></li>
                    <li><a href="@Url.Action("GetSummarybySearch","admin")">Summary Report</a></li>

                    <li><a href="@Url.Action("Adminlogout","Account")">SignOut</a></li>

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
    <header id="head" class="secondaryCustom"></header>
    <!-- container -->
    <div class="container">
        @RenderBody()
    </div>
    <!-- /container -->
    <footer id="footer"> 
        @*<div class="footer1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 widget">
                            <h3 class="widget-title">Contact</h3>
                            <div class="widget-body">
                                <p>
                                    +234 23 9873237<br>
                                    <a href="mailto:#">some.email@somewhere.com</a><br>
                                    <br>
                                    234 Hidden Pond Road, Ashland City, TN 37015
                                </p>
                            </div>
                        </div>

                        <div class="col-md-3 widget">
                            <h3 class="widget-title">Follow me</h3>
                            <div class="widget-body">
                                <p class="follow-me-icons clearfix">
                                    <a href=""><i class="fa fa-twitter fa-2"></i></a>
                                    <a href=""><i class="fa fa-dribbble fa-2"></i></a>
                                    <a href=""><i class="fa fa-github fa-2"></i></a>
                                    <a href=""><i class="fa fa-facebook fa-2"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 widget">
                            <h3 class="widget-title">Text widget</h3>
                            <div class="widget-body">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                                <p>Eius consequatur nihil quibusdam! Laborum, rerum, quis, inventore ipsa autem repellat provident assumenda labore soluta minima alias temporibus facere distinctio quas adipisci nam sunt explicabo officia tenetur at ea quos doloribus dolorum voluptate reprehenderit architecto sint libero illo et hic.</p>
                            </div>
                        </div>

                    </div> <!-- /row of widgets -->
                </div>
            </div>

            <div class="footer2">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 widget">
                            <div class="widget-body">
                                <p class="simplenav">
                                    <a href="#">Home</a> |
                                    <a href="#">About</a> |
                                    <a href="#">Sidebar</a> |
                                    <a href="#">Contact</a> |
                                    <b><a href="#">Sign up</a></b>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6 widget">
                            <div class="widget-body">
                                <p class="text-right">
                                    Copyright &copy; 2014, Your name. Designed by <a href="#"  >umesh kamboj</a>
                                </p>
                            </div>
                        </div>
                    </div> <!-- /row of widgets -->
                </div>
            </div>*@
    </footer>
    <!-- JavaScript libs are placed at the end of the document so the pages load faster -->
</body>
</html>
