﻿
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_LayoutTherapist.cshtml";
}
@model californiaspa.Models.Chat.TherapistChat
<link href="@Url.Content("~/assets/css/Chat.css")" rel="stylesheet" />

@{
    var dict = new Dictionary<int, List<californiaspa.Models.Chat.chatModelitem>>();
    dict = Model._TherapistChatlist._list.GroupBy(x => x.ClientId).ToDictionary(x => x.Key, x => x.ToList());
}


@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-mm-y")</span>
}

@helper FormatDateTime(string date, string time, string colorCode)
{
var d = Convert.ToDateTime(date);
    <span style='color:@colorCode'>@d.ToString("d-mm-y") ; @time</span>
}
<style>
    .left {
        float: left;
    }

    .right {
        float: right;
        text-transform: uppercase;
    }

    p {
        color: white;
    }

    img {
        width: 27%;
    }

    .pull-right {
        text-transform: uppercase;
    }

    .navbar-inverse .navbar-nav > li > a {
        font-size: 20px;
    }
</style>
<div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h4>Chat </h4>
            @*@if (!string.IsNullOrEmpty(Model.ErrorText))
                {
                    <span class="autohide error">@Model.ErrorText</span>

                }*@
        </header>
        <div class="col-md-6 col-sm-6">

            @foreach (var item in dict)
            {
            <div class="col-md-12 col-sm-12 " id="ChatTranscript_@item.Key" style="display:none">
                <div class="panel panel-default ">
                    <div class="panel-body ">
                        <div class="avatar pull-left">
                            <img style="width: 11%;" onclick="ReturntoChat('@item.Key')" class="dummy1" src="@Url.Content("~/assets/images/backarrow.png")" alt="My Account" />
                            <img style="width: 11%;" src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                            <label>@item.Value.FirstOrDefault().ClientName</label>
                        </div>
                        <hr class="customhr" />
                    </div>
                    <div class="panel-body">
                        <!-- Widget content -->
                        <div class="padd sscroll" id="chatdiv_@item.Key" style="height:400px; max-height: 400px;overflow-y: scroll;">
                            <ul class="chats" id="chat_@item.Key">

                                @foreach (var items in item.Value.ToList())
                                    {
                                        if (items.SenderId != items.TherapistId)
                                        {
                                    <li class='by-me'>
                                        <div class='chat-content'>
                                            <div class='chat-meta'><span class='pull-right'>@FormatDateTime(items.CreatedDate, items.time, "black") </span></div>
                                            <div class='clearfix'></div>
                                            @items.LastMassage <div class="clearfix"></div>
                                        </div>
                                    </li>
                                        }
                                        else
                                        {
                                    <li class="by-other">
                                        <div class="avatar pull-right">
                                        </div>

                                        <div class="chat-content">
                                            <div class="chat-meta" style="float:right ">@FormatDateTime(items.CreatedDate, items.time, "white")  </div>
                                            <div class="clearfix"></div>
                                            @items.LastMassage <div class="clearfix"></div>
                                        </div>
                                    </li>
                                        }
                                    }
                            </ul>

                        </div>
                        <!-- Widget footer -->
                        <div class="widget-foot">
                            <div class="form-group" style="width: 90%;">
                                <textarea placeholder="Type your message here..." style="width: 100%;" id="txtchat_@item.Key" class="form-control" rows="4"></textarea>
                            </div>
                            <button onclick="AddChatToDB('@item.Key','@item.Value.First()._ttoken','@item.Value.First()._ctoken')" type="button" id="btnchat_@item.Key" class="btn btn-info">Send</button>

                        </div>
                    </div>
                </div>
            </div>

            }
            <div class="col-md-12 col-sm-12 chat" id="chatreplacer">
                <div class="panel panel-default pnl">
                    <div class="page-header pnlhdr">
                        <h4>Click here to chat with Client</h4>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                @Html.TextBoxFor(a=>a.searchToken,new { @placeholder = "Search by Name" ,@class="form-control" }) 
                            </div>
                            <div class="col-md-2">
                                <a  onclick="getChatBySearch()" style="padding-top: 9px;padding-left: 9px;padding-right: 24px;padding-bottom: 5px;" class="btn btn-action"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                            <div class="col-md-2">
                                <a title="Clear Chat" onclick="ClearChatBySearch()" style="padding-top: 9px;padding-left: 9px;padding-right: 24px;padding-bottom: 5px;" class="btn btn-action"><i class="glyphicon glyphicon-remove"></i></a>
                            </div> 
                            <div class="clearfix"></div>
                            <hr class="customhr" />
                        </div>
                        <div class="chat1">
                            @foreach (var item in dict)
                            {
                            <div onclick="GetChatTranscripts('@item.Key')">
                                <div class="left col-md-6">
                                    <label>
                                        <img src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                                        @item.Value.FirstOrDefault().ClientName
                                    </label>
                                </div>
                                <span class="right col-md-6" id="lastSmsdate_@item.Key">@FormatDateTime(item.Value.Last().CreatedDate, item.Value.Last().time, "")</span>
                                <div class="clearfix"></div>
                                <p id="lastsms_@item.Key" class="col-md-12">@item.Value.Last().LastMassage</p>
                                <div class="clearfix"></div>
                                <hr class="customhr" />
                            </div>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6">
            <div class="col-md-12 col-sm-12 " id="AdminChatTranscript" style="display:none">
                <div class="panel panel-default ">
                    <div class="panel-body ">
                        <div class="avatar pull-left">
                            <img style="width: 11%;" onclick="ReturntoChatAdmin('AdminChatTranscript')" class="dummy3" src="@Url.Content("~/assets/images/backarrow.png")" alt="My Account" />
                            <img style="width: 11%;" src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                            <label>Admin</label>
                        </div>
                    </div>
                    <div class="panel-body">
                        <!-- Widget content -->
                        <div class="padd sscroll" id="Adminchatdiv" style="height:209px; max-height: 209px;overflow-y: scroll;">

                            <ul class="chats" id="Adminchat">
                                @foreach (var items in Model._AdminChatlist._list)
                                {
                                    if (items.SenderId != items.TherapistId)
                                    {
                                        <li class='by-me'>
                                            <div class='chat-content'>
                                                <div class='chat-meta'><span class='pull-right'>@FormatDateTime(items.CreatedDate, items.time, "black") </span></div>
                                                <div class='clearfix'></div>
                                                @items.LastMassage <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="by-other">
                                            <div class="avatar pull-right">
                                            </div>

                                            <div class="chat-content">
                                                <div class="chat-meta" style="float:right ">@FormatDateTime(items.CreatedDate, items.time, "white")  </div>
                                                <div class="clearfix"></div>
                                                @items.LastMassage <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    }
                                }


                            </ul>

                        </div>
                        <!-- Widget footer -->
                        <div class="widget-foot">
                            <div class="form-group" style="width: 90%;">
                                <textarea placeholder="Type your message here..." style="width: 100%;" id="Admintxtchat" class="form-control" rows="4"></textarea>
                            </div>
                            <button type="button" onclick="AddAdminChatToDB('@Model._AdminChatlist._list.FirstOrDefault()._ttoken')" id="btnchat1" class="btn btn-info">Send</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-sm-12 chat2">
                <div class="panel panel-default adminpnl">
                    <div class="page-header pnlhdr">
                        <h4>Click here to chat with Admin</h4>
                    </div>
                    <div class="panel-body">
                        <div class="chat3">
                            @foreach (var item in Model._AdminChatlist._list.OrderByDescending(a => a.CreatedDate).Take(1).ToList())
                            {
                                <div onclick="GetChatAdminTranscripts('AdminChatTranscript')">
                                    <div class="left col-md-6">
                                        <label>
                                            <img src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                                            @(item.SenderId == item.TherapistId ? item.TherapistName : "Admin")
                                        </label>
                                    </div>
                                    <span class="right col-md-6" id="AdminlastSmsdate">@FormatDateTime(item.CreatedDate, item.time, "")</span>
                                    <div class="clearfix"></div>
                                    <p id="Adminlastsms" class="col-md-12">@item.LastMassage</p>
                                    <div class="clearfix"></div>
                                    <hr class="customhr" />
                                </div>
                            }
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </article>
    <!-- /Article -->
</div>
<script>

    function getChatBySearch()
    { 
        var url = "@Url.Action("GetChat", "TAccount")";
        var serchrToken = $("#searchToken").val();
        if($.trim(serchrToken)!='')
        {
            $.get(url, { 'searchToken': serchrToken }, function (data) {
                $("#chatreplacer").html(data);
            });
        }
    }

    function ClearChatBySearch()
    {
        var url = "@Url.Action("GetChat", "TAccount")";
        
            $.get(url, { 'searchToken': '' }, function (data) {
                $("#chatreplacer").html(data);
            });
       
    }


    function AddChatToDB(chattextId, terapisttoken, clienttoken) {
        var _val = $("#txtchat_" + chattextId).val();
        if (_val != "") {
            var dt = new Date();
            var str = moment(new Date()).format("d-MMM-YY ; hh:mm:A");
            var src = "@Url.Content("~/assets/images/user.png")";
            $("#chat_" + chattextId).append("<li class='by-other'><div class='chat-content'> " + _val + "<div class='chat-meta'><span style='color:black' class='pull-right'>" + str + "</span></div><div class='clearfix'></div></div></li>");
            $("#txtchat_" + chattextId).val('');
            $("#lastsms_" + chattextId).html(_val);
            $("#lastSmsdate_" + chattextId).html(moment(new Date()).format("d-MMM-YY ; hh:mm:A"));
            SaveInDB(_val, clienttoken, terapisttoken);
            var wtf = $('#chatdiv_' + chattextId);
            var height = wtf[0].scrollHeight;
            wtf.scrollTop(height);
        }
    }

    function SaveInDB(val, ctoken, ttoken) {
        var url = "@Url.Action("SaveTherapistChat", "chat")";
        $.post(url, { 'ctoken': ctoken, 'ttoken': ttoken, 'text': val }, function () {

        });
    }

    function SaveAdminChatInDB(val, ctoken) {
        var url = "@Url.Action("SaveAdminChatByTherapist", "chat")";
        $.post(url, { 'ctoken': ctoken, 'text': val }, function () {

        });
    }


    function AddAdminChatToDB(cltoken) {
        var _val = $("#Admintxtchat").val();
        if (_val != "") {
            var dt = new Date();
            var str = moment(new Date()).format("d-MMM-YY ; hh:mm:A");
            var src = "@Url.Content("~/assets/images/user.png")";
            $("#Adminchat").append("<li class='by-other'><div class='chat-content'> " + _val + "<div class='chat-meta'><span style='color:black' class='pull-right'>" + str + "</span></div><div class='clearfix'></div></div></li>");
            $("#Admintxtchat").val('');
            $("#Adminlastsms").html(_val);
            SaveAdminChatInDB(_val, cltoken);
            $("#AdminlastSmsdate").html(moment(new Date()).format("d-MMM-YY ; hh:mm:A"));
            var wtf = $('#Adminchatdiv');
            var height = wtf[0].scrollHeight;
            wtf.scrollTop(height);
        }
    }




    function GetChatTranscripts(Id) {
        $(".chat").hide(1000);
        $("#ChatTranscript_" + Id).show(1000);
    }

    function ReturntoChat(Id) {
        $(".chat").show(1000);
        $("#ChatTranscript_" + Id).hide(1000);
    }

    function GetChatAdminTranscripts(Id) {
        $(".chat2").hide(1000);
        $("#" + Id).show(1000);
    }

    function ReturntoChatAdmin(Id) {
        $(".chat2").show(1000);
        $("#" + Id).hide(1000);
    }

</script>


