﻿@model californiaspa.Models.Chat.AdminChat

@helper Formatdate(string date, string time)
{
if (!string.IsNullOrEmpty(date))
{
        <span>@(Convert.ToDateTime(date).ToString("d-MMM-yy") ) ; @time</span>
    }
}
@if (Model._keywordSearch.Count > 0)
{
    <div class="col-md-12 col-sm-12 chat1" id="TherapistChatTranscript">
        <div class="panel panel-default ">
            <div class="panel-body ">
                <div class="avatar pull-left col-md-4">
                     <img class="width26" src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                    <label>@Model._keywordSearch.FirstOrDefault().therapist ,@Model._keywordSearch.FirstOrDefault().client</label>
                </div> 
                <div class="clearfix"></div>
                <hr class="customhr" />
            </div>
            <div class="panel-body">
                <!-- Widget content -->
                <div class="padd sscroll firstdiv" id="Therapistchatdiv">
                    <ul class="chats" id="Therapistchat">
                        @foreach (var items in Model._keywordSearch)
                        {
                            if (items.Sender == items.therapistId)
                            {
                                <li  class='Therapistselectmessage by-me'>
                                    <div class='chat-content' id="chatid">
                                          <div class='clearfix'></div>
                                        <div class='chat-meta'><span class='pull-right'>@Formatdate(items.date, items.time) </span></div>
                                        <div class='clearfix'></div>
                                        <span class="fnd black">   @items.Message (@items.therapist)</span> <div class="clearfix"></div>
                                    </div>
                                </li>
                            }
                            else
                            {
                                <li  class="Therapistselectmessage by-other">
                                    <div class="avatar pull-right">
                                    </div>
                                    <div class="chat-content" >
                                         <div class='clearfix'></div>
                                        <div class="chat-meta pull-right">@Formatdate(items.date, items.time)</div>
                                        <div class="clearfix"></div>
                                        <span class="fnd black ">   @items.Message (@items.client)</span><div class="clearfix"></div>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </div>
                <div class="clearfix"></div> 
                <!-- Widget footer --> 
            </div>
        </div>
    </div>
}
else
{
    <span>No Chat find between selected therapist and CLient </span>
}

@*} 
<table class="table">
    <thead>
        <tr>
            <th>Therapist Name</th>
            <th>Client Name</th>
            <th>To/From Admin?</th>
            <th>Message</th>
            <th>Send Date</th>
        </tr>
    </thead>
    @if (Model._keywordSearch.Count() > 0)
    {
        foreach (var item in Model._keywordSearch)
        {
            <tbody>
                <tr>
                    <td>@(item.therapist==""?"N/A": item.therapist)</td>
                    <td>@(item.client==""?"N/A": item.client)</td>
                    <td>@(item.Admin==""?"N/A": item.Admin)</td>
                    <td>@item.Message</td>
                    <td>@Formatdate(item.date, item.time)</td>
                </tr>
            </tbody>
        }
    }
    else
    {
        <tr><td colspan="5">No record found</td></tr>
    }
    
       
</table>

@ViewBag.paging*@



 



