﻿@model californiaspa.Models.Account.AccountModel 

@{
    var dict = new Dictionary<int, List<californiaspa.Models.Chat.chatModelitem>>();
    dict = Model.chatList._list.GroupBy(x => x.TherapistId).ToDictionary(x => x.Key, x => x.ToList());
}


@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-mm-y")</span>
}

@helper FormatDateTime(string date, string time, string colorCode,int messageId)
{
var d = Convert.ToDateTime(date);
    <span id="time_@messageId" cclass='@colorCode'>@d.ToString("d-MMM-y") ; @time</span>
} 
<div class="panel panel-default pnl">
    <div class="page-header pnlhdr">
        <h4>Click here to chat with Therapist</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-7">
                @Html.TextBoxFor(a => a.searchtoken, new { @placeholder = "Search by Name", @class = "form-control" })
            </div>
            <div class="col-md-2 pull-left">
                <a onclick="getChatBySearch()" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-search"></i></a>
            </div>
            <div class="col-md-2 pull-right">
                <a title="Clear Chat" onclick="ClearChatBySearch()" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <div class="clearfix"></div>
            <hr class="customhr" />
        </div>
        <div class="chat1">
            @foreach (var item in dict)
            {
                <div onclick="GetChatTranscripts('@item.Key')">
                    <div class="left col-md-6">
                        <label>
                            <img src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                            @item.Value.FirstOrDefault().TherapistName
                        </label>
                    </div>
                    <span class="right col-md-6" id="lastSmsdate_@item.Key">@FormatDateTime(item.Value.Last().CreatedDate, item.Value.Last().time, "", 0)</span>
                    <div class="clearfix"></div>
                    <p id="lastsms_@item.Key" class="col-md-12">@item.Value.Last().LastMassage</p>
                    <div class="clearfix"></div>
                    <hr class="customhr" />
                </div>
            }
        </div>
    </div>
</div>