﻿@model californiaspa.Models.Chat.AdminChat
<link href="@Url.Content("~/assets/css/Chat.css")" rel="stylesheet" />

@{
    var Clientdict = new Dictionary<int, List<californiaspa.Models.Chat.chatModelitem>>();
    Clientdict = Model._ClientChatlist._list.GroupBy(x => x.ClientId).ToDictionary(x => x.Key, x => x.ToList());
 
} 
@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-mm-y")</span>
}

@helper FormatDateTime(string date, string time, string colorCode,int messageId)
{
var d = Convert.ToDateTime(date);
    <span id="time_@messageId"class='@colorCode'>@d.ToString("d-MMM-y") ; @time</span>
}
 <div class="panel panel-default pnl">
    <div class="page-header pnlhdr">
        <h4>Click here to chat with Client</h4>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-6">
                @Html.TextBoxFor(a => a.ClientsearchToken, new { @placeholder = "Search by Name", @class = "form-control" })
            </div>
            <div class="col-md-2">
                <a onclick="getClientChatBySearch()" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-search"></i></a>
            </div>
            <div class="col-md-2">
                <a title="Clear Chat" onclick="ClearClientChatBySearch()" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-remove"></i></a>
            </div>
            <div class="col-md-2">
                <a title="Add New Chat" onclick="AddNewClientChat()" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-plus-sign"></i></a>
            </div><div class="clearfix"></div>
            <hr class="customhr" /> 
        </div>
        <div class="chat1">
            @foreach (var item in Clientdict)
            {
                <div>
                    <div class="left col-md-8">
                        <label>
                            <img onclick="ClientGetChatTranscripts('@item.Key')" src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                            <span onclick="ClientGetChatTranscripts('@item.Key')" class="voiletImp" id="cl_@item.Key"> @item.Value.FirstOrDefault().ClientName</span>
                            <a onclick="editnameClient('@item.Key','@item.Value.FirstOrDefault().ClientName')" id="ebt_@item.Key" class="btn btn-primary padding2" ><i class="glyphicon glyphicon-pencil"></i></a>
                        </label>
                    </div>
                    <span class="right col-md-4" id="ClientlastSmsdate_@item.Key">@FormatDateTime(item.Value.Last().CreatedDate, item.Value.Last().time, "", 0)</span>
                    <div class="clearfix"></div>
                    <p id="Clientlastsms_@item.Key" class="col-md-12">@item.Value.Last().LastMassage</p>
                    <div class="clearfix"></div>
                    <hr class="customhr" />
                </div>
            }

        </div>
    </div>
</div>