﻿
@model californiaspa.Models.Chat.SummaryModel
 
<table class="table">
    <thead>
        <tr>
            <th>Therapist Name</th>
            <th>Total Amount</th>
            <th>View Summary</th>
        </tr>
    </thead>
    @if (Model._Summarylist.Count() > 0)
                {
                    int i = 1;
                    foreach (var item in Model._Summarylist)
                    {
            <tbody>
                <tr>
                    <td>@(item.Name)</td>
                    <td>@(item.Amount) $</td>
                    <td><input type="button" class="btn btn-action" onclick="GetSummaryItem('@item.tokenId','@i')" value="Click To View Full Summary"> </td>
                </tr>
                <tr class="hidded1">
                    <td colspan="3">
                        <div id="td_@i">

                        </div>
                    </td>
                </tr>
            </tbody>
i+=1;
        }
    }
    else
    {
        <tr><td colspan="3">No record found</td></tr>
    }


</table>

@ViewBag.paging
 
   






