﻿
@{
    ViewBag.Title = "Unauthorized";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}  
<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Unauthorized Access
                <a href="@Url.Action("dashboard","Admin")" class="btn btn-action pull-right">Return To Admin Home</a>
            </h3> 
        </header>

        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="hgroup">
                        <h1>Sorry, You are not authorized to acess this page  </h1>
                        <h2>Please contact with admin to get acess</h2>
                        <h2>401 Error</h2>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
 


