﻿﻿@{
    ViewBag.Title = !string.IsNullOrEmpty(Model.token) ? "Edit" : "Add New" + "Hotel";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="@Url.Content("~/assets/css/ETherapistprofiles.css")" rel="stylesheet" />
@model californiaspa.Models.booking.spaHotelItem
<script>
 function GetDay(date) {
     var _day = "";
     var _tu = "@Url.Action("GetDay", "chat")";
     $.ajax({
         type: 'POST',
         url: _tu,
         data: { '_date': date },
         async: false,
         success: function (response) {
             _day = response;
         }
     });
     return _day;
 }</script>

<div class="row">
    <div id="myModalcal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <span class="voilet font22">Click on date to edit Availability </span>
                    <button type="button" data-dismiss="modal" data-modelid="myModalcal" class="close">Close[&times;]</button>

                </div>
                <div class="modal-body">
                    <div id='calendar1'></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalTime1close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  first appointment and last appointment START time (<span id="spndate"></span> )</h4>
                </div>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-md-12 margintop11 marginbot24">
                            <h4 class="modal-title">Edit First Appointment START Time </h4>
                            <hr />
                        </div>
                        <div class="top-margin col-md-4">
                            <label>Hour </label>
                            <select class="form-control dis" id="Time1H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label> Minute </label>
                            <select class="form-control dis" id="Time1M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label> Am/Pm </label>
                            <select class="form-control dis" id="Time1AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 margintop11 marginbot24">
                            <h4 class="modal-title">Edit Last Appointment START Time </h4>
                            <hr />
                        </div>
                        <div class="top-margin col-md-4">
                            <label>Hour </label>
                            <select class="form-control dis" id="Time2H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>

                            </select>
                        </div>
                        <div class="top-margin col-md-4">
                            <label> Minute </label>
                            <select class="form-control dis" id="Time2M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Am/Pm </label>
                            <select class="form-control dis" id="Time2AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="tid" />
                    <input type="hidden" id="tdate" />
                    <span class="autohide error" id="T1errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime1">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalTime3" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalTime3close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  first appointment  start time</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>first appointment Hour </label>
                            <select class="form-control" id="Time3H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>first appointment Minute </label>
                            <select class="form-control" id="Time3M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>first appointment Am/Pm </label>
                            <select class="form-control " id="Time3AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>

                    <span class="autohide error" id="T3errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime3">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime4" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalTime4close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  last appointment  start time</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Last appointment Hour </label>
                            <select class="form-control" id="Time4H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last appointment Minute </label>
                            <select class="form-control" id="Time4M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last appointment Am/Pm </label>
                            <select class="form-control " id="Time4AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>

                    <span class="autohide error" id="T4errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime4">Save</button>
                </div>
            </div>
        </div>
    </div>
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                @(!string.IsNullOrEmpty(Model.token) ? "Edit" : "Add New") Hotel
                <a href="@Url.Action("Get_hotel_Report","Admin")" class="btn btn-action pull-right">Return To Spa Hotel list</a>
            </h3>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-4   col-sm-4  ">
            <div class="panel panel-default">
                @using (Html.BeginForm("Updatehotel", "Admin", FormMethod.Post, new { @id = "frmsendsms", enctype = "multipart/form-data" }))
                {
                    <div class="panel-body">
                        <div class="top-margin">
                            <label>Hotel main Image :</label><br />
                            @if (!string.IsNullOrEmpty(Model.ImgPath))
                            {
                                <img id="image" alt="California Spa" src="@Url.Content(Model.ImgPath)" class="width50" />
                            }
                            else
                            {
                                <img id="image" alt="California Spa" src="#" class="width50 notDisplay" />
                            }
                            <input type="file" id="file" name="file" @(!string.IsNullOrEmpty(Model.token) ? "" : "required") />

                            <script>
                                document.getElementById("file").onchange = function () {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        // get loaded data and render thumbnail.
                                        document.getElementById("image").src = e.target.result;
                                        document.getElementById("image").style.display = 'block';
                                    };
                                    // read the image file as a data URL.
                                    reader.readAsDataURL(this.files[0]);
                                };
                            </script>
                        </div>
                        <div class="top-margin">
                            <label>Name of Hotel :</label>
                            @Html.TextBoxFor(a => a.name, new { @class = "form-control", @required = "required" })
                            @Html.HiddenFor(a => a.token)
                        </div>
                        <div class="top-margin">
                            <label>Hotel Type :</label>
                            <select class="form-control">
 <option value="1" @(Model.type==1?"selected":"")>Outside 
 </option>
                                <option value="2" @(Model.type==2?"selected":"")>
                                   Spa Hotel
                                </option>
                            </select>
                        </div>
                        <div class="top-margin">
                            <label>Available to new clients :</label>
                            @Html.CheckBoxFor(a => a.availfornew)
                        </div>
                        <div class="top-margin">
                            <label>Web Address:</label>
                            @Html.TextBoxFor(a => a.WebPath, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Payment Type :</label>
                            @Html.TextBoxFor(a => a.paymentType, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Rate :</label>
                            @Html.TextBoxFor(a => a.rate, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Address :</label>
                            @Html.TextAreaFor(a => a.address, new { @rows = "6", @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Location(Google Map) :</label>
                            @Html.TextAreaFor(a => a.Map, new { @rows = "6", @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>First Appt Start Time :</label>
                            @Html.TextBoxFor(a => a.startTime, new { @id = "FirstAptTime", @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Last Appt Start Time :</label>
                            @Html.TextBoxFor(a => a.EndTime, new { @id = "LastAptTime", @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Description :</label>
                            @Html.TextAreaFor(a => a.descriptio, new { @rows = "6", @class = "form-control", @required = "required" })
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                            <button type="submit" class="btn btn-primary">@(!string.IsNullOrEmpty(Model.token) ? "Update" : "Add New")</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.token))
        {
            <div class="col-md-8   col-sm-8">
                <div class="panel panel-default">
                    @using (Html.BeginForm("UpdateHotelImage", "Admin", FormMethod.Post, new { @id = "frmsendsms", enctype = "multipart/form-data" }))
                {
                        <div class="panel-body">
                            @if (Model.hImages != null)
                            {
                                int i = 0;
                                <div class="row">
                                    @foreach (var items in Model.hImages)
                                    {
                                        i = i + 1;
                                        <div class="col-md-3">
                                            <img src="@Url.Content(items.path)" /><br />
                                            <input type="button" onclick="deleteImage('@items.iId')" class="btn btn-action" value="Delete" />
                                        </div>
                                        if (i == 4)
                                        {
                                            i = 0;
                                            <div class="clearfix"></div>
                                        }
                                    }
                                </div>
                            }<hr />
                            <div class="top-margin">
                                @Html.HiddenFor(a => a.token)
                                <label>Upload New Images(Select multiple images and upload) :</label>
                                <input type="file" id="files" name="files" multiple required />
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-4 text-right">
                                    <button type="submit" class="btn btn-primary">@(!string.IsNullOrEmpty(Model.token) ? "Update Images" : "Add New Images")</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="col-md-6  col-sm-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <p class="voiletImp">To edit any SPECIFIC dates click on calendar below</p>
                    <hr />
                    <div class="top-margin">
                        <a href="#" value="cal" onclick="getCalender('@Model.hotalId')"><img alt="californiaSpa" src="@Url.Content("~/assets/images/Calendar.png")" class="width50" /></a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>

<script type="text/javascript" charset="utf-8">

    function deleteImage(id) {
        var r = confirm('are you sure to delete ?');
        if (r == true) {
            var url = "@Url.Action("DeleteHotelImage", "Admin")";
            $.post(url, { '_xid': id },
                function (data) {
                    if (data.indexOf("Error") == -1) {
                        alert(data);
                        location.reload();
                    } else {
                        alert(data);
                    }
                });
        }
    }

    $('.modal').on('hidden.bs.modal', function (event) {
        $(this).removeClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') - 1);
    });

    $('.modal').on('shown.bs.modal', function (event) {
        if (typeof ($('body').data('fv_open_modals')) == 'undefined') {
            $('body').data('fv_open_modals', 0);
        }
        if ($(this).hasClass('fv-modal-stack')) {
            return;
        }

        $(this).addClass('fv-modal-stack');

        $('body').data('fv_open_modals', $('body').data('fv_open_modals') + 1);

        $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals')));

        $('.modal-backdrop').not('.fv-modal-stack')
                .css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('fv-modal-stack')
                .addClass('fv-modal-stack');
    });
    $("#FirstAptTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time3H").val(_time[0]); $("#Time3M").val(_time[1]); $("#Time3AM").val(_val1[1]);

        $('#myModalTime3').modal({ backdrop: 'static', keyboard: false });
    });
    $("#LastAptTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time4H").val(_time[0]); $("#Time4M").val(_time[1]); $("#Time4AM").val(_val1[1]);

        $('#myModalTime4').modal({ backdrop: 'static', keyboard: false });
    });
    $("#btnmyModalTime3").click(function () {
        var _time = $("#Time3H").val() + ":" + $("#Time3M").val() + " " + $("#Time3AM").val();
        $("#FirstAptTime").val(_time);
        $('#myModalTime3').modal('hide');
    });
    $("#btnmyModalTime4").click(function () {
        var _time = $("#Time4H").val() + ":" + $("#Time4M").val() + " " + $("#Time4AM").val();
        $("#LastAptTime").val(_time);
        $('#myModalTime4').modal('hide');
    });

    $("#myModalclose1").click(function () {
        $('#myModalTime1').modal('hide');
    });

    $("#myModalTime4close").click(function () {
        $('#myModalTime4').modal('hide');
    });

    $("#myModalTime3close").click(function () {
        $('#myModalTime3').modal('hide');
    });

    function getCalender(_id) {
        var maxDate = moment(new Date()).format("YYYY-MM-DD");
        $('#calendar1').fullCalendar({
            theme: true,
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month'
            },
            firstDay: moment().weekday(),
            defaultDate: maxDate,
            editable: false,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            navLinkDayClick: function (date, jsEvent) {
                var dateString = date.format("DD/MM/YYYY");
                var events = $('#calendar1').fullCalendar('clientEvents', function (event) {
                    eventDate = event.start;
                    eventDateString = eventDate.format("DD/MM/YYYY");
                    if (dateString == eventDateString) {
                        $("#T1errortext").html('');
                        var newDate = moment(event.start).format("YYYY-MM-DD");
                        if (newDate < maxDate) {
                            return false;
                        }
                        $("#tid").val(_id);
                        $("#tdate").val(newDate);
                        var start = $.fullCalendar.formatDate(event.start, "hh:mm A");
                        var end = $.fullCalendar.formatDate(event.end, "hh:mm A");
                        var _t = start.split(" ");
                        var _h = _t[0].split(':');
                        var _t2 = end.split(" ");
                        var _h2 = _t2[0].split(':');
                        $("#Time1H").val(_h[0]);
                        $("#Time2H").val(_h2[0]);
                        $("#Time1M").val(_h[1]);
                        $("#Time2M").val(_h2[1]);
                        $("#Time1AM").val(_t[1]);
                        $("#Time2AM").val(_t2[1]);
                        var _day = GetDay(moment(event.start).format("DD-MMM-YY"));
                        $("#spndate").html(moment(event.start).format("DD-MMM-YY") + " (" + _day + ")");
                           $('#myModalTime1').modal({ backdrop: 'static', keyboard: false })
                        return false;
                    }
                });
                return false;
            },
            eventClick: function (event) {
                $("#T1errortext").html('');
                var newDate = moment(event.start).format("YYYY-MM-DD");
                if (newDate < maxDate) {
                    return false;
                }
                $("#tid").val(_id);
                $("#tdate").val(newDate);
                var start = $.fullCalendar.formatDate(event.start, "hh:mm A");
                var end = $.fullCalendar.formatDate(event.end, "hh:mm A");
                var _t = start.split(" ");
                var _h = _t[0].split(':');
                var _t2 = end.split(" ");
                var _h2 = _t2[0].split(':');
                $("#Time1H").val(_h[0]);
                $("#Time2H").val(_h2[0]);
                $("#Time1M").val(_h[1]);
                $("#Time2M").val(_h2[1]);
                $("#Time1AM").val(_t[1]);
                $("#Time2AM").val(_t2[1]);
                var _day = GetDay(moment(event.start).format("DD-MMM-YY"));
                $("#spndate").html(moment(event.start).format("DD-MMM-YY") + " (" + _day + ")");
                  $('#myModalTime1').modal({ backdrop: 'static', keyboard: false })
            },
            events: {
                url: '/admin/GetEvents/',
                cache: true,
                type: 'GET',
                data: {
                    hid: _id,
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {
                var _class = element.find('.fc-title').parent().parent().hasClass('redEvent');
                if (_class == true) {
                    element.find('.fc-title').parent().parent().css("cssText", "background-color: grey !important;border-color: grey !important;");

                }
                var _title = element.find('.fc-title').html();
                if (_title != "&nbsp;") {
                    element.find('.fc-time').html("");
                    element.find('.fc-time').css("font-size", "9px");
                    element.find('.fc-title').css("font-size", "7px");
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<hr class="hr1" />' + $.fullCalendar.formatDate(event.end, "hh:mm A") + '<hr class="hr2" />');
                } else {
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                }
                if (_title == "Not Working") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Not <br/> Working");
                } else if (_title == "booked") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Booked");
                }
            },
            dayRender: function (date, cell) {
                var maxDate = moment(new Date()).format("YYYY-MM-DD");
                var newDate = moment(date).format("YYYY-MM-DD");
                if (newDate < maxDate) {
                    $(cell).addClass('fc-not-allowed');
                    $(cell).css('background', 'grey');
                }
            }
        });
        $('#myModalcal').modal({ backdrop: 'static', keyboard: false });
        $(".fc-next-button").html("Next Month");
        $(".fc-prev-button").html("Prev Month");
    }
    $('#myModalcal').on('shown.bs.modal', function () {
        $("#calendar1").fullCalendar('render');
        $('.fc-past>a').click(function () { return false; });
    });
    $("#myModalTime1close").on('click', function () {
        $('#myModalTime1').modal('hide');
    });

    $("#btnmyModalTime1").on('click', function () {
        $("#T1errortext").html("please wait, while we updating time....");
         var _tid = $("#tid").val();
        var date = $("#tdate").val();
        var start = $("#Time1H").val() + ":" + $("#Time1M").val() + " " + $("#Time1AM").val();
        var end = $("#Time2H").val() + ":" + $("#Time2M").val() + " " + $("#Time2AM").val();
        var startTime = new Date("November 13, 2013 " + start);
        var endtime = new Date("November 13, 2013 " + end);
        if (startTime > endtime) {
            $("#T1errortext").html("Last Appointment start time can not grater then first Appointment start time ");
            return false;
        }
        var url = "@Url.Action("UpdateSchedule", "Admin")";
        $.post(url, { 'date': date, 'start': start, 'end': end, 'tid': _tid }, function (data) {
            if (data.indexOf("Error") == -1) {
                $('#calendar1').fullCalendar('refetchEvents'); //the event has been removed from the database at this point so I just refetch the events
                $('#myModalTime1').modal('hide');
            }
            else {
                $("#T1errortext").html(data);
            }
        });
    });
</script>
