﻿
@{
    ViewBag.Title = "AudioReport";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model californiaspa.Models.AdminAudio.AudioReport
<link href="@Url.Content("https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/moment.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<script>
    $(function () {
        $("#startdate").datepicker({ dateFormat: 'd-M-y' }).attr('readonly', 'true');
        $("#enddate").datepicker({ dateFormat: 'd-M-y' }).attr('readonly', 'true');

    });
</script>
<style>
    .maxhght {
        max-height: 500px;
overflow:scroll;
    }
</style>
<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Audio Report List
                <a href="@Url.Action("Dashboard","Admin")" class="btn btn-action pull-right">Return To Admin Home</a>
            </h3>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h3 class="thin">Search Report By Therapist</h3>
                    <hr />
                    <div class="col-md-3">
                        <label>Start date<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@(ViewBag.startDate)" id="startdate" name="startdate" />
                        <input type="hidden" id="dtchange" value="@(ViewBag.dtchange)" />
                    </div>
                    <div class="col-md-3">
                        <label>Finish date<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@(ViewBag.endDate)" id="enddate" name="enddate" />
                    </div>
                    <div class="col-md-3">
                        <label>Select Therapist:</label>
                        @Html.DropDownList("therapist")

                    </div>

                    <div class="col-md-3">
                        <input type="button" onclick="GetSummaryItem()" value="Search Report" class="btn btn-action margintop25" />
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 maxhght">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Model.audioReportList.Count > 0)
                    {
                        <div class="top-margin table-responsive Xscroll maxhght">
                            <table class="table">
                                <tr class="nowrap">
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Client Name</th>
                                    <th>Recording Date</th>
                                    <td>Recording</td>
                                    <th>Action</th>
                                </tr>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.audioReportList)
                                {
                                    i = i + 1;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.therapistName</td>
                                        <td>@item.ClientName</td>
                                        <td>@item.recordedDate</td>
                                        <td><audio controls><source src="@item.audioUrl" type="audio/ogg" /></audio></td>
                                        <td><a class="btn btn-action" onclick="Deletereport('@item.Audioid')"><i class="glyphicon glyphicon-remove-sign"></i>Delete</a></td>
                                    </tr>
                                }
                            </table>
                        </div>
                                    }
                                    else
                                    {
                                        <span>No record Found</span>
                                    }
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </article>
</div>
<script>
    $("#enddate").on("change", function () {
            $("#dtchange").val("1");
        });
        $("#startdate").on("change", function () {
            $("#dtchange").val("1");
        });
        $('select').addClass('form-control');
        function GetSummaryItem() {
            var _url = "@Url.Action("GetAudioReports", "Admin")";
            var _val = $("#dtchange").val();
            var startDate = $("#startdate").val();
            var endDate = $("#enddate").val();
            var tid = $("#therapist").val();
            if (_val == "1") {
                location.href = _url + "?therapistid=" + tid + "&startDate=" + startDate + "&endDate=" + endDate;
            }
            else {
                location.href = _url + "?therapistid=" + tid ;

            }
        }

        function Deletereport(aid)
        {
            var r = confirm("are You sure to delete?");
            if (r == true) {
                var _url = "@Url.Action("GetAudioReports", "Admin")";
                var startDate = $("#startdate").val();
                var endDate = $("#enddate").val();
                var _val = $("#dtchange").val();
                var tid = $("#therapist").val(); if (_val == "1") {

                    location.href = _url + "?deletId=" + aid + "&therapistid=" + tid + "&startDate=" + startDate + "&endDate=" + endDate;
                }
                else {
                    location.href = _url + "?deletId=" + aid + "&therapistid=" + tid;
                }
            }
        }
</script>


