﻿
@{
    ViewBag.Title = "Client Account";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="@Url.Content("~/assets/css/clientAccount.css")" rel="stylesheet" />
@{
    string clientId = (string)ViewBag.xid;
}
@model californiaspa.Models.Account.AccountModel
<script>
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById("map2"), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });

            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }
    function initMap1(lat, lth, id) {

        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(lat, lth);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById(id), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });
            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLSy7V_ejK6m-ffhI6kiiJf3wl7pnX2g&callback=initMap">
</script>

<div class="row">
    @{int j = 1;}
    @foreach (var item in Model.ClientReviews)
    {
        <div class="modal fade" id="tdynamic-modal_@j" role="dialog">
        </div>
        j = j + 1;
    }

    @{int k = 1;}
    @foreach (var item in Model.Reviews)
    {
        <div class="modal fade" id="dynamic-modal_@k" role="dialog">
        </div>
        k = k + 1;
    }
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
            <h1 class="page-title">
                @Model.userName Account
                <a class="btn btn-action pull-right" href="@Url.Action("client_profiles","Admin")"> Back to Client Profiles</a>
            </h1>
        </header>
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="top-margin">
                        <label>User Name:</label>
                        <span>@Model.userName</span>
                        <a class="btn btn-action pull-right" href="@Url.Action("EditClientAccount","Admin",new {_xid=clientId})"><icon class="glyphicon glyphicon-pencil"></icon></a>
                    </div>
                    <div class="top-margin">
                        <label>Admin Client Name:</label>
                        <span>@Model.AdminUserName </span>
                    </div>
                    <div class="top-margin">
                        <label>Email Address :</label>
                        <span>@Model.emailAddress </span>
                    </div>
                    <div class="top-margin">
                        <label>Blocked :</label>
                        <span>@(Model.block ? "Yes" : "No") </span>
                    </div>
                    <div class="top-margin">
                        <label>Blocked Reason:</label>
                        <span>@Model.blockResaon</span>
                    </div>
                    <div class="top-margin">
                        <label>Verify By Manager:</label>
                        <span>@(Model.Verifiedbymg ? "Yes" : "No") </span>
                    </div>
                    <div class="top-margin">
                        <label>Service Taken:</label>
                        <span>@(Model.serviceTaken ? "Yes" : "No") </span>
                    </div>
                    <div class="top-margin">
                        <label>Past Therapists tried: </label>
                        <span> @Model.Tharepisttried </span>
                    </div>


                    @if (!string.IsNullOrEmpty(Model.spahotelname))
                    {
                        <div class="top-margin">
                            <label>Spa Hotel :</label>
                            <span>@Model.spahotelname</span>
                        </div>
                    }

                    @if (!string.IsNullOrEmpty(Model.spahotelAddress))
                    {
                        <div class="top-margin">
                            <label>Spa Hotel Address :</label>
                            <span>@Model.spahotelAddress</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.houseNumber))
                    {
                        <div class="top-margin">
                            <label>House Number :</label>
                            <span>@Model.houseNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.aptNumber))
                    {
                        <div class="top-margin">
                            <label>Flat Number :</label>
                            <span>@Model.aptNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.hotelName))
                    {
                        <div class="top-margin">
                            <label>Hotel Name :</label>
                            <span>@Model.hotelName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.floorNumber))
                    {
                        <div class="top-margin">
                            <label>Floor Number :</label>
                            <span>@Model.floorNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.roomNumber))
                    {
                        <div class="top-margin">
                            <label>Room Number :</label>
                            <span>@Model.roomNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.aptName))
                    {
                        <div class="top-margin">
                            <label>Apt. Name :</label>
                            <span>@Model.aptName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.streetName))
                    {
                        <div class="top-margin">
                            <label>Street Name :</label>
                            <span>@Model.streetName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.crossstreetName))
                    {
                        <div class="top-margin">
                            <label>Cross Street Name :</label>
                            <span>@Model.crossstreetName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.landmark))
                    {
                        <div class="top-margin">
                            <label>LandMark :</label>
                            <span>@Model.landmark</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.localityArea))
                    {
                        <div class="top-margin">
                            <label>Locality Area :</label>
                            <span>@Model.localityArea</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.photoidurl))
                    {
                        <div class="top-margin">
                            <label>Uploaded id:</label><br/>
                            <a href="@Model.photoidurl" target="_blank"><img style="height:200px" src="@Model.photoidurl" /></a>
                        </div>
                    }
                    <div class="top-margin">
                        <label>Average Rating (out of 10):</label>
                        <span>  @Model.rating </span>
                    </div>
                    <div class="top-margin table-responsive">
                        <label>Previous  reviews from therapist (Scroll down to view more) <span class="pull-right">Click therapist name to view</span></label>
                        <div class="tbl">
                            <table class="table">
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Review</th>
                                    <th>Rating(out of 10)</th>
                                </tr>
                                @if (Model.Reviews != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.Reviews)
                                    {
                                        i = i + 1;
                                        <tr class="survey" data-token="@item.tokenId" data-id="@i">
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td class="nowrap">@(string.IsNullOrEmpty(item.Review) ? "N/A" : item.Review)</td>
                                            <td>
                                                @item.rating

                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>

                    <div class="top-margin table-responsive">
                        <label>Previous  reviews to therapist (Scroll down to view more) <span class="pull-right">Click therapist name to view</span></label>
                        <div class="tbl">
                            <table class="table">
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Review</th>
                                    <th>Rating(out of 10)</th>
                                </tr>
                                @if (Model.ClientReviews != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.ClientReviews)
                                    {
                                        i = i + 1;
                                        <tr class="csurvey" data-token="@item.tokenId" data-id="@i">
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td class="nowrap">@(string.IsNullOrEmpty(item.Review) ? "N/A" : item.Review)</td>
                                            <td>
                                                @item.rating

                                            </td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>

                    <div class="top-margin table-responsive">
                        <label>Pending Appointments (Scroll down to view more)</label>
                        <div class="tbl">
                            <table class="table">
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Address</th>
                                    <th>Amount</th>
                                </tr>
                                @if (Model.pendingAppointment != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.pendingAppointment)
                                    {
                                        i = i + 1;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td>@(Convert.ToDateTime(item.date).ToString("d-MMM-yy"))</td>
                                            <td>@item.time</td>
                                            <td>@item.address</td>
                                            <td>@(item.amount.ToString().Split('.')[0]) <span>Rs</span></td>
                                        </tr>
                                    }
                                }
                            </table>
                        </div>
                    </div>
                    <div class="top-margin table-responsive">
                        <label>Confirmed Appointments (Scroll down to view more)</label>
                        <div class="tbl">
                            <table class="table">
                                <tr>
                                    <th>Sr no.</th>
                                    <th>Therapist Name</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Address</th>
                                    <th>Amount</th>
                                </tr>
                                @if (Model.appointmentList != null)
                                {
                                    int i = 0;
                                    foreach (var item in Model.appointmentList)
                                    {
                                        i = i + 1;
                                        <tr>
                                            <td>@i</td>
                                            <td>@item.Name</td>
                                            <td>@(Convert.ToDateTime(item.date).ToString("d-MMM-yy"))</td>
                                            <td>@item.time</td>
                                            <td>@item.address</td>
                                            <td>@(item.amount.ToString().Split('.')[0])  <span>Rs</span></td>
                                        </tr>

                                    }
                                }
                            </table>
                        </div>
                    </div>
                    @if (Model.ltd != "0" && string.IsNullOrEmpty(Model.Map))
                    {
                        <div class="top-margin">
                            <label>Client Location  :</label>
                            <div id="Map" class="mapDiv"> </div>
                            <script>
                                initMap1('@Model.ltd', '@Model.lth', 'Map');
                            </script>
                        </div>
                    }
                    else if (!string.IsNullOrEmpty(Model.Map))
                    {
                        <div class="top-margin">
                            <label>Client Location  :</label>
                            <div id="Map" class="mapDiv">
                                @Html.Raw(Model.Map)
                            </div>

                        </div>
                    }

                    <div id="map2" class="mapDiv notDisplay"> </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script>
     $(".survey").on('click', function () {
         var id = $(this).data('token');
         var tid = $(this).data('id');
            var url = '@Url.Action("GetClientSurvey", "Main")';
                $('#dynamic-modal_' + tid).modal({
                    keyboard: false,
                    remote: url + '?token=' + id,
                }).show();

                $('#dynamic-modal_' + tid).on('hidden.bs.modal', function () {
                    //remove the backdrop
                    $('.modal-backdrop').remove();
                })
                $('#dynamic-modal_' + tid).on('shown.bs.modal', function () {
                    //remove the backdrop
                    $('<div class="modal-backdrop"></div>').appendTo(document.body);
                })

     });

    $(".csurvey").on('click', function () {
        var id = $(this).data('token');
        var tid = $(this).data('id');
        var url = '@Url.Action("GetSurvey", "Main")';
        $('#tdynamic-modal_' + tid).modal({
            keyboard: false,
            remote: url + '?token=' + id
        }).show();
        $('#tdynamic-modal_' + tid).on('hidden.bs.modal', function () {
            $('.modal-backdrop').remove();
        })
        $('#tdynamic-modal_' + tid).on('shown.bs.modal', function () {
            $('<div class="modal-backdrop"></div>').appendTo(document.body);
        })
    });
 $('.modal').on('hidden.bs.modal', function (event) {
        $(this).removeClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') - 1);
    });


    $('.modal').on('shown.bs.modal', function (event) {
        if (typeof ($('body').data('fv_open_modals')) == 'undefined') {
            $('body').data('fv_open_modals', 0);
        }
        if ($(this).hasClass('fv-modal-stack')) {
            return;
        }
        $(this).addClass('fv-modal-stack');

        $('body').data('fv_open_modals', $('body').data('fv_open_modals') + 1);

        $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals')));

        $('.modal-backdrop').not('.fv-modal-stack')
                .css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('fv-modal-stack')
                .addClass('fv-modal-stack');
    }); 
 
</script>