﻿
@{
    ViewBag.Title = "Client Profiles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model californiaspa.Models.Client.Profile
<style>
    .paginate_button {
        padding-right: 10px !important;
    }

    #Xscrolltbl_next {
        padding-left: 10px !important;
    }

    .paginate_input {
        width: 50px;
    }

    #Xscrolltbl_length {
        display: none;
    }

    #Xscrolltbl_info {
        color: #f8d66a !important;
    }

    , .paginate_button > a, .paginate_button > a:hover {
        color: black !important;
    }

    #Xscrolltbl_paginate {
        float: right;
    }

    .pagination > .active > span:focus {
        background-color: #b30afb !important;
        border-color: #b30afb !important;
    }
</style>
@{
    string searchBy = ViewBag.searchby;
    string searchItem = ViewBag.searchitem;
}
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.10.19/pagination/input.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<link href="@Url.Content("~/assets/css/Clientprofiles.css")" rel="stylesheet" />
<div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Client Profile List
                <a class="btn btn-action pull-right" href="@Url.Action("dashboard","Admin")"> Back to Admin Home</a>
            </h3>
            <div class="clearfix"></div>
            <span class="autohide error">@(!string.IsNullOrEmpty(Model.ErrorText) ? Model.ErrorText : "")</span>
        </header>
        <div class="col-md-12 col-sm-12 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="thin text-center">Search by name,email,mobile number</h3>
                    <hr>
                    <div class="col-md-6 col-sm-6 ">
                        <div class="top-margin">
                            <label>Search by<span class="text-danger">*</span></label>
                            <select class="form-control" id="searchBy" name="searchBy">
                                <option value="">Select Search  by</option>
                                <option value="Name" @(searchBy == "Name" ? "selected" : "")>Name</option>
                                <option value="mobile" @(searchBy == "mobile" ? "selected" : "")>mobile</option>
                                <option value="Email" @(searchBy == "Email" ? "selected" : "")>Email Address</option>
                            </select>
                        </div>
                        <div class="top-margin">
                            <label>Enter Name/mobile/Email<span class="text-danger">*</span></label>
                            <input type="text" value="@searchItem" class="form-control" id="searchItem" name="searchItem" />
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-6 text-right">
                                <input type="button" id="btnsrch" class="btn btn-action" value="Search" />
                            </div>
                            <div class="col-lg-6 text-right">
                                <input type="button" id="btncsrch" class="btn btn-action" value="View All Clients" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 ">
                        <span>Or</span><br />
                        <div class="row">
                            <div class="col-lg-9 text-right">
                                <a class="btn btn-action pull-right" href="@Url.Action("EditClientAccount","Admin")"> <icon class="glyphicon glyphicon-plus-sign"></icon>click to add New Client</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
            <div class="col-md-12 col-sm-12 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <span class="pull-left voiletImp">scroll right or left for more information</span>
                            <span class="pull-right voiletImp">scroll down for more profiles</span>
                        </div>
                        <div class="top-margin table-responsive Xscroll" id="Xscroll">
                            <table class="table" id="Xscrolltbl">
                                <thead>
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>view</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                        <th>Name</th>
                                        <th>Mobile</th>
                                        <th>Email Address</th>
                                        <th>therapists visited with count</th>
                                        <th>total massages</th>
                                        <th>Blocked</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 text-right col-md-offset-8">
                                <span id="spntotal"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script>

    function ViewClient(id) {
        var u = "@Url.Action("ClientAccount", "Admin")" + "?_xid=" + id;
        window.open(
   u,
   '_blank' // <- This is what makes it open in a new window.
 );
    }
    function Delete(id) {
        var r = confirm('are you sure to delete ?');
        if (r == true) {
            var url = "@Url.Action("Deleteclient", "Admin")";
            $.post(url, { '_xid': id },
                function (data) {
                    if (data.indexOf("Error") == -1) {
                        alert(data);
                        location.reload();
                    } else {
                        alert(data);
                    }
                });
        }
    }
</script>
<script type="text/javascript">
    var pageSize = 10;
    var pageIndex = '@ViewBag.pageindex';
    var idx = '@ViewBag.idx';
    var lastScrollTop = 1;
    var otable;

    $('#Xscrolltbl').on('click', 'a.editor_remove', function (e) {
        e.preventDefault();
        var d = $(this).data('id');
        var r = confirm("are you sure to delete ?");
        if (r == true) {
            var _url = "@Url.Action("Deleteclient", "Admin")";
            $.post(_url, { '_xid': d }, function (data) {
                if (data.indexOf("Error") == -1) {
                    $(".error").html('Client Deleted Succesfully');
                    otable.row($(this).parents('tr')).remove().draw(false);
                } else {
                    alert(data);
                }
            });
        }
    });
    $('#Xscrolltbl').on('click', 'a.editor_edit', function (e) {
        e.preventDefault();
        var d = $(this).data('id');
        var page = $(this).data('page');
        var searchBy = $("#searchBy").val();
        var searchItem = $("#searchItem").val();
        var _url = "@Url.Action("EditClientAccount", "Admin")" + "?idx=1&_xid=" + d + "&index=" + page + "&searchBy=" + searchBy + "&searchItem=" + searchItem;
        location.href = _url;
    });
    $('#Xscrolltbl').on('click', 'a.editor_view', function (e) {
        e.preventDefault();
        var d = $(this).data('token');
        ViewClient(d);
    });

    

    $(document).ready(function () {
        if (pageIndex > 0) {
            otable = $('#Xscrolltbl').DataTable({
                "processing": true,
                "serverSide": true,
                "iDisplayLength": 10,
                "pagingType": "input",
                "drawCallback": function( settings ) {
                    $("#btnsrch").removeClass("disabled");
                    $("#btncsrch").removeClass("disabled");
                    $("#btnsrch").removeClass("btn-success");
                    $("#btncsrch").removeClass("btn-success");
                },
                'displayStart': ((pageIndex - 1) * 10),
                "order": [],
                "bSort": true,
                "bFilter": false,
                "ajax": {
                    "url": "@Url.Action("Fetchusers", "admin")",
                    "data": function (d) {
                        d.searchBy = $("#searchBy").val();
                        d.searchItem = $("#searchItem").val();
                        d.pageIndex = pageIndex;
                    }
                },
                "aoColumns": [
                     { mData: "counter" },
                     {
                         bSortable: false,
                         mRender: function (data, type, full) { $("#Xscrolltbl_info").html('Found ' + full.total + ' entries  from ' + full.alltotal + ' total '); return '<a data-page="' + full.pgindex + '" data-token="' + full.token + '" class="editor_view" ><i class="fa fa-search" style="font-size: 19px;padding-right: 12px;" data-original-title="View"></i></a>'; }
                     },
                     {
                         bSortable: false,
                         mRender: function (data, type, full) { $("#Xscrolltbl_info").html('Found ' + full.total + ' entries  from ' + full.alltotal + ' total '); return '<a data-page="' + full.pgindex + '" data-id="' + full.token + '" class="editor_edit" ><i class="fa fa-pencil" style="font-size: 19px;padding-right: 12px;" data-original-title="Edit"></i></a>'; }
                     },
                     {
                         bSortable: false,
                         mRender: function (data, type, full) { return '<a name="deleteColumn" data-id="' + full.token + '" class="editor_remove"><i class="fa fa-trash-o" style="font-size: 19px;" data-original-title="Delete"></i></a>'; }
                     },
                     { mData: "name" },
                     { mData: "mobile" },
                     { mData: "email" },
                     { mData: "therapistVisitedCount" },
                     { mData: "totalMassage" },
                     { mData: "BlockStatus" },
                ]
            });
           
        }
        else {
            otable = $('#Xscrolltbl').DataTable({
                "processing": true,
                "serverSide": true,
                "iDisplayLength": 10,
                "order": [],
                "pagingType": "input",
                "bSort": true,
                "bFilter": false,
                "drawCallback": function( settings ) {
                    $("#btnsrch").removeClass("disabled");
                    $("#btncsrch").removeClass("disabled");
                    $("#btnsrch").removeClass("btn-success");
                    $("#btncsrch").removeClass("btn-success");
                },
                "ajax": {
                    "url": "@Url.Action("Fetchusers", "admin")",
                    "data": function (d) {
                        d.searchBy = $("#searchBy").val();
                        d.searchItem = $("#searchItem").val();
                        d.pageIndex = pageIndex;
                    }
                },
                "aoColumns": [
                     { mData: "counter" },
                        {
                            bSortable: false,
                            mRender: function (data, type, full) { $("#Xscrolltbl_info").html('Found ' + full.total + ' entries  from ' + full.alltotal + ' total '); return '<a data-page="' + full.pgindex + '" data-token="' + full.token + '" class="editor_view" ><i class="fa fa-search" style="font-size: 19px;padding-right: 12px;" data-original-title="View"></i></a>'; }
                        },
                     {
                         bSortable: false,
                         mRender: function (data, type, full) { $("#Xscrolltbl_info").html('Found ' + full.total + ' entries  from ' + full.alltotal + ' total '); return '<a data-page="' + full.pgindex + '" data-id="' + full.token + '" class="editor_edit" ><i class="fa fa-pencil" style="font-size: 19px;padding-right: 12px;" data-original-title="Edit"></i></a>'; }
                     },
                     {
                         bSortable: false,
                         mRender: function (data, type, full) { return '<a name="deleteColumn" data-id="' + full.token + '" class="editor_remove"><i class="fa fa-trash-o" style="font-size: 19px;" data-original-title="Delete"></i></a>'; }
                     },
                     { mData: "name" },
                     { mData: "mobile" },
                     { mData: "email" },
                     { mData: "therapistVisitedCount" },
                     { mData: "totalMassage" },
                     { mData: "BlockStatus" },
                ]
            });
        }
        pageIndex = 0;
      
        $("#btncsrch").removeClass("disabled");
    });
    $('#Xscrolltbl').on('draw.dt', function () {
        var info = otable.page.info();
        $("#Xscrolltbl_info").html('Found ' + info.recordsDisplay + ' entries  from ' + info.recordsTotal + ' total ');

    });
    

    $("#btncsrch").click(function () {
        $("#btncsrch").addClass("disabled").addClass("btn-success");
         pageIndex = 1;
        $("#searchBy").val('');
        $("#searchItem").val('');
        otable.draw(true);
        pageIndex = 0;

    });
    $("#btnsrch").click(function () {
        $("#btnsrch").addClass("disabled").addClass("btn-success");
         pageIndex = 1;
        otable.draw(true);
        pageIndex = 0;
    });
    var currentRow = 0;
    function getRow(rowNum) {
        return parseInt($('#Xscrolltbl tr:eq(' + rowNum + ')').position().top);
    }
    function GetData() {
        if (lastScrollTop == 1) {
            lastScrollTop = 0;
            var searchby = $("#searchBy").val();
            var url = '@Url.Action("getclient_profiles", "admin")';
            var searchitem = $("#searchItem").val();
            $.post(url, { "searchBy": searchby, 'searchItem': searchitem, 'pageindex': pageIndex, 'pagesize': pageSize }, function (data) {
                pageIndex++;
                lastScrollTop = 1;
                $("tbody").append(data);
                pageSize = 10;
            });
        }
        else {
            return false;
        }
    }

    function search() {
        debugger;
        pageSize = pageSize * pageIndex;
        pageIndex = 1;
        lastScrollTop = 0;
        var searchby = $("#searchBy").val();
        var url = '@Url.Action("getclients", "admin")';
        var searchitem = $("#searchItem").val();
        $.post(url, { "searchBy": searchby, 'searchItem': searchitem, 'pageindex': pageIndex, 'pagesize': pageSize }, function (data) {
            pageIndex++;
            $('#Xscroll').animate('fast', function () {
                var t = setInterval(function () {
                    $('#Xscroll').scrollTop(getRow(parseInt(data, 10)));
                    clearInterval(t);
                }, 500);
            });
            pageSize = 10;
            lastScrollTop = 1;
        });
    }
</script>
