﻿
@{
    ViewBag.Title = "Confirm Appointment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .Xscroll {
        max-height: 500px !important;
        overflow: scroll;
    }
    select{
        width:100%;
    }
</style>
<link href="@Url.Content("https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/moment.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<script>
    $(function () {
        $("#startdate").datepicker({ dateFormat: 'd-M-y' }).attr('readonly', 'true');
         });
</script>
@{ 
    var hotel = (Dictionary<int, string>)ViewBag.hotel;
}
@helper GetFormatDate(string date)
{
    <span>@(Convert.ToDateTime(date).ToString("d-MMM-y")) </span>
}
@model californiaspa.Models.Appointment.AppointmentModel
<div>
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Confirm Appointment List
                <a href="@Url.Action("Dashboard","Admin")" class="btn btn-action pull-right"> Return To Admin Home</a>
            </h3>
        </header>
       
            <div class="col-md-12 col-sm-12 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <span class="pull-left voiletImp">scroll right or left for more information</span>
                            <span class="pull-right voiletImp">scroll down for more profiles</span>
                        </div>
                        <div class="col-md-12">
                            <div class="col-md-2">
                                <div class="top-margin">
                                    <label>Appointment Date:</label>
                                    <span>
                                        <input type="text" class="form-control" value="@ViewBag.date"  id="startdate" name="startdate" />

                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="top-margin">
                                    <label>Client:</label>
                                    <span>@Html.DropDownList("client")</span>
                                    @if ((int)ViewBag.c != 0)
                                    {
                                    <script>
                                        $("#client").val('@ViewBag.c');
                                    </script>
                                    }
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="top-margin">
                                    <label>Therapist :</label>
                                    <span>@Html.DropDownList("therapist")</span>
                                    @if ((int)ViewBag.t !=0)
                                    {<script>
                                        $("#therapist").val('@ViewBag.t');
                                    </script> 
                                    } 
                                 </div>
                            </div>
                            <div class="col-md-2">
                                <div class="top-margin">
                                    <label>SPA Hotel:</label>
                                    <span>
                                        <select name="hotel" id="hotel">
  <option value="0">Selecte hotel</option>
                                            @foreach (var item in hotel)
                                            {
                                              
                                                if ((int)ViewBag.hotelvalue == item.Key)
                                                {
                                                    <option selected="selected" value="@item.Key">@item.Value</option>
                                                }
                                                else
                                                {
                                                <option value="@item.Key">@item.Value</option>
                                                }
                                            }
                                        </select>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="top-margin">
                                    <label style="color:#6E0202 !important;">SPA Hotel:</label>
                                    <input type="button" id="btnsrch" class="btn btn-action" value="Search" />
                                </div>
                            </div>
 <div class="col-md-2">
                                <div class="top-margin">
                                    <label style="color:#6E0202 !important;">SPA Hotel:</label>
                                    <input type="button" id="btnclrsrch" class="btn btn-action" value="clear" />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">

                        </div>
 @if (Model.appt.Count > 0)
        {
                            <div class="top-margin table-responsive Xscroll">
                                <table class="table">
                                    <tr class="nowrap">
                                        <th>Sr no.</th>
                                        <th>Booking Date</th>
                                        <th>Therapist Name</th>
                                        <th>Client Name</th>
                                        <th>Confirm Time</th>
                                        <th>Comments</th>
                                        <th>Address</th>
                                    </tr>
                                    @{
                                        int i = 0;
                                    }


                                    @foreach (var item in Model.appt)
                                    {
                                        i = i + 1;
                                        <tr onclick="ViewConfirmAppointmens('@item.tokenId')">
                                            <td>@i</td>
                                            <th>@GetFormatDate(item.startDate)</th>
                                            <td>@item.therapistName</td>
                                            <td>@item.ClientName</td>
                                            <td>@item.startTime</td>
                                            <td>@item.comments</td>
                                            <td>@item.address</td>
                                        </tr>

                                    }
                                </table>
                            </div>
}
                                    else
                                    {
                                        <span> No Confirmed Apointment found currently</span>
                                    }
                            <hr>
                            <div class="row">
                                <div class="col-lg-4 text-right">
                                </div>
                            </div>
                        </div>
                </div>
            </div>
                                    
    </article>
</div>
<script>
    function ViewConfirmAppointmens(tokenId) {
        var name = "C";
        location.href = "@Url.Action("Getrequest", "Admin")" + "?token=" + tokenId + "&name=" + name;
    }

    $("select").addClass("form-control");

    $("#btnsrch").on("click", function () {
        var date = $("#startdate").val();
        var t = $("#therapist").val();
        var c = $("#client").val();
        var h = $("#hotel").val(); 
        location.href = "@Url.Action("Confirm_Appointments", "admin")" + "?date=" + date+"&t="+t+"&c="+c+"&h="+h;
    });

$("#btnclrsrch").on("click", function () {
           location.href = "@Url.Action("Confirm_Appointments", "admin")";
    });

</script>