﻿
@{
    ViewBag.Title = "Edit_ClientSurvey";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@{
    var dict = new Dictionary<string, string>();
    dict.Add("True", "Yes");
    dict.Add("False", "No");
}
@model californiaspa.Models.booking.ClientSurveymodel

<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">
                Survey Feedback for @Model.tname by @Model.therapistName
                <a class="btn btn-action pull-right" href="@Url.Action("GetClientFeedBackByTherapist","Admin")"> Back to Therapist survey</a>
            </h1>
            <div class="clearfix"></div>
        </header>
        <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (string.IsNullOrEmpty(Model.ErrorText))
                    {
                        using (Html.BeginForm("UpdateClientSurvey", "Admin", FormMethod.Post, new { @id = "frmsendsms" }))
                        {
                            <div class="col-md-7">
                                <div class="top-margin">
                                    @Html.HiddenFor(a => a.token)
                                    <label>Was Clients address location given accurate?</label><br />
                                    @foreach (var item in dict)
                                    {
                                        if (item.Key.ToUpper() == Model.Q1.ToUpper())
                                        {
                                            @Html.RadioButtonFor(a => a.Q1, "1", new { @checked = "checked" })<span>@item.Value</span>
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(a => a.Q1, "0")<span>@item.Value</span>
                                        }
                                    }
                                    <br />@Html.ValidationMessageFor(a => a.Q1)
                                    @Html.TextBoxFor(a => a.Q1Comment, new { @placeholder = "Additional comments", @class = "form-control" })
                                </div>
                                <div class="top-margin">
                                    <label>Did client delay start of session ?</label><br />
                                    @foreach (var item in dict)
                                    {
                                        if (item.Key.ToUpper() == Model.Q2.ToUpper())
                                        {
                                            @Html.RadioButtonFor(a => a.Q2, "1", new { @checked = "checked" })<span>@item.Value</span>
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(a => a.Q2, "0")<span>@item.Value</span>
                                        }
                                    }
                                    <br />@Html.ValidationMessageFor(a => a.Q2)
                                    @Html.TextBoxFor(a => a.Q2Comment, new { @placeholder = "Additional comments", @class = "form-control" })
                                </div>
                                <div class="top-margin">
                                    <label>Was Clients Location reasonably clean?</label><br />
                                    @foreach (var item in dict)
                                    {
                                        if (item.Key.ToUpper() == Model.Q3.ToUpper())
                                        {
                                            @Html.RadioButtonFor(a => a.Q3, "1", new { @checked = "checked" })<span>@item.Value</span>
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(a => a.Q3, "0")<span>@item.Value</span>
                                        }
                                    }
                                    <br />@Html.ValidationMessageFor(a => a.Q3)
                                    @Html.TextBoxFor(a => a.Q3Comment, new { @placeholder = "Additional comments", @class = "form-control" })
                                </div>
                                <div class="top-margin">
                                    <label>Was Clients neighbourhood safe?</label><br />
                                    @foreach (var item in dict)
                                    {
                                        if (item.Key.ToUpper() == Model.Q4.ToUpper())
                                        {
                                            @Html.RadioButtonFor(a => a.Q4, "1", new { @checked = "checked" })<span>@item.Value</span>
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(a => a.Q4, "0")<span>@item.Value</span>
                                        }
                                    }
                                    <br />@Html.ValidationMessageFor(a => a.Q4)
                                    @Html.TextBoxFor(a => a.Q4Comment, new { @placeholder = "Additional comments", @class = "form-control" })
                                </div>
                                <div class="top-margin">
                                    <label>Was client polite and respectful?</label><br />
                                    @foreach (var item in dict)
                                    {
                                        if (item.Key.ToUpper() == Model.Q5.ToUpper())
                                        {
                                            @Html.RadioButtonFor(a => a.Q5, "1", new { @checked = "checked" })<span>@item.Value</span>
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(a => a.Q5, "0")<span>@item.Value</span>
                                        }
                                    }
                                    <br />@Html.ValidationMessageFor(a => a.Q5)
                                    @Html.TextBoxFor(a => a.Q5Comment, new { @placeholder = "Additional comments", @class = "form-control" })
                                </div>
                                <div class="top-margin">
                                    <label>Didi client tip you reasonably?</label><br />
                                    @foreach (var item in dict)
                                    {
                                        if (item.Key.ToUpper() == Model.Q6.ToUpper())
                                        {
                                            @Html.RadioButtonFor(a => a.Q6, "1", new { @checked = "checked" })<span>@item.Value</span>
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(a => a.Q6, "0")<span>@item.Value</span>
                                        }
                                    }

                                    <br />@Html.ValidationMessageFor(a => a.Q6)
                                    @Html.TextBoxFor(a => a.Q6Comment, new { @placeholder = "Additional comments", @class = "form-control" })
                                </div>
                                <div class="top-margin">
                                    <label>Would you like to repeat the client in future?</label><br />
                                    @foreach (var item in dict)
                                    {
                                        if (item.Key.ToUpper() == Model.Q7.ToUpper())
                                        {
                                            @Html.RadioButtonFor(a => a.Q7, "1", new { @checked = "checked" })<span>@item.Value</span>
                                        }
                                        else
                                        {
                                            @Html.RadioButtonFor(a => a.Q7, "0")<span>@item.Value</span>
                                        }
                                    }
                                    <br />@Html.ValidationMessageFor(a => a.Q7)
                                    @Html.TextBoxFor(a => a.Q7Comment, new { @placeholder = "Additional comments", @class = "form-control" })
                                </div><div class="top-margin">
    <label>Did he ask for your number or contact info or if you could come direct?</label><br />
    @foreach (var item in dict)
    {
        if (item.Key.ToUpper() == Model.Q8.ToUpper())
        {
            @Html.RadioButtonFor(a => a.Q8, "1", new { @checked = "checked" })<span>@item.Value</span>
        }
        else
        {
            @Html.RadioButtonFor(a => a.Q8, "0")<span>@item.Value</span>
        }
    }
    <br />@Html.ValidationMessageFor(a => a.Q8)
    @Html.TextBoxFor(a => a.Q8Comment, new { @placeholder = "Additional comments", @class = "form-control" })
</div>

                                <div class="top-margin">
                                    <label>Total Score out of 10 : 10 best 1 Worst</label>
                                    <Select name="rating" class="form-control width20">
                                        @for (int i = 1; i <= 10; i++)
                                        {
                                            if (Model.rating == i)
                                            {
                                                <option selected="selected">@i</option>
                                            }
                                            else
                                            {
                                                <option>@i</option>
                                            }
                                        }
                                    </Select>
                                </div>
                                <hr>
                                <div class="row">

                                    <div class="col-lg-9 text-right">
                                        <button class="btn btn-action" type="submit"> Update Survey Feedback</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <span id="error" class="autohide error"></span>
                                </div>
                            </div>

                        }
                    }
                    else
                    {
                        <span>@Model.ErrorText</span>
                    }
                </div>
            </div>

        </div>

    </article>
    <!-- /Article -->

    <script>
        function AddAlert(message) {
            $(".error").show(1000);
            $("#error").html(message);
           $("#error").animate({ scrollTop: $("#error")[0].scrollHeight }, 1000);
        }


    </script>

</div>
