﻿
@{
    ViewBag.Title = "AdminAccount";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model californiaspa.Models.Account.AdminProfile
@{
    var roles = (List<californiaspa.Models.user.Roles>)ViewBag.roles;
}

<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">
              Update User Profile
                <a class="btn btn-action pull-right" href="@Url.Action("dashboard","Admin")"> Back to users</a>
            </h1>
            <div class="clearfix"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="thin text-center">@Model.Name Account</h4>
                    <hr>
                    @using (Html.BeginForm("editadmin", "Admin", FormMethod.Post, new { @id = "frmsendsms" }))
                    {  @Html.AntiForgeryToken()
                        <div class="top-margin">
                            <label>Name <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.Name, new { @class = "form-control", @required = "required" })
                        @Html.HiddenFor(a=>a.Id)
                        </div>
                        <div class="top-margin">
                            <label>Select Role <span class="text-danger">*</span></label>
                            <select class="form-control" name="roleId">
                                @foreach (var item in roles)
                                {
                                    if (Model.roleId == item.roleId)
                                    {
                                        <option selected="selected" value="@item.roleId">@item.name</option>
                                    }
                                    else
                                    {
                                        <option value="@item.roleId">@item.name</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="top-margin">
                            <label>Email Address <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.EmailAddress, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Password <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Confirm Password <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.confirmPassword, new { @class = "form-control", @required = "required" })
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 text-center">
                                <button class="btn btn-action" type="submit">Update @Model.Name Profile</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </article>
</div>


