﻿
@{
    ViewBag.Title = !string.IsNullOrEmpty(Model.token) ? "Edit" : "Add New" + "Profiles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .wdt30 {
        width: 88px;
    }
</style>


<link href="@Url.Content("~/assets/css/ETherapistprofiles.css")" rel="stylesheet" />
@model californiaspa.Models.therapist.therapistprofile
<div class="row">
    <div id="myModalTime1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose1" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter First Apt And Last Apt time for selected day</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>First Apt Hour </label>
                            <select class="form-control" id="Time1H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>First Apt Minute </label>
                            <select class="form-control" id="Time1M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>First Apt Am/Pm </label>
                            <select class="form-control " id="Time1AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Last Apt Hour </label>
                            <select class="form-control" id="Time2H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last Apt Minute </label>
                            <select class="form-control" id="Time2M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last Apt Am/Pm </label>
                            <select class="form-control " id="Time2AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="tid" />
                    <input type="hidden" id="tdate" />
                    <span class="autohide error" id="T1errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime1">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime3" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalTime3close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  first appointment  start time</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>first appointment Hour </label>
                            <select class="form-control" id="Time3H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>first appointment Minute </label>
                            <select class="form-control" id="Time3M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>first appointment Am/Pm </label>
                            <select class="form-control " id="Time3AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>

                    <span class="autohide error" id="T3errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime3">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime4" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalTime4close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  last appointment  start time</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Last appointment Hour </label>
                            <select class="form-control" id="Time4H">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last appointment Minute </label>
                            <select class="form-control" id="Time4M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last appointment Am/Pm </label>
                            <select class="form-control " id="Time4AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>

                    <span class="autohide error" id="T4errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime4">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalTime5" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose5" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  Earliest   time you want to receive messages for bookings </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Earliest time Hour </label>
                            <select class="form-control" id="Time5H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Earliest time Minute </label>
                            <select class="form-control" id="Time5M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Earliest time Am/Pm </label>
                            <select class="form-control " id="Time5AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>   </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime5">Save</button>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalTime6" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose6" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  Latest   time you want to receive messages for bookings </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-4">
                            <label>Latest time Hour </label>
                            <select class="form-control" id="Time6H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Latest time Minute </label>
                            <select class="form-control" id="Time6M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Latest time Am/Pm </label>
                            <select class="form-control " id="Time6AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime6">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                @(!string.IsNullOrEmpty(Model.token) ? "Edit" : "Add New") Therapist Profile
                <a class="btn btn-action pull-right" href="@Url.Action("therapist_profiles","Admin")"> Back to Therapist Profiles</a>
            </h3>

            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-4   col-sm-4  ">
            <div class="panel panel-default">
                @using (Html.BeginForm("UpdateProfile", "Admin", FormMethod.Post, new { @id = "frmsendsms1", enctype = "multipart/form-data" }))
            {
                    <div class="panel-body">
                        <div class="top-margin">
                            <label>Therapist main Image :</label>
                            @if (!string.IsNullOrEmpty(Model.imagePath))
                            {
                                <img id="image" alt="California Spa" src="@Url.Content(Model.imagePath)" class="width25" />
                            }
                            else
                            {
                                <img id="image" alt="California Spa" src="#" class="width50 notDisplay" />
                            }
                            <input type="file" id="file" name="file" @(!string.IsNullOrEmpty(Model.token) ? "" : "required") />
                            <script>
                                document.getElementById("file").onchange = function () {
                                    var reader = new FileReader();
                                    reader.onload = function (e) {
                                        // get loaded data and render thumbnail.
                                        document.getElementById("image").src = e.target.result;
                                        document.getElementById("image").style.display = 'block';
                                    };
                                    // read the image file as a data URL.
                                    reader.readAsDataURL(this.files[0]);
                                };
                            </script>
                        </div>
                        <div class="top-margin">
                            <label>Name of therapist :</label>
                            @Html.TextBoxFor(a => a.name, new { @class = "form-control", @required = "required" })
                            @Html.HiddenFor(a => a.token, new { @id = "token1" })
                        </div>
                        <div class="top-margin">
                            <label>Mobile Number :</label>
                            @Html.TextBoxFor(a => a.mobile, new { @class = "form-control wdt30", @required = "required", @maxlength = "10" })
                        </div>
                        <div class="top-margin">
                            <label>UserName :</label>
                            @Html.TextBoxFor(a => a.Username, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Password :</label>
                            @Html.TextBoxFor(a => a.Password, new { @class = "form-control wdt30",  @required = "required", @maxlength = "10" })
                        </div>
                        <div class="top-margin">
                            <label>Age :</label>
                            @Html.TextBoxFor(a => a.Age, new { @class = "form-control", @required = "required", @type = "number" })
                        </div>
                        <div class="top-margin">
                            <label>Location :</label>
                            @Html.TextBoxFor(a => a.location, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Rate :</label>
                            @Html.TextBoxFor(a => a.rate, new { @class = "form-control", @type = "number", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Language :</label>
                            @Html.TextBoxFor(a => a.languages, new { @class = "form-control" })
                        </div>
                        <div class="top-margin">
                            <label>Massage Styles :</label>
                            @Html.TextBoxFor(a => a.MassageStyles, new { @class = "form-control" })
                        </div>
                        <div class="top-margin">
                            <label>Max Appointment Limit :</label>
                            @Html.TextBoxFor(a => a.bookingLimit, new { @class = "form-control", @required = "required" })
                        </div>

                        <div class="top-margin">
                            <label>First  Appointment Schedule :</label>
                            @Html.TextBoxFor(a => a.FirstAptTime, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Last  Appointment Schedule :</label>
                            @Html.TextBoxFor(a => a.LastAptTime, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Earliest time you want to receive messages for bookings  :</label>
                            @Html.TextBoxFor(a => a.ErliestcallTime, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Latest time you want to receive messages for bookings  :</label>
                            @Html.TextBoxFor(a => a.latestcallTime, new { @class = "form-control", @required = "required" })
                        </div> 
                       <div class="top-margin">
                            <label>Comment :</label>
                            @Html.TextAreaFor(a => a.Adminreview, new { @class = "form-control", @rows = "5" })
                        </div>
                        <div class="top-margin">
                            <label>
                                Show Profile :
                                @Html.CheckBoxFor(a => a.showprofile)
                            </label><br />
                            <span>uncheck above checkbox to hide profile from user</span>
                        </div>

                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                            <button type="submit" class="btn btn-primary">@(!string.IsNullOrEmpty(Model.token) ? "Update" : "Add New")</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.token))
        {
            <div class="col-md-8   col-sm-8">
                <div class="panel panel-default">
                    @using (Html.BeginForm("UpdateImage", "Admin", FormMethod.Post, new { @id = "frmsendsms", enctype = "multipart/form-data" }))
                    {
                        <div class="panel-body">
                            @if (Model.images != null)
                            {
                                int i = 0;
                                <div class="row">
                                    @foreach (var items in Model.images)
                                    {
                                        i = i + 1;
                                        <div class="col-md-3">
                                            <img src="@Url.Content(items.path)" /><br />
                                            <input type="button" onclick="deleteImage('@items.ImgId')" class="btn btn-action" value="Delete" />
                                        </div>
                                        if (i == 4)
                                        {
                                            i = 0;
                                            <div class="clearfix"></div>
                                        }
                                    }
                                </div>
                            }<hr />
                            <div class="top-margin">
                                @Html.HiddenFor(a => a.token)
                                <label>Upload New Images(Select multiple images and upload) :</label>
                                <input type="file" id="files" name="files" multiple required />
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-lg-4 text-right">
                                    <button type="submit" class="btn btn-primary">@(!string.IsNullOrEmpty(Model.token) ? "Update Images" : "Add New Images")</button>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </article>
</div>


<script type="text/javascript" charset="utf-8">

    function deleteImage(id) {
        var r = confirm('are you sure to delete ?');
        if (r == true) {

            var url = "@Url.Action("DeleteImage", "Admin")";
            $.post(url, { '_xid': id },
                function (data) {
                    if (data.indexOf("Error") == -1) {
                        alert(data);
                        location.reload();
                    } else {
                        alert(data);
                    }
                });
        }
    }

    var id = 0;

    $('.modal').on('hidden.bs.modal', function (event) {
        $(this).removeClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') - 1);
    });

    $('.modal').on('shown.bs.modal', function (event) {
        if (typeof ($('body').data('fv_open_modals')) == 'undefined') {
            $('body').data('fv_open_modals', 0);
        }
        if ($(this).hasClass('fv-modal-stack')) {
            return;
        }

        $(this).addClass('fv-modal-stack');

        $('body').data('fv_open_modals', $('body').data('fv_open_modals') + 1);

        $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals')));

        $('.modal-backdrop').not('.fv-modal-stack')
                .css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('fv-modal-stack')
                .addClass('fv-modal-stack');
    });
    $("#FirstAptTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time3H").val(_time[0]); $("#Time3M").val(_time[1]); $("#Time3AM").val(_val1[1]);

        $('#myModalTime3').modal({ backdrop: 'static', keyboard: false });
    });
    $("#LastAptTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time4H").val(_time[0]); $("#Time4M").val(_time[1]); $("#Time4AM").val(_val1[1]);

        $('#myModalTime4').modal({ backdrop: 'static', keyboard: false });
    });

    $("#latestcallTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time6H").val(_time[0]); $("#Time6M").val(_time[1]); $("#Time6AM").val(_val1[1]);

        $('#myModalTime6').modal({ backdrop: 'static', keyboard: false });
    });

    $("#ErliestcallTime").click(function () {
        var _val = $(this).val();
        var _val1 = _val.split(" ");
        var _time = _val1[0].split(":");
        $("#Time5H").val(_time[0]); $("#Time5M").val(_time[1]); $("#Time5AM").val(_val1[1]);

        $('#myModalTime5').modal({ backdrop: 'static', keyboard: false });
    });
    $("#btnmyModalTime3").click(function () {
        var _time = $("#Time3H").val() + ":" + $("#Time3M").val() + " " + $("#Time3AM").val();
        $("#FirstAptTime").val(_time);
        $('#myModalTime3').modal('hide');
    });
    $("#btnmyModalTime4").click(function () {
        var _time = $("#Time4H").val() + ":" + $("#Time4M").val() + " " + $("#Time4AM").val();
        $("#LastAptTime").val(_time);
        $('#myModalTime4').modal('hide');
    });

    $("#btnmyModalTime5").click(function () {
        var _time = $("#Time5H").val() + ":" + $("#Time5M").val() + " " + $("#Time5AM").val();
        $("#ErliestcallTime").val(_time);
        $('#myModalTime5').modal('hide');
    });
    $("#btnmyModalTime6").click(function () {
        var _time = $("#Time6H").val() + ":" + $("#Time6M").val() + " " + $("#Time6AM").val();
        $("#latestcallTime").val(_time);
        $('#myModalTime6').modal('hide');
    });

    $("#myModalclose1").click(function () {
        $('#myModalTime1').modal('hide');
    });

    $("#myModalTime4close").click(function () {
        $('#myModalTime4').modal('hide');
    });

    $("#myModalTime5close").click(function () {
        $('#myModalTime5').modal('hide');
    });$("#myModalTime6close").click(function () {
        $('#myModalTime6').modal('hide');
    });


    $("#myModalTime3close").click(function () {
        $('#myModalTime3').modal('hide');
    });

    $(".avalImage").on("click", function () {
        var _ModalId = $(this).data("val");
        $('#' + _ModalId).modal({ backdrop: 'static', keyboard: false })
    });

    $(document).ready(function () {
        $("area[rel^='prettyPhoto']").prettyPhoto();
        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_square', slideshow: 3000, autoplay_slideshow: false });
        $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', slideshow: 10000, hideflash: true });

    });

    function getCalender(_id) {
        var maxDate = moment(new Date()).format("YYYY-MM-D");
        $('#calendar' + _id).fullCalendar({
            theme: true,
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay,listWeek'
            },
            firstDay: moment().weekday(),
            defaultDate: maxDate,
            editable: false,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            events: {
                url: '/therapist/GetEvents/',
                cache: true,
                type: 'GET',
                data: {
                    thid: _id
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {
                var _class = element.find('.fc-title').parent().parent().hasClass('redEvent');
                if (_class == true) {
                    element.find('.fc-title').parent().parent().css("cssText", "background-color: grey !important;border-color: grey !important;");

                }
                var _title = element.find('.fc-title').html();
                if (_title != "&nbsp;") {
                    element.find('.fc-time').html("");
                    element.find('.fc-time').css("font-size", "9px");
                    element.find('.fc-title').css("font-size", "7px");
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<hr class="hr1" />' + $.fullCalendar.formatDate(event.end, "hh:mm A") + '<hr class="hr2" />');
                    //element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                } else {
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                }

                if (_title == "Not Working") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Not <br/> Working");
                }
            },
            dayRender: function (date, cell) {
                var maxDate = moment(new Date()).format("YYYY-MM-D");
                var newDate = moment(date).format("YYYY-MM-D");
                if (newDate < maxDate) {
                    $(cell).addClass('fc-not-allowed');
                    $(cell).css('background', 'grey');
                }
            }
        }); 
        $('#myModal' + _id).modal({ backdrop: 'static', keyboard: false })
    } </script>
