﻿
@{
    ViewBag.Title = "Client Summary";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link href="@Url.Content("https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/moment.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
@{
  var export=(bool)ViewBag.exportclient;
  var print=(bool)ViewBag.print;
}

@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-MMM-y")</span>
}
@helper FormatDateTime(string date, string time, string colorCode, int messageid)
{
var d = Convert.ToDateTime(date);
    <span id="time_@messageid" class='@colorCode'>@d.ToString("d-MMM-y") ; @time</span>
}
<script>
    $(function () {
        $("#startdate").datepicker({   dateFormat: 'd-M-y' }).attr('readonly', 'true');
        $("#enddate").datepicker({  dateFormat: 'd-M-y' }).attr('readonly', 'true');

    });
</script>
<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h4>
                Client   Summary report
                <a class="btn btn-action pull-right" href="@Url.Action("dashboard","Admin")"> Back to Admin Home</a>
            </h4>
            <div class="clearfix"></div>
        </header>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h3 class="thin ">Search Summary by Booking date</h3>
                    <hr />
                    <div class="col-md-3">
                        <label>Start date<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@(DateTime.Now.ToString("d-MMM-y"))" id="startdate" name="startdate" />
                    </div>
                    <div class="col-md-3">
                        <label>Finish date<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@(DateTime.Now.ToString("d-MMM-y"))" id="enddate" name="enddate" />
                    </div>
                    <div class="col-md-3">
                        <label>Select Client:</label>
                        @Html.DropDownList("client")
                    </div>
                    <div class="col-md-2">
                        <label>Select By<span class="text-danger">*</span></label>
                        <select id="type">
                            <option value="1">Name</option>
                            <option value="2">Email</option>
                            <option value="3">Phone</option>
                        </select>
                    </div>
                    <div class="col-md-2">
                        <label>Enter Search<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" id="serachValue" name="serachValue" />
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="GetSummaryItem()" value="Search Summary" class="btn btn-action margintop25" />
                    </div>
                    @if (print)
                    {
                    <div class="col-md-3">
                        <input type="button" onclick='PrintDiv("searchresult")' value="Print" class="btn btn-action margintop25" />
                    </div>}
                    @if (export)
                    {
                    <div class="col-md-3">
                        <input type="button" onclick='ExportToExcel()' value="Export to Excel" class="btn btn-action margintop25" />
                    </div>
                    }
                </div>
                <div class="panel-body" id="searchresult" style="max-height:600px;overflow:scroll;">
                </div>
            </div>
        </div>
    </article>
</div>
<script type="text/javascript" charset="utf-8">




    function GetMainSummryReport(page) {
        var url = "@Url.Action("GetSummarybySearch", "Admin")";
        var startDate = $("#startdate").val();
        var endDate = $("#enddate").val();
        $.post(url, { 'startDate': startDate, 'page': page, 'enddate': endDate }, function (data) {
            $("#searchresult").html(data);
        });
    }

    function GetSummaryItem() {
        var url = "@Url.Action("GetClientViewSummarybySearch", "Admin")";
        var _id = $("#client").val();
        var startDate = $("#startdate").val();
        var endDate = $("#enddate").val();
        var type = $("#type").val();
        var _value = $("#serachValue").val();
        $.post(url, { 'type': type, 'serachValue': _value, 'startDate': startDate, 'token': _id, 'enddate': endDate, 'print': 0 }, function (data) {
            $("#searchresult").html(data);
        });
    }

    function ExportToExcel()
    {
        var url = "@Url.Action("GetClientViewSummaryForExport", "Admin")";
        var _id = $("#client").val();
        var startDate = $("#startdate").val();
        var endDate = $("#enddate").val();
        url = url + "?print=1&startDate=" + startDate + "&token=" + _id + "&enddate=" + endDate;
        location.href = url;
    }
    $('select').addClass('form-control');
</script>
<script>


function PrintDiv(print_div) {
    var divToPrint = document.getElementById(print_div);
    var td = '.phide{display:none;}';
    td = td + 'a{text-decoration:none;color:#000;}';
    td = td + 'table{';
    td = td + 'font-family: verdana,arial,sans-serif;';
    td = td + 'font-size:10px;';
    td = td + 'color:#333333;';
    td = td + 'border-width: 1px;';
    td = td + 'border-color: #666666;';
    td = td + 'border-collapse: collapse;';
    td = td + 'width:100%;';
    td = td + 'background-color:#fff;';
    td = td + '}';

    td = td + 'table th';
    td = td + '{';
    td = td + '    border-width: 1px;';
    td = td + '    padding: 5px;';
    td = td + '    border-style: solid;';
    td = td + '    border-color: #666666;';
    td = td + '    background-color: #914F59;';
    td = td + '    font-size: 14px;';
    td = td + '    color:White;';
    td = td + '}';

    td = td + 'td{';
    td = td + 'border-width: 1px;';
    td = td + 'padding: 3px;';
    td = td + 'border-style: solid;';
    td = td + 'border-color: #666666;';
    td = td + 'background-color: transparent;';
    td = td + 'font-size:13px;';
    td = td + "}";
    var popupWin = window.open('', '_blank', 'width=800,height=800');
    popupWin.document.open();
    popupWin.document.write('<html><head><style>' + td + '</style></head><body onload="window.print()">' + divToPrint.innerHTML + '</html>');
    popupWin.document.close();

}
</script>

