﻿
@{
    ViewBag.Title = "Getotp";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model californiaspa.Models.Account.otpmodel

<style>
    .maxhght {
        max-height: 500px;
        overflow: scroll;
    }
</style>
<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                OTP Record
                <a href="@Url.Action("Dashboard","Admin")" class="btn btn-action pull-right">Return To Admin Home</a>
            </h3>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h3 class="thin">Search Report By Mobile/Email</h3>
                    <hr />
                    <div class="col-md-3">
                        <label>Serach Type<span class="text-danger">*</span></label>
                        <select class="form-control" id="searchtype">
                            <option value="-1">Select</option>
                            <option value="0">Mobile</option>
                            <option value="1">Email</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Search Value<span class="text-danger">*</span></label>
                        <input type="text" id="searchvalue" value="@(Model.searchvalue)" class="form-control" />
                    </div>

                    <div class="col-md-3">
                        <input type="button" onclick="GetSummaryItem()" value="Search Report" class="btn btn-action margintop25" />
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 maxhght">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (Model.body.Count > 0)
                    {
                        <div class="top-margin table-responsive Xscroll maxhght">
                            <table class="table">
                                <tr class="nowrap">
                                    <th>Sr no.</th>
                                    <th>Messgae</th>
                                    <th>Mobile/Email</th>
                                </tr>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.body)
                                {
                                    i = i + 1;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.body</td>
                                        <td>@item.phone</td>
                                    </tr>
                                }
                            </table>
                        </div>
                                    }
                                    else
                                    {
                                        <span>No record Found</span>
                                    }
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script>

    $('select').addClass('form-control');
    function GetSummaryItem() {
        var _url = "@Url.Action("getotp", "Admin")";
        var searchtype = $("#searchtype").val();
        var searchvalue = $("#searchvalue").val();
        location.href = _url + "?search=" + searchvalue + "&searchtype=" + searchtype;
    }

    function Deletereport(aid) {
        var r = confirm("are You sure to delete?");
        if (r == true) {
            var _url = "@Url.Action("GetAudioReports", "Admin")";
            var startDate = $("#startdate").val();
            var endDate = $("#enddate").val();
            var _val = $("#dtchange").val();
            var tid = $("#therapist").val(); if (_val == "1") {

                location.href = _url + "?deletId=" + aid + "&therapistid=" + tid + "&startDate=" + startDate + "&endDate=" + endDate;
            }
            else {
                location.href = _url + "?deletId=" + aid + "&therapistid=" + tid;
            }
        }
    }
</script>
