﻿@{
    ViewBag.Title = "Get Request";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}
<link href="@Url.Content("~/assets/css/therapistIndex.css")" rel="stylesheet" />

@model californiaspa.Models.Appointment.AppointmentModel_item
@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-MMM-y")</span>
}
@helper FormatDateWithTime(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-MMM-y ; hh:mm tt")</span>
}
@helper FormatDay(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.DayOfWeek</span>
}
@{
    string _notification = " (<span>Any Applicable discounts will applied when therapist confirms appointment</span>)";
    string _action = ViewBag.Name == "Confirmed Appointment" ? "confirmed_appt" : "pending_appt";
}
<style>
    iframe {
        display: block;
        width: 100%;
    }
</style>
<script>
    function initMap() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    gestureHandling: 'greedy',
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById("map2"), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });

            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }
    function initMap1(lat, lth, id) {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (p) {
                var LatLng = new google.maps.LatLng(lat, lth);
                var mapOptions = {
                    center: LatLng,
                    zoom: 12,
                    mapTypeId: google.maps.MapTypeId.ROADMAP,
                    gestureHandling: 'greedy',
                    disableDefaultUI: true
                };

                var map = new google.maps.Map(document.getElementById(id), mapOptions);
                var marker = new google.maps.Marker({
                    animation: google.maps.Animation.BOUNCE,
                    position: LatLng,
                    map: map,
                    title: "<div><b>Your location:</b><br />Latitude: " + p.coords.latitude + "<br />Longitude: " + p.coords.longitude
                });

                var pos = {
                    lat: p.coords.latitude,
                    lng: p.coords.longitude
                };
                google.maps.event.addListener(marker, "click", function (e) {
                    var infoWindow = new google.maps.InfoWindow();
                    infoWindow.setContent(marker.title);
                    infoWindow.open(map, marker);
                    infoWindow.setPosition(pos);
                    map.setCenter(pos);
                });
            });

        } else {
            alert('Geo Location feature is not supported in this browser.');
        }
    }

</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwLSy7V_ejK6m-ffhI6kiiJf3wl7pnX2g&callback=initMap">
</script>
<div class="row">
    <div id="myModalcal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" data-modelid="myModalcal" class="close">Close[&times;]</button>
                </div>
                <div class="modal-body">
                    <div id='calendar'></div>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h4>
                @ViewBag.Name   @(ViewBag.Name == "Confirmed Appointment" ? Html.Raw("") : Html.Raw(_notification))
                <a href="@Url.Action(_action,"Account")" class="btn btn-action pull-right">Return to @ViewBag.Name</a>
            </h4>
            <div id="map2" class="notDisplay"></div>
            <div class="clearfix"></div>
        </header>
        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="top-margin">
                        <label>Client intitiated request on:</label>
                        <span>@FormatDateWithTime(Model.createdDate) (@FormatDay(Model.createdDate))</span>
                        <br />
                        <span>This is NOT Appointment date Time</span>
                    </div>
                    <div class="top-margin">
                        <label>Name of Client :</label>
                        <span><a title="Click to see client profile" href="@Url.Action("MyAccount", "account")">@Model.ClientName ( Click to see client profile )</a>  </span>
                    </div>
                    <div class="top-margin">
                        <label>Therapist Name:</label>
                        <span>@Model.therapistName</span>
                    </div>
                    @*<div class="top-margin">
                            <label>Client Requested Earliest START time:</label>
                            <span>@Model.startTime</span>
                        </div>
                        <div class="top-margin">
                            <label>Client Requested Lastest START time :</label>
                            <span id="end_@Model.Aid">@Model.arrivalTime</span>
                        </div>*@
                    <div class="top-margin">
                        <label>Appointment Confirmed Date :</label>
                        <span>@FormatDate(Model.startDate) (@FormatDay(Model.startDate))</span>
                    </div>
                    <div class="top-margin">
                        <label>Confirmed Appointment Start Time:</label>
                        <span>@Model.therapistTime</span>
                    </div>
                    <div class="top-margin">
                        <label> location:</label>

                        <span>@(!string.IsNullOrEmpty(Model.location) ? Model.location : "Spa Hotel")</span>

                    </div>
                    @if (!string.IsNullOrEmpty(Model.address))
                    {
                        <div class="top-margin">
                            <label>Address :</label>
                            <span>@Model.address</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.houseNumber))
                    {
                        <div class="top-margin">
                            <label>House Number :</label>
                            <span>@Model.houseNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.aptNumber))
                    {
                        <div class="top-margin">
                            <label>Flat Number :</label>
                            <span>@Model.aptNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.hotelName))
                    {
                        <div class="top-margin">
                            <label>Hotel Name :</label>
                            <span>@Model.hotelName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.floorNumber))
                    {
                        <div class="top-margin">
                            <label>Floor Number :</label>
                            <span>@Model.floorNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.roomNumber))
                    {
                        <div class="top-margin">
                            <label>Room Number :</label>
                            <span>@Model.roomNumber</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.aptName))
                    {
                        <div class="top-margin">
                            <label>Apt. Name :</label>
                            <span>@Model.aptName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.streetName))
                    {
                        <div class="top-margin">
                            <label>Street Name :</label>
                            <span>@Model.streetName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.crossstreetName))
                    {
                        <div class="top-margin">
                            <label>Cross Street Name :</label>
                            <span>@Model.crossstreetName</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.landmark))
                    {
                        <div class="top-margin">
                            <label>LandMark :</label>
                            <span>@Model.landmark</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.localityArea))
                    {
                        <div class="top-margin">
                            <label>Locality Area :</label>
                            <span>@Model.localityArea</span>
                        </div>
                    }
                    <div class="top-margin">
                        <label>Amount :</label>
                        <span>Rs &nbsp;@Model.rate </span>
                    </div>
                    <div class="top-margin">
                        <label>pick and drop or transport  :</label>
                        <span>@Model.pickdrop</span>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.ClientPickUptime))
                    {
                        <div class="top-margin">
                            <label>Client Pick-up Time  :</label>
                            <span>@Model.ClientPickUptime</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.vehical.vcolor))
                    {
                        <div class="top-margin">
                            <label>Vehical color  :</label>
                            <span>@(Model.vehical.vcolor)</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.vehical.vlicenceNumber))
                    {
                        <div class="top-margin">
                            <label>License Number  :</label>
                            <span>@(Model.vehical.vlicenceNumber)</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.vehical.vmake))
                    {
                        <div class="top-margin">
                            <label>Make  :</label>
                            <span>@(Model.vehical.vmake)</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.vehical.vmodelNumber))
                    {
                        <div class="top-margin">
                            <label>Model Number  :</label>
                            <span>@(Model.vehical.vmodelNumber)</span>
                        </div>
                    }
                    @if (!string.IsNullOrEmpty(Model.vehical.vtype))
                    {
                        <div class="top-margin">
                            <label>Bike Or Car :</label>
                            <span>@(Model.vehical.vtype)</span>
                        </div>
                    }

                    <div class="top-margin">
                        <label>Custom Message  :</label>
                        <span> @Model.custommessage</span>
                    </div>
                    @if (!string.IsNullOrEmpty(Model.comments))
                    {
                        <div class="top-margin">
                            <label>Therapist Comments  :</label>
                            <span> @Model.comments</span>
                        </div>
                    }
                    @if ((Model.SpaHotelid == 7 || Model.SpaHotelid == 4 || Model.SpaHotelid == 9) && ViewBag.Name == "Confirmed Appointment")
                    {
                        <div class="top-margin">
                            <label>Terms and conditions :</label>
                            <span><a title="Click to see hotel terms" onclick="viewterms('@Model.SpaHotelid')">Click here to @(!string.IsNullOrEmpty(Model.location) ? Model.location : "Spa Hotel") to view terms </a>  </span>
                        </div>

                    }

                    @if (Model.ltd != "0" && string.IsNullOrEmpty(Model.SpaMap))
                    {
                        <div class="top-margin">
                            <label>  Appointment Location  :</label>
                            <div id="Map" class="mapDiv"> </div>
                            <span>Please verify Client location.To enlarge map use 2 fingers and to move use 1 finger </span>
                            <script>
                                initMap1('@Model.ltd', '@Model.lth', 'Map');
                            </script>
                        </div>
                    }
                    else
                    {
                        <div class="top-margin">
                            <label>  Appointment Location  :</label>
                            <div class="mapDiv">
                                @Html.Raw(Model.SpaMap)
                            </div>
                            <span>Please verify Client location.To enlarge or move map use 2 fingers  </span>

                        </div>
                    }
                    @if (Model.tlth != "0" && !string.IsNullOrEmpty(Model.tlth))
                    {
                        <div class="top-margin">
                            <label>  Therapist Location  :</label>
                            <div id="Map1" class="mapDiv"> </div>
                            <script>
                                initMap1('@Model.tltd', '@Model.tlth', 'Map1');
                            </script>
                        </div>
                    }
                    @if (ViewBag.Name == "Confirmed Appointment")
                    {<div class="top-margin">
                        <a href="@Url.Action("chat", "Account",new {token=Model.thid })" class="btn btn-action">Chat With Therapist</a>
                    </div>
                    <div class="top-margin">
                        <table class="col-md-12 col-sm-12 col-lg-12">
                            <tbody>
                                <tr>
                                    <td class="col-md-3 col-sm-3 col-lg-3"></td>
                                    <td class="col-md-6 col-sm-6 col-lg-6">
                                        <p class="box effect1 text-center box65">
                                            <strong>
                                                <span class="voiletImp">You can chat with Therapist for clarification coordinating reschedule or cancel. Reschedule or cancel will occur full charge</span>
                                            </strong>
                                        </p>
                                    </td>
                                    <td class="col-md-3 col-sm-3 col-lg-3"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    }
                    <hr>
                </div>
            </div>
        </div>
    </article>
</div>

<script>
    function viewterms(id) {
        var url = "@Url.Action("getclientterms", "appointment")";
        $.get(url, { 'id': id }, function (data) {
            $("#calendar").html(data);
            $('#myModalcal').modal({ backdrop: 'static', keyboard: false });
        });
    }
</script>