﻿
@{
    ViewBag.Title = "GetTherapistFeedBackByClient";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="@Url.Content("~/assets/css/TherapistProfiles.css")" rel="stylesheet" />
@model californiaspa.Models.Chat.AdminServeyModel
@{
    int i = 0;
}
<link href="@Url.Content("https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/moment.js")"></script>
<script src="@Url.Content("~/Scripts/bootstrap-datetimepicker.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery-ui-1.8.20.min.js")"></script>
<link href="@Url.Content("~/Content/bootstrap-datetimepicker.min.css")" rel="stylesheet" />
<script>
    $(function () {
        $("#startdate").datepicker({ dateFormat: 'd-M-y' }).attr('readonly', 'true');
        $("#enddate").datepicker({ dateFormat: 'd-M-y' }).attr('readonly', 'true');
    });
</script>
<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Client Survey
                <a class="btn btn-action pull-right" href="@Url.Action("dashboard","Admin")"> Back to Admin Home</a>
            </h3>
            <div class="clearfix"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h3 class="thin">Search Report By Therapist</h3>
                    <hr />
                    <div class="col-md-2">
                        <label>Start date<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@(ViewBag.startDate)" id="startdate" name="startdate" />
                        <input type="hidden" id="dtchange" value="@(ViewBag.dtchange)" />
                        <input type="hidden" id="dpage" value="@(ViewBag.page)" />
                    </div>
                    <div class="col-md-2">
                        <label>Finish date<span class="text-danger">*</span></label>
                        <input type="text" class="form-control" value="@(ViewBag.endDate)" id="enddate" name="enddate" />
                    </div>
                    <div class="col-md-2">
                        <label>Select Therapist:</label>
                        @Html.DropDownList("therapist")
                    </div>
  <div class="col-md-2">
                        <label>Select client:</label>
                        @Html.DropDownList("client")
                    </div>
                    <div class="col-md-3">
                        <input type="button" onclick="GetSummaryItem()" value="Search Report" class="btn btn-action margintop25" />
                    </div>

                </div>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="col-md-12 col-sm-12 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <span class="pull-left voiletImp">scroll right or left and down for more information</span><span>Click therapist name to view detalied reviews</span>
                         <input type="button" id="div_delete" value="Delete selected" onclick="Deleteall()" class="btn-primary btn pull-right" />
                    </div>
                    <div class="clearfix"></div>
                    <div class="top-margin table-responsive Xscroll">
                        <table class="table">
                            <thead>
                                <tr>
                                    @if (Model._Summarylist.Count > 0)
                                    {
                                        <th>
                                            <input type="checkbox" id="chk_header" />
                                        </th>
                                    }
                                    <th>Therapist Name</th>
                                    <th>Client Name</th>
                                    <th>Appoinetment Date</th>
                                    <th>Feedback date</th>
                                    <th>Rating (Out of 10)</th>
                                    <th>Comments</th>
                                    <th>Edit/View Survey</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model._Summarylist != null)
                                {

                                    foreach (var item in Model._Summarylist)
                                    {
                                        i = i + 1;

                                        <tr>
                                            <td>
                                                <input type="checkbox" id="chk_@(item.id)" value="@item.id" class="chk" />
                                            </td>
                                            <td class="survey" data-token="@item.token" data-name="@item.ClientName">
                                                <a href="#" onclick="GetSurvery('@item.token','@i')">  @item.Name</a>

                                            </td>
                                            <td>@item.ClientName </td>
                                            <td>@item.bookingDate</td>
                                            <td>@item.feedbackDate</td>
                                            <td>
                                                @item.rating
                                            </td>
                                            <td>
                                                @item.comments
                                            </td>
                                            <td>
                                                <div class="modal fade" id="dynamic-modal_@i" role="dialog">
                                                </div>
                                                <a class="btn btn-action" href="@Url.Action("Edit_Survey","Admin",new {token=item.token})"><icon class="glyphicon glyphicon-pencil"></icon> View/Edit</a>
                                            </td>

                                        </tr>

                                    }
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="7">    @ViewBag.paging</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                    <hr> 
                </div>
            </div>
        </div>
    </article>
</div>
<script>

    function GetSurvery(id, i) {
        var url = '@Url.Action("GetSurvey", "Main")';
        $('#dynamic-modal_' + i).modal({
            keyboard: false,
            remote: url + '?token=' + id
        }).show();
    }

    $("#enddate").on("change", function () {
        $("#dtchange").val("1");
    });
    $("#startdate").on("change", function () {
        $("#dtchange").val("1");
    });
    $('select').addClass('form-control');

    function GetSummaryItem() {
        var _url = "@Url.Action("GetTherapistFeedBackByClient", "Admin")";
        var _val = $("#dtchange").val();
        var startDate = $("#startdate").val();
        var endDate = $("#enddate").val();
        var tid = $("#therapist").val();
   var cid = $("#client").val();
        if (_val == "1") {
            location.href = _url + "?therapistid=" + tid + "&startDate=" + startDate + "&endDate=" + endDate+"&clientid="+cid;
        }
        else {
            location.href = _url + "?therapistid=" + tid+"&clientid="+cid;
        }
    }

    function Deleteall() {
        var r = confirm('are you sure to delete ?');
        if (r == true) {
            var _val1 = '';
            $('.chk:checked').each(function () {
                if (_val1 == '') {
                    _val1 = $(this).val();
                } else {
                    _val1 = _val1 + '_' + $(this).val();
                }
            });
            var _url = "@Url.Action("GetTherapistFeedBackByClient", "admin")";
              var _val = $("#dtchange").val();
            var startDate = $("#startdate").val();
            var endDate = $("#enddate").val();
            var tid = $("#therapist").val();
            var page = $("#dpage").val();
var cid = $("#client").val();
            if (_val == "1") {
                location.href = _url + "?therapistid=" + tid + "&startDate=" + startDate + "&endDate=" + endDate + "&deleteId=" + _val1 + "&page=" + page+"&clientid="+cid;
            }
            else {
                location.href = _url + "?therapistid=" + tid + "&deleteId=" + _val1 + "&page=" + page+"&clientid="+cid;
            } 
        }
    }

    $(document).ready(function () {
        $(':checkbox').each(function () {
            this.checked = false;
        });
        $("#div_delete").hide();
    }); 
    $('#chk_header').click(function (event) {
        if (this.checked) {
            $(':checkbox').each(function () {
                this.checked = true;
            });
            $("#div_delete").show();
        }
        else {
            $(':checkbox').each(function () {
                this.checked = false;
            });

            $("#div_delete").hide();
        }
    }); 
    $('.chk').click(function () {
        $('#chk_header').prop('checked', false);
        if ($('.chk:checked').length > 0) {
            $("#div_delete").show();
        }
        else {
            $("#div_delete").hide();
        }
    });
</script>