﻿@model californiaspa.Models.Chat.SummaryModel
@{
    var list = Model._list.OrderBy(a => a.ClientName).GroupBy(a => a.ClientName).ToDictionary(a => a.Key, a => a.ToList());
}
<div class="table-responsive">
    <span class="voiletImp">Scroll right to view all massage </span>
    <table class="table-bordered table1 table dt-responsive" id="formats-table">
        <thead class="backgroundskyblue">
            <tr>
               
                <th>Client name</th>
                <th>Therapist Name</th>
                <th>booking Date</th>
                <th>Confirm Time</th>
                <th>  Amount</th>
                <th>  Discount</th>
                <th>  Total Amount</th>
            </tr>
        </thead>
        @if (Model._list.Count() > 0)
        {
            int msgCount = 0;
            Double totalAmount = 0.0;
            Double TotalDiscount = 0.0;
            int tmsgCount = 0;
            Double ttotalAmount = 0.0;
            Double tTotalDiscount = 0.0;
            int atmsgCount = 0;
            Double attotalAmount = 0.0;
            Double atTotalDiscount = 0.0;
            <tbody>
                @foreach (var item in list.Keys)
                {
                    var _item1 = list[item];
                    var _list1 = _item1.GroupBy(a => a.Name).ToDictionary(a => a.Key, a => a.ToList());
                    tmsgCount = 0;
                    ttotalAmount = 0.0;
                    tTotalDiscount = 0.0;
                    foreach (var itemval in _list1.Keys)
                    {
                        msgCount = 0;
                        totalAmount = 0.0;
                        TotalDiscount = 0.0;
                        foreach (var _items in _list1[itemval])
                        {
                            msgCount += 1;
                            totalAmount += Convert.ToDouble(_items.totalamountPerClient);
                            TotalDiscount += _items.DiscountAmount;
                            tmsgCount += 1;
                            ttotalAmount += Convert.ToDouble(_items.totalamountPerClient);
                            tTotalDiscount += _items.DiscountAmount;
                            atmsgCount += 1;
                            attotalAmount += Convert.ToDouble(_items.totalamountPerClient);
                            atTotalDiscount += _items.DiscountAmount;
                            <tr> 
                                <td>@_items.ClientName</td>
                                <td>@(_items.Name)</td>
                                <td>@_items.bookingDate  </td>
                                <td>@_items.bookingtime </td>
                                <td>Rs @_items.totalamountPerClient   </td>
                                <td>Rs @_items.DiscountAmount   </td>
                                <td>Rs @_items.Amount   </td>
                            </tr>
                        }
                        <tr>
                            <td colspan="5"></td>
                            <td colspan="2">
                                <label> @item Sub-Total with  @itemval</label><hr />
                                <span class="gspan">
                                    @item total massage with  @itemval :
                                </span>@msgCount<br />
                                <span class="gspan">
                                    @item sub-total amount with  @itemval :
                                </span>@totalAmount<br />
                                <span class="gspan">
                                    @item total discount with  @itemval :
                                </span>@TotalDiscount<br />
                                <span class="gspan">   @item Net Amount with  @itemval :</span>@totalAmount-@TotalDiscount=@(totalAmount - TotalDiscount)
                            </td>
                        </tr>
                    }
                    <tr>
                        <td colspan="5"></td>
                        <td colspan="2">
                            <label> @item Total With All Therapist</label><hr />
                            <span class="gspan">
                                @item total massage :
                            </span>@tmsgCount<br />
                            <span class="gspan">
                                @item sub-total amount  :
                            </span>@ttotalAmount<br />
                            <span class="gspan">
                                @item total discount :
                            </span>@tTotalDiscount<br />
                            <span class="gspan">  @item Net Amount  :</span>@ttotalAmount-@tTotalDiscount=@(ttotalAmount - tTotalDiscount)
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="5"></td>
                    <td colspan="2">
                        <label> Total  All clients</label><hr />
                        <span class="gspan"> total massage </span>:@atmsgCount<br />
                        <span class="gspan">
                            sub-total amount
                        </span>:@attotalAmount<br />
                        <span class="gspan">
                            total discount
                        </span>:@atTotalDiscount<br />
                        <span class="gspan">    Net Amount </span>
                        :@attotalAmount-@atTotalDiscount=@(attotalAmount - atTotalDiscount)
                    </td>
                </tr>
            </tbody>

        }
        else
        {
            <tr><td colspan="8">No record found</td></tr>
        }
    </table>
</div>
