﻿
@{
    ViewBag.Title = "Therapist Profiles";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link href="@Url.Content("~/assets/css/TherapistProfiles.css")" rel="stylesheet" />
@model californiaspa.Models.therapist._therapist
@{
    var dict = new Dictionary<string, string>();
    dict.Add("true", "Show");
    dict.Add("false", "Hide");
}
<style>
    .Xscroll {
        overflow: scroll;
        max-height: 600px;
    }

    .width500 {
        width: 500px;
    }
</style>

<div class="row">
    <div id="EditmyModalTime" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="EditmyModalTime1close" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter  first appointment and last appointment start time (<span id="spndate"></span> )</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="top-margin col-md-12">
                            <input id="checkworking" type="checkbox" value="Y" />
                            <label>click here to set Not working for selected date </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 marginbot24 margintop11">
                            <h4 class="modal-title">Edit First Appointment Start Time </h4>
                            <hr />
                        </div>
                        <div class="top-margin col-md-4">
                            <label>Hour </label>
                            <select class="form-control dis" id="Time1hH">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label> Minute </label>
                            <select class="form-control dis" id="Time1hM">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label> Am/Pm </label>
                            <select class="form-control dis" id="Time1hAM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 marginbot24 margintop11">
                            <h4 class="modal-title">Edit Last Appointment Start Time </h4>
                            <hr />
                        </div>
                        <div class="top-margin col-md-4">
                            <label>Hour </label>
                            <select class="form-control dis" id="Time2hH">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>

                            </select>
                        </div>
                        <div class="top-margin col-md-4">
                            <label> Minute </label>
                            <select class="form-control dis" id="Time2hM">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Am/Pm </label>
                            <select class="form-control dis" id="Time2hAM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="thid" />
                    <input type="hidden" id="thdate" />
                    <span class="autohide error" id="T1herrortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnEditmyModalTime1">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalTime1" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" id="myModalclose1" class="close">Close[&times;]</button>
                    <h4 class="modal-title">Enter First Apt And Last Apt time for selected day</h4>
                </div>
                <div class="modal-body">
                    <div class="row">

                        <div class="top-margin col-md-4">
                            <label>First Apt Hour </label>
                            <select class="form-control" id="Time1H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>First Apt Minute </label>
                            <select class="form-control" id="Time1M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>First Apt Am/Pm </label>
                            <select class="form-control " id="Time1AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">

                        <div class="top-margin col-md-4">
                            <label>Last Apt Hour </label>
                            <select class="form-control" id="Time2H">
                                <option>01</option>
                                <option>02</option>
                                <option>03</option>
                                <option>04</option>
                                <option>05</option>
                                <option>06</option>
                                <option>07</option>
                                <option>08</option>
                                <option>09</option>
                                <option>10</option>
                                <option>11</option>
                                <option>12</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last Apt Minute </label>
                            <select class="form-control" id="Time2M">
                                <option>00</option>
                                <option>05</option>
                                <option>10</option>
                                <option>15</option>
                                <option>20</option>
                                <option>25</option>
                                <option>30</option>
                                <option>35</option>
                                <option>40</option>
                                <option>45</option>
                                <option>50</option>
                                <option>55</option>
                            </select>
                        </div><div class="top-margin col-md-4">
                            <label>Last Apt Am/Pm </label>
                            <select class="form-control " id="Time2AM">
                                <option>AM</option>
                                <option>PM</option>
                            </select>
                        </div>
                    </div>
                    <input type="hidden" id="tid" />
                    <input type="hidden" id="tdate" />
                    <span class="autohide error" id="T1errortext"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-action" id="btnmyModalTime1">Save</button>
                </div>
            </div>
        </div>
    </div>
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Therapist Profile List
                <a class="btn btn-action pull-right" href="@Url.Action("dashboard","Admin")"> Back to Admin Home</a>
            </h3>
            <div class="clearfix"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-12 col-sm-12 ">
            <div class="col-md-12 col-sm-12  text-right">
                <a class="btn btn-action" href="@Url.Action("Etherapist_profiles","Admin")"> <icon class="glyphicon glyphicon-plus-sign"></icon>click to add New therapist </a>
            </div><div class="clearfix"></div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12">
                        <span class="pull-left voiletImp">scroll right or left for more information</span>
                        <span class="pull-right voiletImp">scroll down for more profiles</span>
                    </div>
                    <div class="top-margin table-responsive Xscroll">
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Image(Click for more Images)</th>
                                <th>Age/Location/Rate</th>
                                <th>Languages</th>
                                <th>Todays Availabilty</th>
                                <th>Other Days Clik on calendar green available</th>
                                <th>Massage Styles</th>
                                @if (Model.permission)
                                {
                                    <th>Hide/unhide</th>
                                }
                                <th>Client Rating (out of 10)</th>
                                <th>Comments</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                            @if (Model.profile != null)
                            {
                                int i = 0;
                                foreach (var item in Model.profile)
                                {
                                    i = i + 1;
                                    <tr>
                                        <td>@item.name</td>
                                        <td class="gallery">
                                            <a href="@Url.Content(item.imagePath)" rel="prettyPhoto[gallery_@i]">
                                                <img src="@Url.Content(item.imagePath)" alt="California Spa" />
                                            </a>
                                            @if (Model.images != null)
                                            {
                                                <div class="notDisplay">
                                                    @foreach (var items in Model.images.Where(a => a.thId == item.id).ToList())
                                                    {
                                                        <a href="@Url.Content(items.path)" rel="prettyPhoto[gallery_@i]">
                                                            <img src="@Url.Content(items.path)" alt="California Spa" />
                                                        </a>
                                                    }
                                                </div>
                                            }
                                        </td>
                                        <td>@item.Age/@item.location /<span>Rs &nbsp;</span>@item.rate  </td>
                                        <td>@item.languages</td>
                                        <td>
                                            @(Html.Raw(item.TodaysAvailabilty.Replace("-", " to ")))
                                        </td>
                                        <td>
                                            <div>
                                                <a href="#" value="cal" onclick="getCalender('@item.id')"><img src="@Url.Content("~/assets/images/Calendar.png")" alt="California Spa" /></a>
                                                <div id="@("myModal"+item.id)" class="modal fade" role="dialog">
                                                    <div class="modal-dialog">
                                                        <!-- Modal content-->
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <span class="voiletImp">Click on day to view availablity</span>
                                                                <button type="button" data-dismiss="modal" data-modelid="myModal2" class="close">Close[&times;]</button>

                                                            </div>
                                                            <div class="modal-body">
                                                                <div id="@("calendar"+item.id)"></div>
                                                            </div>
                                                            <div class="modal-footer">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <script type="text/javascript">
                                                $(function () {
                                                    $('#myModal' + '@item.id').on('shown.bs.modal', function () {
                                                        $("#calendar" + '@item.id').fullCalendar('render');
                                                        $('.fc-past>a').click(function () { return false; });
                                                    });
                                                });
                                            </script>
                                        </td>
                                        <td>@item.MassageStyles </td>
                                        @if (Model.permission)
                                        {
                                            <td class="nowrap">
                                                <select class="form-control" id="ddl_@i" onchange="updateShow('@item.token','@i')">
                                                    @foreach (var items in dict)
                                                    {
                                                        if (items.Key == item.showprofile.ToString().ToLower())
                                                        {
                                                            <option value="@items.Key" selected="selected">@items.Value</option>
                                                        }
                                                        else
                                                        {
                                                            <option value="@items.Key">@items.Value</option>
                                                        }
                                                    }
                                                </select>
                                            </td>
                                        }
                                        <td class="nowrap"><span>@item.ClientRating  </span> </td>
                                        <td>
                                            <div class="width500">
                                                @foreach (var items in item.Comments)
                                                {
                                                    <span>@items.Comment</span>
                                                }
                                            </div>
                                        </td>
                                        <td><a class="btn btn-action" href="@Url.Action("Etherapist_profiles","Admin",new {token=item.token})"><icon class="glyphicon glyphicon-pencil"></icon></a> </td>
                                        <td><a class="btn btn-action" onclick="Deleteall('@item.token')"><icon class="glyphicon glyphicon-trash"></icon></a> </td>

                                    </tr>
                                    <tr class="hover_@i notDisplay">
                                        <td colspan="9">
                                            <div class="pos" data-id="hover_@i" id="divhover_@i">
                                                <div class="progress">
                                                    <div class="progress-bar progress-bar-success width20" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
                                                        <span>@item.TodaysAvailabilty</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            }
                        </table>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script type="text/javascript" charset="utf-8">
    function updateShow(token, id) {
        var _val = $("#ddl_" + id).val();
        var url = "@Url.Action("changestatus", "TAccount")";
        $.get(url, { 'status': _val, 'token': token }, function () {

        });
    }

    function Deleteall(id) {
        var r = confirm('are you sure to delete ?');
        if (r == true) {
            var url = "@Url.Action("DeleteAccount", "Admin")";
            $.post(url, { '_xid': id },
                function (data) {
                    if (data.indexOf("Error") == -1) {
                        alert(data);
                        location.reload();
                    } else {
                        alert(data);
                    }
                });
        }
    }

    var id = 0;
    $('.modal').on('hidden.bs.modal', function (event) {
        $(this).removeClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') - 1);
    });

    $('.modal').on('shown.bs.modal', function (event) {
        if (typeof ($('body').data('fv_open_modals')) == 'undefined') {
            $('body').data('fv_open_modals', 0);
        }
        if ($(this).hasClass('fv-modal-stack')) {
            return;
        }
        $(this).addClass('fv-modal-stack');
        $('body').data('fv_open_modals', $('body').data('fv_open_modals') + 1);
        $(this).css('z-index', 1040 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('.fv-modal-stack')
                .css('z-index', 1039 + (10 * $('body').data('fv_open_modals')));
        $('.modal-backdrop').not('fv-modal-stack')
                .addClass('fv-modal-stack');
    });

    $("#myModalclose1").click(function () {
        $('#myModalTime1').modal('hide');
    });

    $(".avalImage").on("click", function () {
        var _ModalId = $(this).data("val");
        $('#' + _ModalId).modal({ backdrop: 'static', keyboard: false })
    });
    $(document).ready(function () {
        $("area[rel^='prettyPhoto']").prettyPhoto();
        $(".gallery:first a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'normal', theme: 'light_square', slideshow: 3000, autoplay_slideshow: false });
        $(".gallery:gt(0) a[rel^='prettyPhoto']").prettyPhoto({ animation_speed: 'fast', slideshow: 10000, hideflash: true });
    });
    function getCalender(_id) {
        var maxDate = moment(new Date()).format("YYYY-MM-D");
        $('#calendar' + _id).fullCalendar({
            theme: true,
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month'
            },
            firstDay: moment().weekday(),
            defaultDate: maxDate,
            editable: false,
            navLinks: true, // can click day/week names to navigate views
            eventLimit: true, // allow "more" link when too many events
            eventClick: function (event) {
                $("#T1herrortext").html('');
                var newDate = moment(event.start).format("YYYY-MM-D");
                if (newDate < maxDate) {
                    return false;
                }
                $("#thid").val(_id);
                $("#thdate").val(newDate);
                var start = $.fullCalendar.formatDate(event.start, "hh:mm A");
                var end = $.fullCalendar.formatDate(event.end, "hh:mm A");
                var _t = start.split(" ");
                var _h = _t[0].split(':');
                var _t2 = end.split(" ");
                var _h2 = _t2[0].split(':');
                $("#Time1hH").val(_h[0]);
                $("#Time2hH").val(_h2[0]);
                $("#Time1hM").val(_h[1]);
                $("#Time2hM").val(_h2[1]);
                $("#Time1hAM").val(_t[1]);
                $("#Time2hAM").val(_t2[1]);
                $("#spndate").html(moment(event.start).format("d-MMM-YY"));

                if (event.title == "&nbsp;" || event.title == "" || event.title == "Edited") {
                    $("#checkworking").val('Y');
                    $("#checkworking").attr('checked', false);
                    $(".dis").removeAttr("disabled");
                }
                else {
                    $("#checkworking").val('N');
                    $("#checkworking").attr('checked', true);
                    $(".dis").attr("disabled", "disabled");
                }
                $('#EditmyModalTime').modal({ backdrop: 'static', keyboard: false })
            },
            events: {
                url: '/therapist/GetEvents/',
                cache: true,
                type: 'GET',
                data: {
                    thid: _id
                },
                error: function () {
                    alert('there was an error while fetching events!');
                },
            }, eventRender: function (event, element) {
                var _class = element.find('.fc-title').parent().parent().hasClass('redEvent');
                if (_class == true) {
                    element.find('.fc-title').parent().parent().css("cssText", "background-color: grey !important;border-color: grey !important;");

                }
                var _title = element.find('.fc-title').html();
                if (_title != "&nbsp;") {
                    element.find('.fc-time').html("");
                    element.find('.fc-time').css("font-size", "9px");
                    element.find('.fc-title').css("font-size", "7px");
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<hr class="hr1" />' + $.fullCalendar.formatDate(event.end, "hh:mm A") + '<hr class="hr2" />');
                    //element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                } else {
                    element.find('.fc-time').html($.fullCalendar.formatDate(event.start, "hh:mm A") + '<br/>' + $.fullCalendar.formatDate(event.end, "hh:mm A"));
                }

                if (_title == "Not Working") {
                    element.find('.fc-time').html('');
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-title').html("Not <br/> Working");
                }
                else if (_title == "booked") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Booked");
                }
                else if (_title == "Not Available") {
                    element.find('.fc-title').css("font-size", "13px");
                    element.find('.fc-time').html('');
                    element.find('.fc-title').html("Not <br/> Available");
                }
            },
            dayRender: function (date, cell) {
                var maxDate = moment(new Date()).format("YYYY-MM-D");
                var newDate = moment(date).format("YYYY-MM-D");
                if (newDate < maxDate) {
                    $(cell).addClass('fc-not-allowed');
                    $(cell).css('background', 'grey');
                }
            },
            navLinkDayClick: function (date, jsEvent) {
                return false;
            },
        });

        $('#myModal' + _id).modal({ backdrop: 'static', keyboard: false })
        $(".fc-next-button").html("Next Month");
        $(".fc-prev-button").html("Prev Month");
    }
    $("#btnEditmyModalTime1").on('click', function () {
        $("#T1herrortext").html("please wait, while we updating time....");
        var _working = $("#checkworking").val();
        var _tid = $("#thid").val();
        var date = $("#thdate").val();
        var start = $("#Time1hH").val() + ":" + $("#Time1hM").val() + " " + $("#Time1hAM").val();
        var end = $("#Time2hH").val() + ":" + $("#Time2hM").val() + " " + $("#Time2hAM").val();
        var url = "@Url.Action("UpdateSchedule", "TAccount")";
        $.post(url, { 'working': _working, 'date': date, 'start': start, 'end': end, 'tid': _tid }, function (data) {
            if (data.indexOf("Error") == -1) {
                $('#calendar' + _tid).fullCalendar('refetchEvents'); //the event has been removed from the database at this point so I just refetch the events
                $('#EditmyModalTime').modal('hide');
            }
            else {
                $("#T1herrortext").html(data);
            }
        });
    });

    $("#EditmyModalTime1close").on('click', function () {
        $('#EditmyModalTime').modal('hide');
    });

    $('#checkworking').on('change', function () {
        if ($(this).is(':checked')) {
            $("#checkworking").val('N');
            $(".dis").attr("disabled", "disabled");
        }
        else {
            $("#checkworking").val('Y');
            $(".dis").removeAttr("disabled");
        }
    });
</script>