﻿
@{
    ViewBag.Title = "User Management";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@model californiaspa.Models.Account.adminlist

<style>
    .maxhght {
        max-height: 500px;
    }

    .nomargin {
        padding: 5px 8px !important;
        margin-right: 5px;
    }
</style>
<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                User List
                <a href="@Url.Action("dashboard","Admin")" class="btn btn-action pull-right">Return To Admin Home</a>
            </h3>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>

        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="@Url.Action("addadmin","Admin")" class="btn btn-action pull-right">Add New User</a>
                    <div class="clearfix"></div>
                    @if (Model.adminprofiles.Count > 0)
                    {
                        <div class="top-margin table-responsive Xscroll maxhght">
                            <table class="table">
                                <tr class="nowrap">
                                    <th>Sr no.</th>
                                    <th>Name</th>
                                    <th>E-mail Address</th>
                                    <th>Role</th>
                                    <th>Action</th>
                                </tr>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.adminprofiles)
                                {
                                    i = i + 1;
                                    <tr>
                                        <td>@i</td>
                                        <td>@item.Name</td>
                                        <td>@item.EmailAddress</td>
                                        <td>@item.rolename</td>
                                        <td><a class="btn btn-action nomargin" href="@Url.Action("editadmin","admin",new {_xid=item.token })"><i class="glyphicon glyphicon-pencil"></i></a><a class="btn btn-action nomargin" onclick="Deletereport('@item.token')" ><i class="glyphicon glyphicon-remove-sign"></i></a></td>
                                    </tr>
                                }
                            </table>
                        </div>
                                    }
                                    else
                                    {
                                        <span>No record Found</span>
                                    }
                    <hr>
                    <div class="row">
                        <div class="col-lg-4 text-right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script>

    function Deletereport(token)
        {
            var r = confirm("are You sure to delete?");
            if (r == true) {
                var _url = "@Url.Action("deletuser", "admin")";
                location.href = _url + "?token=" + token;
            }
        }
</script>

