﻿
@{
    ViewBag.Title = "Adminlogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .box
    {
        display:none;
    }
</style>
@model californiaspa.Models.Account.loginmodel
<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Admin Login</h1>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="thin text-center">Sign in to your account</h4>
                    <hr>
                    @using (Html.BeginForm("Adminlogin", "Account", FormMethod.Post, new { @id = "frmsendsms" }))
                    { <div class="top-margin">
                        <label>Email Address <span class="text-danger">*</span></label>
                        @Html.TextBoxFor(a => a.username, new { @class = "form-control", @required = "required", @type = "email" })
                    </div>
                        <div class="top-margin">
                            <label>Password <span class="text-danger">*</span></label>
                            @Html.HiddenFor(a => a.returnUrl)
                            @Html.TextBoxFor(a => a.password, new { @class = "form-control", @required = "required" })
                            @Html.ValidationMessageFor(a => a.password)
                        </div>
                        <div class="top-margin text-right ">
                            <b><a href="@Url.Action("AdminForgetPassword","account")" title="Forget password">Forgot password?</a></b>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" type="submit">Sign in</button>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </article> <script>
        $(window).load(function () {
            $(".box1").css("display", "none");
        });
       
    </script>
</div>
