﻿
@{
    ViewBag.Title = "Appointment Request";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
} 
@{
    int a = 0;
}
@model californiaspa.Models.Appointment.AppointmentModel
@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-MMM-y")</span> 
}
<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h4> Appointment Request
                <a href="@Url.Action("myaccount","Account")" class="btn btn-action pull-right" >Return to My profile</a>
              </h4>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span> 
            }
        </header>
        @foreach (var item in Model.appt)
        {
            a += 1;
            <div class="col-md-4  col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="top-margin">
                            <label>Name of Therapist  :</label>
                            <span>@item.therapistName</span> 
                        </div>
                        <div class="top-margin">
                            <label>Appointment Status  :</label>
                            <span>@item.status</span>
                        </div>
                        <div class="top-margin">
                            <label>Date :</label>
                            <span>@FormatDate(item.startDate)</span>
                        </div> 
                        <div class="top-margin">
                            <label> location:</label>
                            <span>@item.location</span>
                        </div>
                        @if (!string.IsNullOrEmpty(item.address))
                        {
                            <div class="top-margin">
                                <label>Address :</label>
                                <span>@item.address</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.houseNumber))
                        {
                            <div class="top-margin">
                                <label>House Number :</label>
                                <span>@item.houseNumber</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.aptNumber))
                        {
                            <div class="top-margin">
                                <label>Flat Number :</label>
                                <span>@item.aptNumber</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.hotelName))
                        {
                            <div class="top-margin">
                                <label>Hotel Name :</label>
                                <span>@item.hotelName</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.floorNumber))
                        {
                            <div class="top-margin">
                                <label>Floor Number :</label>
                                <span>@item.floorNumber</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.roomNumber))
                        {
                            <div class="top-margin">
                                <label>Room Number :</label>
                                <span>@item.roomNumber</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.aptName))
                        {
                            <div class="top-margin">
                                <label>Apt. Name :</label>
                                <span>@item.aptName</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.streetName))
                        {
                            <div class="top-margin">
                                <label>Street Name :</label>
                                <span>@item.streetName</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.crossstreetName))
                        {
                            <div class="top-margin">
                                <label>Cross Street Name :</label>
                                <span>@item.crossstreetName</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.landmark))
                        {
                            <div class="top-margin">
                                <label>LandMark :</label>
                                <span>@item.landmark</span>
                            </div>
                        }
                        @if (!string.IsNullOrEmpty(item.localityArea))
                        {
                            <div class="top-margin">
                                <label>Locality Area :</label>
                                <span>@item.localityArea</span>
                            </div>
                        }
                        <div class="top-margin">
                            <label>Amount :</label>
                            <span>Rs &nbsp;@item.rate </span>
                        </div>
                        <div class="top-margin">
                            <label>pick and drop or transport  :</label>
                            <span>@item.pickdrop</span>
                        </div>
                        <div class="top-margin">
                            <label>Custom Message  :</label>
                            <span> @item.custommessage</span>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-12">
                                @if (item.status == "pending" || item.status == "Return")
                                {
                                    <a class="btn btn-action" href="@Url.Action("cancel", "booking", new { tokenId = item.tokenId })"> Cancel Request </a>
                                    <br /> <br />  <a class="btn btn-action" href="@Url.Action("index","booking",new {token=item.token,tokenId=item.tokenId })"> Edit and send  </a>
                                }
                                else
                                {
                                    <a class="btn btn-action" href="@Url.Action("chat", "Account", new { _xid = item.Aid })"> Click to chat Therapist</a>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            if (a == 3)
            {
                <div class="clearfix"></div>
                a = 0;
            }
        } 
    </article> 
</div>
