﻿﻿﻿
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}
<style>
    hr {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .infodiv2 {
        font-weight: 700 !important;
        font-size: 16px !important;
        text-transform: uppercase !important;
        color: #7eb638 !important;
    }

    .adminpnl {
        display: none;
    }
</style>
@model californiaspa.Models.Account.AccountModel
<link href="@Url.Content("~/assets/css/Chat.css")" rel="stylesheet" />
<link href="@Url.Content("~/assets/css/UserChat.css")" rel="stylesheet" />
@{
    int tl = 1;
    int al = 1;
    var dict = new Dictionary<int, List<californiaspa.Models.Chat.chatModelitem>>();
    dict = Model.chatList._list.GroupBy(x => x.TherapistId).ToDictionary(x => x.Key, x => x.ToList());
}
@helper FormatDate(string date)
{
var d = Convert.ToDateTime(date);
    <span>@d.ToString("d-MMM-y")</span>
}
@helper FormatDateTime(string date, string time, string colorCode, int messageId)
{
var d = Convert.ToDateTime(date);
    <span id="time_@messageId" class='@colorCode'>@d.ToString("d-MMM-y") ; @time</span>
}
<style>
    .fotterPadding {
        display: none;
    }
</style>

<script>
    setInterval(function () { GetClientUpdateChat(); }, 5000);
    setInterval(function () { GetAdminUpdateChat(); }, 5000);
    function GetClientUpdateChat() {
        var id = '@Model.clientId';
        var str = moment(new Date()).format("D-MMM-YY ; hh:mm:A");
        var url = "@Url.Action("GetUpdatedClientChatByClientId", "chat")";
        $.post(url, { 'clientId': id }, function (d) {
            $.each(d.chatList._list, function (k, v) {
                $("#lastSmsdate_" + v.TherapistId).html(moment(new Date()).format("D-MMM-YY ; hh:mm:A"));
                $("#chat_" + v.TherapistId).append("<li id='li_" + v.MessageId + "' data-id='lis_" + v.MessageId + "' data-key='" + v.TherapistId + "' class='Therapistselectmessage by-me'><div class='chat-content' id='chatid_" + v.MessageId + "'> <input type='checkbox'  data-key='" + v.TherapistId + "'  value='" + v.MessageId + "' id='check_" + v.MessageId + "'   class='checkTherapistselectmessage notDisplay' /><div class='clearfix'></div><div class='chat-meta'><span   id='time_" + v.MessageId + "' class='pull-right black'>" + str + "</span></div><div class='clearfix'></div><span class='fnd black' id='msg_" + v.MessageId + "'  >" + v.LastMassage + "</span><div class='clearfix'></div></div></li>");

                $("#lastsms_" + v.TherapistId).html(v.LastMassage);
                var wtf = $('#chatdiv_' + v.TherapistId);
                var height = wtf[0].scrollHeight;
                wtf.scrollTop(height);
            });

        });
    };


    function GetAdminUpdateChat() {
        var id = '@Model.clientId';
        var str = moment(new Date()).format("D-MMM-YY ; hh:mm:A");
        var url = "@Url.Action("GetUpdatedAdminChatByClientId", "chat")";
        $.post(url, { 'clientId': id }, function (d) {
          $.each(d.chatList._list, function (k, v) {
              $("#Adminlastsms").html(v.LastMassage);
              $("#Adminchat").append("<li id='li_" + v.MessageId + "' data-id='lis_" + v.MessageId + "'  class='adminselectmessage by-me'><div class='chat-content' id='chatid_" + v.MessageId + "'> <input type='checkbox'   value='" + v.MessageId + "' id='check_" + v.MessageId + "'  class='checkadminselectmessage notDisplay' /><div class='clearfix'></div><div class='chat-meta'><span   id='time_" + v.MessageId + "' class='pull-right black'>" + str + "</span></div><div class='clearfix'></div><span class='fnd black' id='msg_" + v.MessageId + "'  >" + v.LastMassage + "</span><div class='clearfix'></div></div></li>");

                $("#AdminlastSmsdate").html(moment(new Date()).format("D-MMM-YY ; hh:mm:A"));
                var wtf = $('#Adminchatdiv');
                var height = wtf[0].scrollHeight;
                wtf.scrollTop(height);
            });
        });
    };

</script>

<div class="row">
    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h4>
                Chat
                <a href="@Url.Action("dashboard","main")" id="chatbtn" class="btn btn-action pull-right">Return to Client home</a>
                <a id="homebtn" onclick="ReturnUserGenric()" class="btn btn-action pull-right notDisplay">Return to Chat </a>
                <input type="hidden" id="rtid" />
                <input type="hidden" id="atid" />
            </h4>
            <div class="clearfix"></div>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
            @Html.HiddenFor(a => a.chatDivId)
        </header>
        <div class="col-md-6 col-sm-6">
            @foreach (var item in dict)
            {
                tl = 1;
                <div class="col-md-12 col-sm-12 notDisplay" id="ChatTranscript_@item.Key">
                    <div class="panel panel-default ">
                        <div class="panel-body ">
                            <div class="avatar pull-left col-md-4">
                                <img onclick="ReturntoChat('@item.Key')" class="dummy1 width11" src="@Url.Content("~/assets/images/backarrow.png")" alt="My Account" />
                                <img class="width11" src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                                <label>@item.Value.FirstOrDefault().TherapistName</label>
                            </div>
                            <div class="col-md-8 notDisplay" id="Therapisteditdiv_@item.Key">
                                <div class="avatar pull-left col-md-6">
                                    <a title="Copy Message" onclick="copyTherapistmessage('@item.Key')" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-file"></i>Copy</a>
                                </div>
                                @*<div class="col-md-6 pull-right">
                                        <a title="Remove message" onclick="deleteTherapistMessage('@item.Key')" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-remove"></i>Delete</a>
                                    </div>*@
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-md-12">
                                <span>Select message by pressing on them, To Copy selected message press Copy</span>
                            </div>
                            <div class="clearfix"></div>
                            <hr class="customhr" />
                        </div>
                        <div class="panel-body">
                            <!-- Widget content -->
                            <div class="padd sscroll firstchatdiv" id="chatdiv_@item.Key">
                                <ul class="chats" id="chat_@item.Key">
                                    @foreach (var items in item.Value.ToList())
                                    {
                                        if (items.SenderId != items.ClientId)
                                        {
                                            <li data-id="lis_@items.MessageId" id="li_@items.MessageId" data-key="@item.Key" class='Therapistselectmessage by-me @(tl==1?"msghide":"")'>
                                                <div class='chat-content' id="chatid_@items.MessageId">
                                                    <input type="checkbox" data-key="@item.Key" value="@items.MessageId" id="check_@items.MessageId" class="checkTherapistselectmessage notDisplay" />
                                                    <div class='clearfix'></div>
                                                    <div class='chat-meta'><span class='pull-right'>@FormatDateTime(items.CreatedDate, items.time, "black", items.MessageId) </span></div>
                                                    <div class='clearfix'></div>
                                                    <span class="fnd black" id="msg_@items.MessageId">   @items.LastMassage</span> <div class="clearfix"></div>
                                                </div>
                                            </li>
                                        }
                                        else
                                        {
                                            <li data-id="lis_@items.MessageId" id="li_@items.MessageId" data-key="@item.Key" class='Therapistselectmessage by-other @(tl==1?"msghide":"")'>
                                                <div class="avatar pull-right">
                                                </div>
                                                <div class="chat-content" id="chatid_@items.MessageId">
                                                    <input type="checkbox" data-key="@item.Key" value="@items.MessageId" id="check_@items.MessageId" class="checkTherapistselectmessage notDisplay" />
                                                    <div class='clearfix'></div>
                                                    <div class="chat-meta pull-right">@FormatDateTime(items.CreatedDate, items.time, "white", items.MessageId)  </div>
                                                    <div class="clearfix"></div>
                                                    <span class="fnd black" id="msg_@items.MessageId">   @items.LastMassage</span><div class="clearfix"></div>
                                                </div>
                                            </li>
                                        }
                                        tl = 2;
                                    }
                                </ul>
                            </div>
                            <div class="clearfix"></div>
                            <hr class="customhr" />
                            <!-- Widget footer -->
                            <div class="widget-foot">
                                <div class="form-group width90">
                                    <textarea placeholder="Type your message here..." id="txtchat_@item.Key" class="form-control width100" rows="4"></textarea>
                                </div>
                                <button onclick="AddChatToDB('@item.Key','@item.Value.First()._ttoken','@item.Value.First()._ctoken')" type="button" id="btnchat_@item.Key" class="btn btn-info">Send</button>
                                <div class="clearfix"></div>

                            </div>
                        </div>
                    </div>
                </div>

            }

            <div class="col-md-12 col-sm-12 chat" id="chatreplacer">
                <div class="panel panel-default pnl">
                    <div class="page-header pnlhdr">
                        <h4>Click on therapist name to chat with Therapist</h4>
                        <span class="infodiv2">  (you can only chat if you have a confirmed appointment.To book one Go to Therapist profile page. DO NOT SHARE ANY CONTACT INFO PHONE NUMBER EMAIL ETC 1 lakh VIOLATION THERAPIST WILL CALL FROM SPA PHONE )</span>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                @Html.TextBoxFor(a => a.searchtoken, new { @placeholder = "Search by Name", @class = "form-control" })
                            </div>
                            <div class="col-md-2 pull-left">
                                <a onclick="getChatBySearch()" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-search"></i></a>
                            </div>
                            <div class="col-md-2 pull-right">
                                <a title="Clear Chat" onclick="ClearChatBySearch()" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-remove"></i></a>
                            </div>
                            <div class="clearfix"></div>
                            <hr class="customhr" />
                        </div>
                        <div class="chat1">
                            @foreach (var item in dict)
                            {
                                <div onclick="GetChatTranscripts('@item.Key')">
                                    <div class="left col-md-6">
                                        <label>
                                            <img src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                                            @item.Value.FirstOrDefault().TherapistName
                                        </label>
                                    </div>
                                    <span class="right col-md-6" id="lastSmsdate_@item.Key">@FormatDateTime(item.Value.Last().CreatedDate, item.Value.Last().time, "", 0)</span>
                                    <div class="clearfix"></div>
                                    <p id="lastsms_@item.Key" class="col-md-12">@item.Value.Last().LastMassage</p>
                                    <div class="clearfix"></div>
                                    <hr class="customhr" />
                                </div>
                            }
                        </div>
                    </div>
                    <div class="margintop500 whatsAppClass">
                        <span> NEED HELP contact Admin  on WhatsApp 9591895700</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6   col-sm-6  ">
            <div class="col-md-12 col-sm-12 notDisplay" id="AdminChatTranscript">
                <div class="panel panel-default ">
                    <div class="panel-body ">
                        <div class="avatar pull-left col-md-4">
                            <img onclick="ReturntoChatAdmin('AdminChatTranscript')" class="dummy3  width11" src="@Url.Content("~/assets/images/backarrow.png")" alt="My Account" />
                            <img src="@Url.Content("~/assets/images/user.png")" alt="My Account" class="width11" />
                            <label>Admin</label>
                        </div>
                        <div class="col-md-8 notDisplay" id="adminDiv">
                            <div class="avatar pull-left col-md-6">
                                <a title="Copy Message" onclick="copyadminmessage()" class="btnpadding btn btn-action"><i class="glyphicon glyphicon-file"></i>Copy</a>
                            </div>
                            <div class="col-md-6 pull-right">
                                <a title="Remove message" onclick="deleteadminMessage()" class="btn btn-action btnpadding"><i class="glyphicon glyphicon-remove"></i>Delete</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-12">
                            <span>Select message by pressing on them, To Copy selected message press Copy</span>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="customhr" />
                    </div>
                    <div class="panel-body">
                        <!-- Widget content -->
                        <div class="padd sscroll firstchatdiv" id="Adminchatdiv">
                            <ul class="chats" id="Adminchat">
                                @foreach (var items in Model.AdminchatList._list)
                                {
                                    if (items.SenderId != items.ClientId)
                                    {
                                        <li data-id="lis_@items.MessageId" id="li_@items.MessageId" class='adminselectmessage by-me @(al==1?"msghide":"")'>
                                            <div class='chat-content' id="chatid_@items.MessageId">
                                                <input type="checkbox" value="@items.MessageId" id="check_@items.MessageId" class="notDisplay checkadminselectmessage" />
                                                <div class='chat-meta'><span class='pull-right'>@FormatDateTime(items.CreatedDate, items.time, "black", items.MessageId) </span></div>
                                                <div class='clearfix'></div>
                                                <span class="fnd black" id="msg_@items.MessageId">   @items.LastMassage</span> <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    }
                                    else
                                    {
                                        <li data-id="lis_@items.MessageId" id="li_@items.MessageId" class='adminselectmessage by-other @(al==1?"msghide":"")'>
                                            <div class="avatar pull-right">
                                            </div>
                                            <div class="chat-content" id="chatid_@items.MessageId">
                                                <input type="checkbox" value="@items.MessageId" id="check_@items.MessageId" class="checkadminselectmessage notDisplay" />
                                                <div class='clearfix'></div>
                                                <div class="chat-meta pull-right">@FormatDateTime(items.CreatedDate, items.time, "white", items.MessageId)  </div>
                                                <div class="clearfix"></div>
                                                <span class="fnd black" id="msg_@items.MessageId">   @items.LastMassage</span> <div class="clearfix"></div>
                                            </div>
                                        </li>
                                    }
                                    al = 2;
                                }
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <hr class="customhr" />
                        <!-- Widget footer -->
                        <div class="widget-foot">
                            <div class="form-group width90">
                                <textarea placeholder="Type your message here..." id="Admintxtchat" class="form-control width90" rows="4"></textarea>
                            </div>
                            <button type="button" onclick="AddAdminChatToDB('@Model.AdminchatList._list.FirstOrDefault()._ctoken')" id="btnchat1" class="btn btn-info">Send</button>
                            <div class="clearfix"></div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-12 col-sm-12 chat2">
                <div class="panel panel-default adminpnl">
                    <div class="page-header pnlhdr">
                        <h4>Click on admin Name to chat with Admin</h4>
                    </div>
                    <div class="panel-body">
                        <div class="chat3">
                            @foreach (var item in Model.AdminchatList._list.OrderByDescending(a => a.CreatedDate).Take(1).ToList())
                            {
                                <div onclick="GetChatAdminTranscripts('AdminChatTranscript')">
                                    <div class="left col-md-6">
                                        <label>
                                            <img src="@Url.Content("~/assets/images/user.png")" alt="My Account" />
                                            Admin
                                        </label>
                                    </div>
                                    <span class="right col-md-6" id="AdminlastSmsdate">@FormatDateTime(item.CreatedDate, item.time, "", 0)</span>
                                    <div class="clearfix"></div>
                                    <p id="Adminlastsms" class="col-md-12">@item.LastMassage</p>
                                    <div class="clearfix"></div>
                                    <hr class="customhr" />
                                </div>
                            }
                        </div>
                    </div>

                    <div class="margintop500 whatsAppClass">
                        <span> NEED HELP contact Admin  on WhatsApp 9591895700</span>
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>
<script>

    function copyTherapistmessage(key) {
        var text = "";
        $("#copydiv").html('');
        $('.checkTherapistselectmessage:checked').each(function () {
            $(this).prop('checked', false);
            $("#li_" + $(this).val()).removeClass("selected");
            var time = $("#time_" + $(this).val()).html();
            var txt = $("#msg_" + $(this).val()).html();
            text += txt + " " + time;
        });
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(text).select();
        document.execCommand("copy");
        $temp.remove();
        $("#Therapisteditdiv_" + key).hide(1000);
    }

    function copyadminmessage() {
        var text = "";
        $('.checkadminselectmessage:checked').each(function () {
            $(this).prop('checked', false);
            $("#li_" + $(this).val()).removeClass("selected");
            var time = $("#time_" + $(this).val()).html();
            var txt = $("#msg_" + $(this).val()).html();
            text += txt + " " + time;
        });
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(text).select();
        document.execCommand("copy");
        $temp.remove();
        $("#adminDiv").hide(1000);
    }

    $(document).on('click', '.adminselectmessage', function () {

        var id = $(this).data('id').split('_');
        if ($("#check_" + id[1]).is(':checked')) {
            $("#check_" + id[1]).prop('checked', false);
            $("#li_" + id[1]).removeClass("selected");
        }
        else {
            $("#check_" + id[1]).prop('checked', true);
            $("#li_" + id[1]).addClass("selected");
        }
        if ($('.checkadminselectmessage:checked').length > 0) {

            $("#adminDiv").show(1000);
        }
        else {
            $("#adminDiv").hide(1000);
        }
    });


    function deleteadminMessage(key) {
        var array = [];
        $('.checkadminselectmessage:checked').each(function () {
            array.push($(this).val());
            $("#li_" + $(this).val()).html('');
            $("#li_" + $(this).val()).removeClass("selected");
        });
        $("#adminDiv").hide(1000);
        var url = "@Url.Action("DeleteClientmessage", "admin")";
        $.post(url, $.param({ data: array }, true),
            function (data) {

            });
    }

    $(document).on('click', '.Therapistselectmessage', function () {
        var id = $(this).data('id').split('_');
        var key = $(this).data('key');
        if ($("#check_" + id[1]).is(':checked')) {
            $("#check_" + id[1]).prop('checked', false);
            $("#li_" + id[1]).removeClass("selected");
        }
        else {
            $("#check_" + id[1]).prop('checked', true);
            $("#li_" + id[1]).addClass("selected");
        }
        if ($('.checkTherapistselectmessage:checked').length > 0) {
            $("#Therapisteditdiv_" + key).show(1000);
        }
        else {
            $("#Therapisteditdiv_" + key).hide(1000)
        }
    });


    function deleteTherapistMessage(key) {
        var array = [];
        $('.checkTherapistselectmessage:checked').each(function () {
            array.push($(this).val());
            $("#li_" + $(this).val()).html('');
            $("#li_" + $(this).val()).removeClass("selected");
        });
        $("#Therapisteditdiv_" + key).hide(1000);
        var url = "@Url.Action("DeleteClientmessage", "admin")";
        $.post(url, $.param({ data: array }, true),
            function (data) {

            });
    }


    function copythismessage(div) {
        var text = $(div).next().next().next().next().next('span').html();
        setTimeout(function () { $(div).next().delay(150).fadeOut("slow"); }, 1000);
        $(div).next().show();
        var $temp = $("<input>");
        $("body").append($temp);
        $temp.val(text).select();
        document.execCommand("copy");
        $temp.remove();
    }

    function getChatBySearch() {
        var url = "@Url.Action("GetChat", "Account")";
        var serchrToken = $("#searchtoken").val();
        if ($.trim(serchrToken) != '') {
            $.post(url, { 'searchToken': serchrToken }, function (data) {
                $("#chatreplacer").html(data);
            });
        }
    }

    function DeleteThisMsg(val) {
        var url = "@Url.Action("Deletemessage", "admin")";
        $.post(url, { '_xid': val }, function () {

        });
        $("#li_" + val).html('');
    }

    function ClearChatBySearch() {
        var url = "@Url.Action("GetChat", "Account")";
        $.post(url, { 'searchToken': '' }, function (data) {
            $("#chatreplacer").html(data);
        });
    }

    function _deleteRequest(token) {
        var r = confirm('are you sure to delete ?');
        if (r == true) {
            location.href = "@Url.Action("cancel", "booking")" + "?tokenid=" + token;
        }
    }

    function AddChatToDB(chattextId, terapisttoken, clienttoken) {
        var _val = $("#txtchat_" + chattextId).val();
        if (_val != "") {
            var dt = new Date();
            var str = moment(new Date()).format("D-MMM-YY ; hh:mm:A");
            $("#txtchat_" + chattextId).val('');
            $("#lastsms_" + chattextId).html(_val);
            var url = "@Url.Action("SaveClientChat", "chat")";
            $.post(url, { 'ctoken': clienttoken, 'ttoken': terapisttoken, 'text': _val }, function (d) {
                $("#lastSmsdate_" + chattextId).html(moment(new Date()).format("D-MMM-YY ; hh:mm:A"));
                $("#chat_" + chattextId).append("<li id='li_" + d + "' data-id='lis_" + d + "' data-key='" + chattextId + "' class='Therapistselectmessage by-other'><div class='chat-content' id='chatid_" + d + "'> <input type='checkbox'   value='" + d + "' id='check_" + d + "'  class='checkTherapistselectmessage notDisplay' /><div class='clearfix'></div><div class='chat-meta'><span   id='time_" + d + "' class='pull-right black'>" + str + "</span></div><div class='clearfix'></div><span class='fnd black' id='msg_" + d + "'  >" + _val + "</span><div class='clearfix'></div></div></li>");
                var wtf = $('#chatdiv_' + chattextId);
                var height = wtf[0].scrollHeight;
                wtf.scrollTop(height);
            });
        }
    }

    function AddAdminChatToDB(cltoken) {
        var _val = $("#Admintxtchat").val();
        if (_val != "") {
            var dt = new Date();
            var str = moment(new Date()).format("D-MMM-YY ; hh:mm:A");
            $("#Admintxtchat").val('');
            $("#Adminlastsms").html(_val);
            _val = _val.replace(/\b(\w)+\@@(\w)+\.(\w)+\b/g, "")
            debugger;
            return false;
            var url = "@Url.Action("SaveAdminChat", "chat")";
            $.post(url, { 'ctoken': cltoken, 'text': _val }, function (d) {
                $("#Adminchat").append("<li id='li_" + d + "' data-id='lis_" + d + "'   class='by-other adminselectmessage'><div class='chat-content' id='chatid_" + d + "'> <input   type='checkbox' value='" + d + "'  id='check_" + d + "'  class='checkadminselectmessage notDisplay' /><div class='clearfix'></div><div class='chat-meta'><span   id='time_" + d + "' class='pull-right black'>" + str + "</span></div><div class='clearfix'></div><span class='fnd black' id='msg_" + d + "'  >" + _val + "</span><div class='clearfix'></div></div></li>");
                 $("#AdminlastSmsdate").html(moment(new Date()).format("D-MMM-YY ; hh:mm:A"));
                var wtf = $('#Adminchatdiv');
                var height = wtf[0].scrollHeight;
                wtf.scrollTop(height);
            });
        }
    }
    function ReturnUserGenric() {
        var _id = $("#rtid").val();
        var _aid = $("#atid").val();
        $(".chat2").show(1000);
        $(".chat").show(1000);
        $("#ChatTranscript_" + _id).hide(1000);
        $("#" + _aid).hide(1000);
        $("#chatbtn").show(1000);
        $("#homebtn").hide(1000);
    }

    function GetChatTranscripts(Id) {
        $(".chat").hide(1000);
        $("#ChatTranscript_" + Id).show(1000);
        var wtf = $("#chatdiv_" + Id);
        $("#chatbtn").hide(1000);
        $("#homebtn").show(1000);
        $("#rtid").val(Id);
        var height = wtf[0].scrollHeight;
        wtf.scrollTop(height);
    }

    function ReturntoChat(Id) {
        $(".chat").show(1000);
        $("#ChatTranscript_" + Id).hide(1000);
        $("#rtid").val(Id);
        $("#chatbtn").show(1000);
        $("#homebtn").hide(1000);
    }

    function GetChatAdminTranscripts(Id) {
        $(".chat2").hide(1000);
        $("#" + Id).show(1000);
        $("#chatbtn").hide(1000);
        $("#homebtn").show(1000);
        $("#atid").val(Id);
        var wtf = $("#Adminchatdiv");
        var height = wtf[0].scrollHeight;
        wtf.scrollTop(height);
    }

    function ReturntoChatAdmin(Id) {
        $(".chat2").show(1000);
        $("#" + Id).hide(1000);
        $("#chatbtn").show(1000);
        $("#homebtn").hide(1000);
        $("#atid").val(Id);
    }
    $(window).load(function () {

        var chatid = $("#chatDivId").val();
        if (chatid != "0") {
            $("#chatreplacer").hide();
            $("#ChatTranscript_" + chatid).show();
        }
    });
</script>
