﻿@{
    ViewBag.Title = "Pending Appointment";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

@helper GetFormatDate(string date)
{
    <span>@(Convert.ToDateTime(date).ToString("d-MMM-y")) </span>
}
<style>
    .Xscroll {
        max-height: 500px;
        overflow: scroll;
    }
</style>
@model californiaspa.Models.Account.AccountModel
<link href="@Url.Content("~/assets/css/MyAccount.css")" rel="stylesheet" />

<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Confirmed Appointment List
                <a href="@Url.Action("dashboard","main")" class="btn btn-action pull-right">Return to Client home</a>
            </h3>
        </header>
        @if (Model.appointmentList.Count > 0)
        {
            <div class="col-md-12 col-sm-12 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <label>Confirmed Appointments (Scroll down to view more)<span>Click on Therapist name to view Appointment detail </span></label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="top-margin table-responsive Xscroll">
                            <div class="tbl">
                                <table class="table">
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>Therapist Name</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Address</th>
                                        <th>Amount</th>
                                    </tr>
                                    @if (Model.appointmentList != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.appointmentList)
                                        {
                                            i = i + 1;
                                            <tr onclick="GetAppointment('@item.token','C')">
                                                <td>@i</td>
                                                <td>@item.Name</td>
                                                <td class="nowrap">@(Convert.ToDateTime(item.date).ToString("d-MMM-yy"))</td>
                                                <td>@item.time</td>
                                                <td>@item.address</td>
                                                <td>@(item.amount.ToString().Split('.')[0]) <span>Rs</span></td>
                                            </tr>

                                        }
                                    }
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4 text-right">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <span> No Confirmed Apointment found currently</span>
        }
    </article>
</div>
<script>
    function ViewPendingAppointmens(tokenId) {
        var name = "P";
        location.href = "@Url.Action("Getrequest", "Admin")" + "?token=" + tokenId + "&name=" + name;
    }
    function GetAppointment(tokenId,name) {
        var url = "@Url.Action("Getrequest", "Appointment")" + "?token=" + tokenId+"&name="+name;
        location.href = url;
    }

    function _deleteRequest(token) {
        var r = confirm('are you sure to delete ?');
        if (r == true) {
            location.href = "@Url.Action("cancel", "booking")" + "?tokenid=" + token;
        }
    }

</script>
