﻿
@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}
@model californiaspa.Models.Account.AccountModel
<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Edit UserName</h1>
        </header> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (!String.IsNullOrEmpty(Model.ErrorText))
                    {
                        <span class="autohide error">@Model.ErrorText</span>
                        <script>
                         autohide();
                        </script>
                    }
                    <h3 class="thin text-center">Verify Account</h3>
                    <hr>
                    @using (Html.BeginForm("editusername", "Account", FormMethod.Post, new { @id = "frmsendsms" }))
                    {    <div class="top-margin">
                        <label>Enter Email Verification Code (Check Inbox)</label>
                        @Html.TextBoxFor(a => a.emailVerification, new { @class = "form-control", @required = "required" })
                    </div>
                        <div class="top-margin">
                            <label>Enter Mobile Verification Code (check SMS)</label>
                            @Html.TextBoxFor(a => a.mobileVerification, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>User Name</label>
                            @Html.TextBoxFor(a => a.userName, new { @class = "form-control", @required = "required" })
                            @Html.HiddenFor(a => a._exid)
                            @Html.HiddenFor(a => a._mxid)
                        </div>
                        <div class="top-margin">
                            <label>Emaill Address</label>
                            @Html.TextBoxFor(a => a.emailAddress, new { @class = "form-control", @required = "required" })
                        </div>
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 text-right">
                                <a href="@Url.Action("myaccount","Account")" class="btn btn-action">Cancel</a> 
                            </div>
                            <div class="col-lg-4">
                                <label class="checkbox notDisplay" >
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" type="submit">Verify</button>
                            </div>
                        </div>
                    }
                </div>
            </div> 
        </div> 
    </article> 
</div>
