﻿
@{
    ViewBag.Title = "Edit user";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";

    
    //TODO - JP add below scripts 

}


<link rel="stylesheet" href="~/assets/build/css/intlTelInput.css">
<script src="~/assets/build/js/intlTelInput.min.js"></script>
    

@model californiaspa.Models.Account.EditAccount

<div class="row">  
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Edit Your UserName</h1>
        </header> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (!String.IsNullOrEmpty(Model.ErrorText))
                    {
                        <span class="autohide error">@Model.ErrorText</span>
                        <script>
                         autohide();
                        </script>
                    }
                    <h3 class="thin text-center">Edit Username</h3> 
                    <hr> 
                   @using (Html.BeginForm("edituser", "Account", FormMethod.Post, new { @id = "frmsendsms" }))
                   {

                    <div class="top-margin">
                            <label>Old UserName</label> 
                            @Html.TextBoxFor(a => a.OldUserName, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                        <div class="top-margin">
                            <label>Old Email Address</label>
                            @Html.TextBoxFor(a => a.OldEmailId, new { @class = "form-control", @readonly = "readonly" })
                        </div>



                       //TODO - JP remove textbox for and update with below
                        @Html.HiddenFor(a => a.CountryCode)

                    <div class="top-margin">
                        <label>Enter New UserName (Mobile number)</label>
                        @Html.EditorFor(a => a.newUserName, new { @class = "form-control", @required = "required" })
                    </div>
                       //End Changes
         <div class="top-margin">
                            <label>Enter New Email Address</label>
                            @Html.TextBoxFor(a => a.newEmailId, new { @class = "form-control", @required = "required" })
                        </div>
                        <hr> 
                        <div class="row">
                            <div class="col-lg-4 text-right">
                                <a href="@Url.Action("myaccount", "Account")" class="btn btn-action" >Cancel</a> 
                            </div>
                            <div class="col-lg-4">
                                <label class="checkbox notDisplay"  >
                                    <input type="checkbox">
                                    Remember me
                                </label>
                            </div>
                            <div class="col-lg-4 text-right">
                                @{
                                    //TODO - JP add classname btnSubmit 
                                }
                                <button class="btn btn-action btnSubmit" type="submit">Update</button>
                            </div>
                        </div>
                   }
                </div>
            </div> 
        </div> 
    </article> 
</div>

