﻿
@{
    ViewBag.Title = "Edit Passowrd";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

@model californiaspa.Models.Account.PasswordModel
<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Edit Your Password</h1>
        </header>
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (!String.IsNullOrEmpty(Model.ErrorText))
                    {
                        <span class="autohide error">@Model.ErrorText</span>
                        <script>
                            autohide();
                        </script>
                    }
                    <h3 class="thin text-center">Edit Password</h3>
                    <hr>
                    @using (Html.BeginForm("editpassword", "Account", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                        <div class="top-margin">
                            <label>Old password</label>
                            @Html.TextBoxFor(a => a.OldPassword, new {  @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>New Password</label>
                            @Html.TextBoxFor(a => a.NewPassword, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Confirm Password</label>
                            @Html.TextBoxFor(a => a.confirmPassword, new { @class = "form-control", @required = "required" })
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-lg-4">
                                <button class="btn btn-action" type="submit">Update</button>
                            </div>
                            <div class="col-lg-4 text-right">
                                <a class="btn btn-action" href="@Url.Action("Myaccount","Account")">cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </article> 
</div>
