﻿
@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @model californiaspa.Models.Account.loginmodel
<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">forget Password</h1>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="thin text-center">Forget your password ?</h3>
                     <hr> 
                    @using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post, new { @id = "frmsendsms" }))
                    { <div class="top-margin">
                            <label>Please enter your Username (This is your 10 digit mobile number )<span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.username, new { @class = "form-control", @required = "required" })
                        </div> 
                        <hr> 
                        <div class="row"> 
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" type="submit">Submit</button>
                            </div>
                            <div class="col-lg-4 text-right">
                                <a class="btn btn-action" href="@Url.Action("Login","Account")">Cancel</a>
                            </div>
                        </div>
                    }
                </div>
            </div> 
        </div> 
    </article> 
</div>

