﻿
@{
    ViewBag.Title = "Appointment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header"> 
        </header> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="thin text-center"> Register to view therapist profiles</h4>
                     <hr>
                    <div class="row">
                        <div class="col-lg-6"> 
                            <b><a class="btn btn-action" href="@Url.Action("register","account")">New clients click here</a></b>
                        </div>
                        <div class="col-lg-6"> 
                            <b><a class="btn btn-action" href="@Url.Action("login","account")">Registered clients click here </a></b>
                        </div>
                    </div>
                </div>
            </div> 
        </div> 
    </article> 
</div>