﻿
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model californiaspa.Models.Account.loginmodel
<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Client Sign In</h1>
            @if (!string.IsNullOrEmpty(Model.ErrorText))
            {
                <span class="autohide error">@Model.ErrorText</span>
            }
        </header> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h4 class="thin text-center">Sign in to your account</h4>
                     <hr> 
                    @using (Html.BeginForm("login", "Account", FormMethod.Post, new { @id = "frmsendsms" }))
                    {  <div class="top-margin">
                            <label>Username <span class="text-danger">*</span>(Please enter your 10 digit mobile number)</label>
                            @Html.TextBoxFor(a => a.username, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Password <span class="text-danger">*</span></label>
                            @Html.HiddenFor(a=>a.returnUrl)
                            @Html.TextBoxFor(a => a.password, new { @class = "form-control", @required = "required", @type = "text" })
                            @Html.ValidationMessageFor(a => a.password)
                        </div>
                        <div class="top-margin text-right"  >
                            <b><a href="@Url.Action("ForgetPassword","account")">Forgot password?</a></b>
                        </div>
                        <hr> 
                        <div class="row">
                            <div class="col-lg-8"> 
                                <b><a class="btn btn-action" href="@Url.Action("register","account")">If you have not registered before Click here</a></b>
                            </div>
                            <div class="col-lg-4 text-right">
                                <button class="btn btn-action" type="submit">Sign in</button>
                            </div>
                        </div>
                    }
                </div>
            </div> 
        </div> 
    </article> 
</div>

