﻿﻿
@{
    ViewBag.Title = "Pending Appointment";
    Layout = "~/Views/Shared/_Layoutuser.cshtml";
}

@helper GetFormatDate(string date)
{
    <span>@(Convert.ToDateTime(date).ToString("dd-MMM-y")) </span>
}
<style>
    .Xscroll {
        max-height: 500px;
        overflow: scroll;
    }
    .modal-content {
    background-color: #6e0202 !important;
    width: 100%;
}
    .close {
    color: #b30afb !important;
    text-shadow: 0 1px 0 #b30afb;
    opacity: 9.2;
}
</style>
@model californiaspa.Models.Account.AccountModel
<link href="@Url.Content("~/assets/css/MyAccount.css")" rel="stylesheet" />
<div id="myModal12info" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" id="btnModal12info" data-modelid="myModal12info">Close[&times;]</button>
                <h4 class="modal-title" id="hotelname">Cancel Appointment Request</h4>
            </div>
            <div class="modal-body">
                <span id="hotelterm">
                    Please send therapist chat request to cancel
                </span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-action" id="btnModal12info1">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h3 class="page-title">
                Pending Appointment List
                <a href="@Url.Action("dashboard","main")" class="btn btn-action pull-right">Return to Client home</a>
            </h3>
        </header>
        @if (Model.pendingAppointment.Count > 0)
        {
            <div class="col-md-12 col-sm-12 ">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <label>Pending Appointments (Scroll down to view more)<span>Click on Therapist name to view Appointment detail </span></label>
                        </div>
                        <div class="clearfix"></div>
                        <div class="top-margin table-responsive">

                            <div class="tbl2">
                                <table class="table">
                                    <tr>
                                        <th>Sr no.</th>
                                        <th>Therapist Name</th>
                                        <th>Date</th>
                                        <th>Time</th>
                                        <th>Address</th>
                                        <th>Amount</th>
                                        <th>Cancel Request</th>
                                        <th>Edit Request</th>
                                    </tr>
                                    @if (Model.pendingAppointment != null)
                                    {
                                        int i = 0;
                                        foreach (var item in Model.pendingAppointment)
                                        {
                                            i = i + 1;
                                            <tr>
                                                <td onclick="GetAppointment('@item.token','D')">@item.srno</td>
                                                <td onclick="GetAppointment('@item.token','D')">@item.Name</td>
                                                <td class="nowrap">@(Convert.ToDateTime(item.date).ToString("dd-MMM-yy"))</td>
                                                <td onclick="GetAppointment('@item.token','D')">@item.time</td>
                                                <td onclick="GetAppointment('@item.token','D')">@item.address</td>
                                                <td onclick="GetAppointment('@item.token','D')">@(item.amount.ToString().Split('.')[0]) <span>Rs</span></td>
                                                <td><a class="btn btn-action btns" onclick="_deleteRequest('@item.token')" href="#"><i class="glyphicon glyphicon-remove"></i></a></td>
                                                <td><a class="btn btn-action btns" href="@Url.Action("index","booking",new {tokenid=item.token,token=item.tokenId })"><i class="glyphicon glyphicon-pencil"></i></a></td>
                                            </tr>

                                        }
                                    }
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <hr>
                        <div class="clearfix"></div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                @ViewBag.paging
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <span> No pending Apointment found currently</span>
        }
    </article>
</div>
<script>
    function ViewPendingAppointmens(tokenId) {
        var name = "P";
        location.href = "@Url.Action("Getrequest", "Admin")" + "?token=" + tokenId + "&name=" + name;
    }
    function GetAppointment(tokenId, name) {
        var url = "@Url.Action("Getrequest", "Appointment")" + "?token=" + tokenId + "&name=" + name;
        location.href = url;
    }

    function _deleteRequest(token) {
       $('#myModal12info').modal({ backdrop: 'static', keyboard: false });
        @*var r = confirm('are you sure to delete ?');
        if (r == true) {
            location.href = "@Url.Action("cancel", "booking")" + "?tokenid=" + token;
        }*@
    }
    $("#btnModal12info").click(function () {
        $('#myModal12info').modal('hide'); 
    });
    $("#btnModal12info1").click(function () {
        $('#myModal12info').modal('hide'); 
    });

    
</script>
