﻿
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 @model californiaspa.Models.Account.loginmodel
<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Forget Password</h1>
        </header> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="thin text-center"></h3>
                    <p class="text-center text-muted">@Model.ErrorText</p> 
                </div>
            </div> 
        </div> 
    </article> 
</div>
