﻿
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model californiaspa.Models.Account.TRegisterModel
<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Appointment</h1>
        </header> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (!String.IsNullOrEmpty(Model.ErrorText))
                    {
                        <span class="autohide error">@Model.ErrorText</span>
                        <script>
                            autohide();
                        </script>
                    }
                    <h4 class="thin text-center">Register a new account</h4>
                    <hr> 
                    @using (Html.BeginForm("TRegister", "Account", FormMethod.Post, new { @id = "frmsendsms" }))
                    {
                        <div class="top-margin">
                            <label>Email Address <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.email, new { @class = "form-control", @type = "email", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Mobile Number <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.mobile, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Name <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.name, new { @class = "form-control", @required = "required" })
                        </div> 
                        <div class="top-margin">
                            <label>Age <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.age, new { @class = "form-control", @type = "number", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>location <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.location, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Languages <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.languages, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Rate <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.rate, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>Massage Styles <span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.massageStyle, new { @class = "form-control", @required = "required" })
                        </div> 
                        <div class="top-margin">
                            <span>
                                Verification Code will be sent to Mobile
                            </span>
                        </div>
                            <hr>
                            <div class="row">
                                <div class="col-lg-8">
                                    <a class="btn btn-action" href="@Url.Action("Tlogin","Account")">If you have registered before click here</a>
                                </div>
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-action" type="submit">Register</button>
                                </div>
                            </div>
                    }
                </div>
            </div> 
        </div> 
    </article> 
</div>

