﻿
@{
    ViewBag.Title = "Verification";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model californiaspa.Models.Account.RegisterModel
<div class="row"> 
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Verify - Registration</h1>
        </header> 
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    @if (!String.IsNullOrEmpty(Model.ErrorText))
                    {
                        <span class="autohide error">@Model.ErrorText</span>
                        <script>
                         autohide();
                        </script>
                    }
                    <h3 class="thin text-center">Verify Account</h3>
                    <hr>
                    @using (Html.BeginForm("Verification", "Account", FormMethod.Post, new { @id = "frmsendsms" }))
                    {    <div class="top-margin">
                        <label>Enter Email Verification Code (Check Inbox)<span class="text-danger">*</span></label>
                        @Html.TextBoxFor(a => a.emailVerification, new { @class = "form-control", @required = "required" })
                    </div>
                        <div class="top-margin">
                            <label>Enter Mobile Verification Code(check SMS)<span class="text-danger">*</span></label>
                            @Html.TextBoxFor(a => a.mobileVerification, new { @class = "form-control", @required = "required" })
                        </div>
                        <div class="top-margin">
                            <label>User Name</label>
                            @Html.TextBoxFor(a => a.userName, new { @class = "form-control" })
                            @Html.HiddenFor(a => a._exid)
                            @Html.HiddenFor(a => a._mxid)
                        </div>
                        <div class="row top-margin">
                            <div class="col-sm-6">
                                <label>Create Your Password <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(a => a.password, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(a=>a.password)
                            </div>
                            <div class="col-sm-6">
                                <label>Verify Password <span class="text-danger">*</span></label>
                                @Html.TextBoxFor(a => a.verifypassword, new { @class = "form-control", @required = "required" })
                                @Html.ValidationMessageFor(a => a.password)
                            </div>
                        </div> 
                        <hr> 
                        <div class="row">
                            <div class="col-lg-6">
                                 <ul>
                                     <li>
                                         <span>Password must be 8 in length</span> </li> <li>
                                         <span>combination of alphabets and numbers no special characters</span>
                                     </li>
                                 </ul>
                            </div>
                            <div class="col-lg-3 text-right">
                                <a class="btn btn-action" href="@Url.Action("Register","Account")">Cancel</a>
                            </div>
                            <div class="col-lg-3 text-right">
                                <button class="btn btn-action" type="submit">Verify</button>
                            </div>
                        </div>
                    }
                </div>
            </div> 
        </div> 
    </article> 
</div>
