﻿
@{
    ViewBag.Title = "confirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <!-- Article main content -->
    <article class="col-xs-12 maincontent">
        <header class="page-header">
            <h1 class="page-title">Appointment Confirm</h1>
        </header>

        <div class="col-md-8 col-md-offset-1 col-sm-8 col-sm-offset-1">
            <div class="panel panel-default">
                <div class="panel-body">


                    <form>
                        <div class="top-margin">
                            <label>Name of therapist :</label>
                            <span>Umesh Kamboj</span>
                        </div>
                        <div class="top-margin">
                            <label>Date :</label>
                            <span>24-feb-1990</span>
                        </div>
                        <div class="top-margin">
                            <label>Start time :</label>
                            <span>06:26 PM</span>
                        </div>

                        <div class="top-margin">
                            <label>Start location:</label>
                            <span># 353 street - calfornia 1</span>
                        </div>
                        <div class="top-margin">
                            <label>Arrival time :</label>
                            <span>06:26 PM</span>
                        </div>
                        <div class="top-margin">
                            <label>Address :</label>
                            <span># 353 street - calfornia 1</span>
                        </div>
                        <div class="top-margin">
                            <label>Amount :</label>
                            <span>20$</span>
                        </div>
                        <div class="top-margin">
                            <label>pick and drop or transport  :</label>
                            <span>transport</span>
                        </div>
                        <div class="top-margin">
                            <label>Custom Message  :</label>
                            <span> Hello how are you , I want to meet you with this new example , with demo class in this demo class</span>
                        </div>


                        <hr>
                        <div class="row">
                            <div class="col-lg-3">
                                <span> Please review all detail including start time</span>
                            </div>
                            <div class="col-lg-9 text-right">
                                <button class="btn btn-action" type="submit"> Edit </button>
                                <button class="btn btn-action" type="submit">Confirm Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>

    </article>
    <!-- /Article -->

</div>
